<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 center-image">
      <%= image_tag "svgs/login.svg", alt: "Login Logo", class: "users-image" %>
      <h5 class="users-image-text"><%= t("welcome_back_text") %></h5>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="users-form-container">
        <h2 class="users-main-heading"><%= t("users.confirmations.resend_confirmation_instructions") %></h2>
        <%= form_with(model: resource, as: resource_name, url: confirmation_path(resource_name), method: :post, local: true) do |f| %>
          <%= devise_error_messages! %>
          <p class="text-muted fw-semibold">
  Didn’t receive the confirmation email? Enter your email and resend it.
</p>

<div class="field mb-3">
  <div class="input-group">
    <%= f.submit t("users.confirmations.resend_confirmation_instructions"),
    class: "btn btn-warning btn-lg fw-bold w-100 mt-3 users-primary-button",
    style: "letter-spacing: 0.5px;" %>
  </div>
</div>
          <div class="field mb-3">
            <div class="input-group">
             <%= f.submit t("users.confirmations.resend_confirmation_instructions"),
class: "btn btn-warning btn-lg fw-bold w-100 mt-3 users-primary-button",
style: "letter-spacing: 0.5px;" %>
            </div>
          </div>
          <%= render(AuthComponents::SocialLoginComponent.new(devise_mapping: devise_mapping, resource_name: resource_name)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
