<div id="<%= @id %>" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header secondary-modal-header">
        <h4 class="modal-title"><%= t("delete") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p><%= @message %></p>
      </div>
      <div class="modal-footer">
        <%= link_to @delete_path, method: :delete, class: "btn primary-delete-button", id: @button_id do %>
          <%= t("delete") %>
        <% end %>
      </div>
    </div>
  </div>
</div>