<div class="container footer-empty-div">
</div>
<div class="container-fluid footer-container-fluid">
  <div class="container footer-container mb-4">
    <div class="gap-4">
      <div class="footer-column">
        <div class="d-flex align-items-center justify-content-between">
          <!-- Added inline style here to shift logo more to the left -->
          <div class="footer-logo-wrapper">
            <a href="/">
              <%= helpers.image_tag("CircuitVerse.png", class: "footer-logo", alt: "CircuitVerse Logo") %>
            </a>
          </div>
          <div class="text-start">
            <%= render(SocialLinksComponent.new) %>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <%= render(FooterLinksComponent.new(@current_user)) %>
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-6 footer-sponsor-logo-div d-flex flex-column align-items-start">
              <small class="text-start footer-sponsor-logo-text footer-heading-text max-w-200">
                <%= t("layout.footer.sponsor_logo_text.incubated_from") %>
              </small>
              <a href="http://zense.co.in/" rel="noopener noreferrer" target="_blank">
                <%= helpers.image_tag("footer/zense.png", class: "footer-sponsor-logo max-w-200", alt: "Zense Logo") %>
              </a>
            </div>

            <div class="col-6 footer-sponsor-logo-div d-flex flex-column align-items-sm-end align-items-start">
              <small class="text-start footer-sponsor-logo-text footer-heading-text max-w-200">
                <%= t("layout.footer.sponsor_logo_text.infrastructure_sponsor") %>
              </small>
              <a href="https://fossunited.org/" rel="noopener noreferrer" target="_blank">
                  <%= helpers.image_tag("footer/fossunited.png", class: "footer-sponsor-logo", alt: "FOSS United Logo") %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top border-white">
    <div class="col-12 d-flex justify-content-center align-items-center text-white text-start footer-copyright-text">
      <p><%= t("layout.footer.copyright_text", time_current_year: current_year) %></p>
    </div>
  </div>
</div>
