<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-column">
  <div class="row text-left">
    <div class="col-5 footer-links">
      <% left_column_links.each do |link| %>
        <%= link_to link[:url], target: link[:target] do %>
          <h6><%= t(link[:text]) %></h6>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 footer-links">
      <% right_column_links.each do |link| %>
        <%= link_to link[:url], target: link[:target] do %>
          <h6><%= t(link[:text]) %></h6>
        <% end %>
      <% end %>
      <% if forum_enabled? %>
        <h6><%= link_to t("layout.footer.link_to_forum"), simple_discussion_path %></h6>
      <% end %>
    </div>
  </div>
</div>
