<% cache "recent-projects-#{params[:after]}-#{params[:before]}", expires_in: 10.minutes do %>
  <div class="container" id="recent">
    <div class="row center-row home-circuit-card-row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h3><%= t("circuitverse.index.recent_circuits.main_heading") %></h3>
        <p><%= t("circuitverse.index.recent_circuits.main_description") %></p>
      </div>
    </div>
    <div class="row center-row justify-content-center">
      <% @projects.each do |project| %>
        <%= render CircuitCardComponent.new(
          image: helpers.project_image_preview(project, current_user),
          alt: project.name,
          text: project.name,
          link: user_project_url(project.author, project)
        ) %>
      <% end %>
    </div>
    <div class="container pagination-cont">
      <div class="pagination justify-content-center">
        <% if @projects_page.has_previous? %>
          <%= link_to t("previous"), root_path(before: @projects_page.previous_cursor), class: "page-link" %>
        <% end %>
        <% if @projects_page.has_next? %>
          <%= link_to t("next"), root_path(after: @projects_page.next_cursor), class: "page-link" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

