<div id="<%= @modal_id %>" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header secondary-modal-header">
        <h4 class="modal-title"><%= t("delete") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p><%= t(@message_key) %></p>
      </div>
      <div class="modal-footer" <%= 'data-bs-dismiss="modal"' if @footer_dismiss %>>
        <% link_options = { method: @method, class: "btn primary-delete-button", id: @button_id } %>
        <% link_options[:remote] = true if @remote %>
        <%= link_to @delete_path, **link_options do %>
          <%= t("delete") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
