<div class="container" <%= "id=\"#{section_id}\"" if section_id %>>
  <div class="row center-row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="main-heading"><%= title %></h2>
      <p class="main-description"><%= description %></p>
    </div>
  </div>
  <div class="row center-row teams-section">
    <% members.each do |member| %>
      <div class="team-member-container team-link">
        <div class="team-underline">
          <a target="_blank" rel="noopener noreferrer" href="<%= member[:link] %>">
            <%= image_tag member[:img], alt: "#{member[:name]} Profile Image", class: "about-contributor-image" %>
            <p class="team-footer"><%= member[:name] %></p>
          </a>
        </div>
      </div>
    <% end %>
    <br><br>
  </div>
</div> 