<% content_for :title, t("privacy.title") %>
<div class="container">
  <h1><%= t("privacy.main_heading") %></h1>
  <p><%= t("privacy.main_description_html") %></p>
  <p class="qtext_para"><b><%= t("privacy.information_collect.main_heading") %></b></p>
  <p class="qtext_para"><%= t("privacy.information_collect.main_description") %></p>
  <p class="qtext_para"><%= t("privacy.information_collect.item1_description_html") %></p>
  <p class="qtext_para"><%= t("privacy.information_collect.item2_description_html") %></p>
  <p class="qtext_para"><%= t("privacy.information_collect.item3_description_html") %></p>
  <p class="qtext_para"><b><%= t("privacy.how_information_used.main_heading") %></b></p>
  <p class="qtext_para"><%= t("privacy.how_information_used.main_description") %></p>
  <p class="qtext_para"><%= t("privacy.how_information_used.list_header") %></p>
  <ul>
    <li><%= t("privacy.how_information_used.list_item1") %></li>
    <li><%= t("privacy.how_information_used.list_item2") %></li>
    <li><%= t("privacy.how_information_used.list_item3") %></li>
    <li><%= t("privacy.how_information_used.list_item4") %></li>
    <li><%= t("privacy.how_information_used.list_item5") %></li>
    <li><%= t("privacy.how_information_used.list_item6") %></li>
  </ul>
  <p class="qtext_para"><%= t("privacy.information_collect.item4_description_html") %></p>
  <p class="qtext_para"><%= t("privacy.information_collect.item5_description_html") %></p>
  <p class="qtext_para"><%= t("privacy.information_collect.item6_description_html") %></p>
  <p class="qtext_para"><b><%= t("privacy.contact_us_heading") %></b></p>
  <p class="qtext_para"><%= t("privacy.contact_us_description_html") %></p>
</div>
