<% content_for :title, t("privacy.title") %>
<div class="container">
  <h1 class="text-center my-4"><%= t("privacy.main_heading") %></h1>
  <p>
    <%= sanitize(t("privacy.recognition_html"), tags: %w[a i b em strong], attributes: %w[href rel target class data-qt-tooltip]) %>
  </p>
  <p class="qtext_para"><b><%= t("privacy.information_collect_heading") %></b></p>
  <p class="qtext_para">
    <%= t("privacy.information_collect_description") %>
  </p>
  <p class="qtext_para">
    <b><i><%= t("privacy.account_profile_heading") %></i></b>:
    <%= t("privacy.account_profile_description") %>
  </p>
  <p class="qtext_para">
    <b><i><%= t("privacy.integrated_service_heading") %></i></b>
    <%= t("privacy.integrated_service_description") %>
  </p>
  <p class="qtext_para">
    <b><i><%= t("privacy.auto_collect_heading") %></i></b>.
    <%= t("privacy.auto_collect_description") %>
  </p>
  <p class="qtext_para"></p>
  <p class="qtext_para"><b><%= t("privacy.use_info_heading") %></b></p>
  <p class="qtext_para">
    <%= sanitize(t("privacy.use_info_description_html"), tags: %w[a i b em strong], attributes: %w[href rel target class data-qt-tooltip]) %>
  </p>
  <p class="qtext_para">
    <%= t("privacy.cv_uses_info") %>
  </p>
  <ul>
    <li><%= t("privacy.use_services") %></li>
    <li><%= t("privacy.tailor_content") %></li>
    <li><%= t("privacy.understand_users") %></li>
    <li><%= t("privacy.evaluate_improve") %></li>
    <li><%= t("privacy.comply_legal") %></li>
    <li><%= t("privacy.investigate") %></li>
  </ul>
  <p class="qtext_para">
    <b><i><%= t("privacy.content_activity_heading") %></i></b>
    <%= t("privacy.content_activity_description") %>
  </p>
  <p class="qtext_para">
    <b><i><%= t("privacy.anonymized_heading") %></i></b>
    <%= t("privacy.anonymized_description") %>
  </p>
  <p class="qtext_para">
    <b><%= t("privacy.tracking_heading") %></b>
    <%= t("privacy.analytics_tools_heading") %> -
    <%= sanitize(t("privacy.analytics_tools_description_html"), tags: %w[a i b em strong], attributes: %w[href rel target class data-qt-tooltip]) %>
    <%= t("privacy.analytics_info") %>
  </p>
  <p class="qtext_para"></p>
  <p class="qtext_para"><b><%= t("privacy.contact_heading") %></b></p>
  <p class="qtext_para">
    <%= t("privacy.contact_description") %>
    <span class="qlink_container">
      <a href="mailto:support@circuitverse.org" rel="noopener nofollow" class="external_link"><i><%= t("privacy.support_email") %></i></a>
    </span>
  </p>
</div>
