<link rel="stylesheet" type="text/css" href="/css/restrictedElements.css">
<script src="/js/metadata.json"></script>

<%= form_with(model: [group, @assignment],
  local: true,
  html: { onsubmit: "beforeSubmit()" },
  multipart: true,
  id: "assignmentForm",
  "data-controller": "assignment") do |form| %>

  <% if @assignment.errors.any? %>
    <div class="error-message">
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Flipper.enabled?(:lms_integration, current_user) %>
    <div id="lms-integration-field" class="field mb-3">
      <div class="form-check">
        <%= check_box_tag "lms-integration-check", "1",
          @assignment.lti_integrated?,
          class: "form-check-input",
          id: "lms-integration-check" %>

        <label for="lms-integration-check" class="form-check-label fw-semibold">
  Integrate with LMS
</label>
</div>

      <div class="lms-integration-message">
        <p>
          We will generate the required keys for integration after assignment creation.
          <a href="<%= lms_integration_tutorial %>">
            Learn how to integrate CircuitVerse assignments with any LMS
          </a>
        </p>
      </div>
    </div>
  <% end %>

  <!-- NAME -->
  <div class="field mb-3">
    <%= form.label :name, class: "form-label fw-semibold" %>
    <%= form.text_field :name, class: "form-control form-input" %>
  </div>

  <!-- DESCRIPTION -->
  <div class="field mb-3">
    <%= form.label :description, "Description", class: "form-label fw-semibold" %>
    <%= render partial: "editor/index", locals: { content: @assignment.description } %>
  </div>

  <!-- DEADLINE -->
  <div class="field mb-3">
    <label for="assignment_deadline" class="form-label fw-semibold">
      <%= t("assignments.deadline") %>
    </label>
    (<span id="remaining-time">
      <b><%= t("assignments.remaining_time_error") %></b>
    </span>)
    <input id="assignment_deadline"
           name="assignment[deadline]"
           type="text"
           class="form-control form-input">
  </div>

  <!-- GRADING -->
  <div class="field mb-3" style="margin-top: 15px;">
    <%= form.label :grading_scale, class: "form-label fw-semibold" %>

    <% if @assignment.new_record? %>
      <span><%= t("assignments.form.grade_scale_cant_change") %></span>

      <% if Flipper.enabled?(:lms_integration, current_user) %>
        <div class="lms-grade-fixed-message">
          <p>Grading Scale needs to be fixed at 1-100 for LMS</p>
        </div>
      <% end %>

      <%= form.select :grading_scale,
        [[t("assignments.form.no_grade"), :no_scale],
         [t("assignments.form.letter"), :letter],
         [t("assignments.form.percent"), :percent],
         [t("assignments.form.custom"), :custom]],
        {},
        class: "form-control form-input" %>

    <% else %>
      <div class="assignments-noedit-grade-field">
        <p>
          <%= t("assignments.form.cannot_be_edited",
          graded: AssignmentDecorator.new(@assignment).graded) %>
        </p>
      </div>
    <% end %>
  </div>

  <!-- ELEMENT RESTRICTION -->
  <div class="field mb-3">
    <label class="primary-checkpoint-container d-flex align-items-center gap-2">
      <%= check_box_tag "restrict-elements", "1",
        @assignment.elements_restricted?,
        id: "restrict-elements" %>

      <span><%= t("assignments.form.enable_element_restriction") %></span>
      <div class="primary-checkpoint"></div>
    </label>
    <div class="restricted-elements-list"></div>
  </div>

  <!-- FEATURE RESTRICTION -->
  <div class="field mb-3">
    <label class="primary-checkpoint-container d-flex align-items-center gap-2">
      <%= check_box_tag "restrict-feature", "1",
        false,
        id: "restrict-feature" %>

      <span><%= t("assignments.form.enable_feature_restriction") %></span>
      <div class="primary-checkpoint"></div>
    </label>
    <div class="restricted-feature-list"></div>
  </div>

  <!-- SUBMIT -->
  <div class="field mb-3">
    <%= form.submit class: "btn primary-button" %>
    <%= link_to t("back"), :back, class: "anchor-text" %>
  </div>

<% end %>

<script>
  $(document).ready(function() {
    loadRestrictions(JSON.parse('<%= raw @assignment.clean_restricted_elements %>'));
    loadDeadlinePicker();
    loadltiIntegration();
  });

  function loadltiIntegration(){
    $('#lms-integration-check').change(function () {
      if ($(this).is(':checked')) {
        $('.lms-integration-message').show();
        $('.lms-grade-fixed-message').show();
        $('#assignment_grading_scale').attr('readonly', true).val('percent');
      } else {
        $('.lms-integration-message').hide();
        $('.lms-grade-fixed-message').hide();
        $('#assignment_grading_scale').removeAttr('readonly');
      }
    }).trigger('change');
  }

  function loadDeadlinePicker() {
    $('#assignment_deadline').datetimepicker({
      format: 'd/m/Y H:i',
      minDate: formatDate(new Date(),'d/m/Y'),
      step: 30,
      value: defaultAssignmentDate()
    });
  }

  function beforeSubmit() {
    cleanEditor();
    generateRestrictions();
    generateDate();
    generateFeatureRestrictions();
  }
</script>

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>
