<script src="/js/metadata.json"></script>

<%= form_with(model: [group, @assignment], local: true, html: { onsubmit: "beforeSubmit()" }, multipart: true, id: "assignmentForm", "data-controller": "assignment") do |form| %>
  <% if @assignment.errors.any? %>
    <div class="error-message">
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if Flipper.enabled?(:lms_integration, current_user) %>
    <div id="lms-integration-field" class="field mb-3">
      <label for="lms-integration-check" class="primary-checkpoint-container">
        <%= check_box_tag "lms-integration-check", checked: @assignment.lti_integrated? %>
        <span>Integrate with LMS</span>
        <div class="primary-checkpoint"></div>
      </label>
      <div class="lms-integration-message">
        <p>
          We will generate the required keys for integration after assignment creation.
          <a href="<%= lms_integration_tutorial %>">Learn how to integrate CircuitVerse assignments with any LMS</a>
        </p>
      </div>
    </div>
  <% end %>

  <div id="name-field" class="field mb-3">
    <h6><%= form.label :name %></h6>
    <%= form.text_field :name, id: :assignment_name, class: "form-control form-input" %>
  </div>

  <div id="description" class="field mb-3">
    <h6><%= form.label :description %></h6>
    <%= render partial: "editor/index", locals: { content: @assignment.description } %>
  </div>

  <div id="deadline-field" class="field form-group projects-tag-mb-3">
    <h6><label for="assignment_deadline"><%= t("assignments.deadline") %></label></h6>
    (<span id='remaining-time'><b><%= t("assignments.remaining_time_error") %></b></span>)
    <input id="assignment_deadline" name="assignment[deadline]" type="text" class="form-control form-input">
  </div>

  <div id="grade-field" class="form-group projects-tag-mb-3" style="margin-top: 15px;">
    <h6><%= form.label :grading_scale %></h6>
    <% if @assignment.new_record? %>
      <span><%= t("assignments.form.grade_scale_cant_change") %></span>
      <% if Flipper.enabled?(:lms_integration, current_user) %>
        <div class="lms-grade-fixed-message">
          <p>Grading Scale needs to be fixed at 1-100 for passing the grade back to LMS</p>
        </div>
      <% end %>
      <%= form.select :grading_scale, [[t("assignments.form.no_grade"), :no_scale], [t("assignments.form.letter"), :letter], [t("assignments.form.percent"), :percent], [t("assignments.form.custom"), :custom]], {}, class: "form-control form-input" %>
    <% else %>
      <div class="assignments-noedit-grade-field">
        <p><%= t("assignments.form.cannot_be_edited", graded: AssignmentDecorator.new(@assignment).graded) %></p>
      </div>
    <% end %>
  </div>

  <div id="restrictions-field" class="field mb-3">
    <label for="restrict-elements" class="primary-checkpoint-container d-flex align-items-center gap-2">
      <%= check_box_tag "restrict-elements", nil, @assignment.elements_restricted?, data: { action: "assignment#handleElementMainCheckbox" } %>
      <span><%= t("assignments.form.enable_element_restriction") %></span>
      <div class="primary-checkpoint"></div>
    </label>
    <div class="restricted-elements-list"></div>
  </div>

  <div id="feature-restrictions-field" class="field mb-3">
    <label for="restrict-feature" class="primary-checkpoint-container d-flex align-items-center gap-2">
      <%= check_box_tag "restrict-feature", nil, @assignment.feature_restricted?, data: { action: "assignment#handleFeatureMainCheckbox" } %>
      <span><%= t("assignments.form.enable_feature_restriction") %></span>
      <div class="primary-checkpoint"></div>
    </label>
    <div class="restricted-feature-list"></div>
  </div>

  <div class="field mb-3">
    <%= form.submit class: "btn primary-button" %> &nbsp;
    <%= link_to t("back"), :back, class: "anchor-text" %>
  </div>
<% end %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>

