<div class="container feature">
  <div class="row">

    <div class="col">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @assignment.name %>
      </p>

      <p>
        <strong>Group:</strong>
        <%= @assignment.group.name %>
      </p>

      <p>
        <strong>Deadline:</strong>
        <div class="date">
          <%= @assignment.deadline.strftime("%d %b,%Y %I:%M %p %Z") %>
        </div>
        <% if(@assignment.deadline > Time.now) %>
          <p> <strong>Time remaining: </strong><%=(( @assignment.deadline.to_i - Time.now.to_i)/1.day)%> days,  <%=(( @assignment.deadline.to_i- Time.now.to_i)/1.hour)%24%> hours, <%=(( @assignment.deadline.to_i- Time.now.to_i)/1.minute)%60%> minutes</p>
      <% end %>
      </p>

      <p>
        <strong> Graded: </strong>
        <%= @assignment.graded %>
      </p>

      <p>
        <strong>Description:</strong>
        <p><%= @assignment.description&.html_safe%></p><br>
      </p>

    <% if @assignment.restricted_circuit_elements != "None" %>
      <p>
        <strong>Restricted Circuit Elements:</strong>
        <p> <%= @assignment.restricted_circuit_elements %> </p><br>
      </p>
   <% end %>

      <%= link_to 'Back', group_path(@group) %>

      <%if policy(@assignment).admin_access? && @assignment.status!="closed"%>

          <%=link_to 'Edit', edit_group_assignment_path(@group,@assignment) %>

      <%end%>

      <%if policy(@assignment).can_be_graded? %>
        <%= link_to 'Export', grades_to_csv_path(@assignment, format: :csv) %>
      <%end%>

    </div>


  </div>
  <hr>
  <%if policy(@assignment).admin_access? %>
  <div class="row">

    <script>
        $( function() {
            $('.list-group-item-action').on('click', function (e) {
                e.preventDefault()
                $("#assignmentPreview").attr("src","/simulator/" + e.currentTarget.id );
                $(this).tab('show')
                var cssLink = document.createElement("link");
                cssLink.href = '/css/embed.css';
                cssLink.rel = 'stylesheet';
                cssLink.type ='text/css';
                frames['assignmentPreview'].document.head.appendChild(cssLink);
            })
        } );
    </script>

    <div class="col-3">
      <div class="overflow:scroll">
        <div class="list-group" id="list-tab" role="tablist" id="submissionTable" style="max-height:600px;overflow:hidden;overflow-y:scroll">
          <% @assignment.project_order.each do |project| %>
              <a class="list-group-item list-group-item-action" id=<%= project.id%> data-grade="<%= project.grade_str %>" data-remarks="<%= project.remarks_str %>"><%= project.author.name  %></a>
          <%end%>

        </div>
      </div>

    </div>
    <div class="col col-9">

      <div class="embed-responsive embed-responsive-4by3 feature">
        <iframe src="" name="assignmentPreview" id="assignmentPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
      </div>
    </div>
  </div>

  <% if policy(@assignment).can_be_graded? %>
    <div class="row grade-container">
      <div class="col-3">
        <span class="bold"> Enter Grade & Remarks: </span>
        <span id="project-grade-error" class="error"></span>
        <div class = "grade-show-container">
          <span class="bold"> Grade & Remarks: </span><span id="project-grade"> Select a project to view/add grade</span>,<span id="project-remarks">remarks</span>
        </div>
      </div>
      <div class="col-9">
          <%= form_with(model: Grade.new, multipart: true, id: "assignment-grade-form", url: "/grades") do |form| %>
            <%= form.hidden_field :project_id, id: "assignment-project-id" %>
            <%= form.hidden_field :assignment_id, value: @assignment.id %>
            <div class="assignment-grade-inputs">
            <% if @assignment.grading_scale == "percent" %>
              <%= form.number_field :grade, id: "assignment-grade-grade", min: 0, max: 100, placeholder: "Grades..." %>
            <% elsif @assignment.grading_scale == "letter" || @assignment.grading_scale == "custom" %>
              <%= form.text_field :grade, id: "assignment-grade-grade", placeholder: "Grades..."%>
            <% end %>
              <%= form.text_field :remarks, id: "assignment-grade-remarks", placeholder: "Remarks..." %>
            </div>
            <div style="margin-top: 10px">
              <%= button_tag 'Submit', id: "grade-form-submit" %>
              <%= button_tag 'Remove', id: "grade-form-remove" %>
            </div>
            <div class="grade-form-help">
              * <%= @assignment.grading_scale_str %>
            </div>
          <% end %>
      </div>
    </div>
    <script src="/js/grading.js"> </script>
  <% end %>
  <%end%>

  <script>
      $(document).ready(function() {
          $('.date').each(function(){
              this.innerHTML = formatDate(new Date(this.innerHTML), "dddd hh:mmTT zz, dd MMM yyyy")
          })})
  </script>
</div>
