<div>
  <h2><%= t("mailer.welcome_heading", name: @user.name) %></h2>
  <%= inline_svg_tag "SVGs/newProject.svg", alt: "New Project", class: "mailer-assignment-image" %>
  <p class="mailer-text"><%= t("user_mailer.forked_project_email.project_forked_html", original_author: @old_project.author.name + "/" + @old_project.name, forked_name: @new_project.name, access_type: @new_project.project_access_type ) %></p>
  <a href="<%= user_project_url(@user, @new_project) %>" class="mailer-button"><%= t("mailer.view_project") %></a>
  <p class="mailer-text"><%= t("mailer.keep_building") %></p>
</div>
