<div>
  <h2><%= t("mailer.welcome_heading", name: @user.name) %></h2>
  <%= inline_svg_tag "SVGs/newProject.svg", alt: "New Project", class: "mailer-assignment-image" %>
  <p class="mailer-text"><%= t("user_mailer.new_project_email.project_created_html", name: @project.name) %></p>
  <a href="<%= user_project_url(@user, @project) %>" class="mailer-button"><%= t("mailer.view_project") %></a>
  <p class="mailer-text"><%= t("mailer.keep_building") %></p>
</div>
