<div>
  <h2><%= t("mailer.welcome_heading", name: @user.name) %></h2>
  <%= inline_svg_tag "homepage/new_homepage_sketch.png", alt: "Welcome", class: "mailer-group-image" %>
  <p class="mailer-welcome-text mailer-text"><%= t("user_mailer.welcome_email.welcome_text_html") %></p>
  <a href="https://circuitverse.org/simulator" class="mailer-button"><%= t("launch_simulator") %></a> <br>
  <div class="mailer-showcase-container">
    <div class="mailer-showcase-card">
      <%= inline_svg_tag "PNGs/features.png", alt: "Features", class: "mailer-showcase-card-image" %>
      <h3 class="mailer-showcase-heading"><%= t("features_heading") %></h3>
      <p class="mailer-text mailer-showcase-text"><%= t("features_description") %></p>
      <a href="https://circuitverse.org/#features" class="mailer-showcase-card-button mailer-button"><%= t("user_mailer.welcome_mail.know_more") %></a>
    </div>
  </div>
  <div class="mailer-showcase-card">
    <%= inline_svg_tag "PNGs/design.png", alt: "Design", class: "mailer-showcase-card-image" %>
    <h3 class="mailer-showcase-heading"><%= t("user_mailer.welcome_mail.design_heading") %></h3>
    <p class="mailer-text mailer-showcase-text"><%= t("user_mailer.welcome_mail.design_description") %></p>
    <a href="https://docs.circuitverse.org/" class="mailer-showcase-card-button mailer-button"><%= t("user_mailer.welcome_mail.know_more") %></a>
  </div>
</div>
<div class="mailer-showcase-card">
  <%= inline_svg_tag "PNGs/learn.png", alt: "Learn", class: "mailer-showcase-card-image" %>
  <h3 class="mailer-showcase-heading"><%= t("user_mailer.welcome_mail.learn_heading") %></h3>
  <p class="mailer-text mailer-showcase-text"><%= t("user_mailer.welcome_mail.learn_description") %></p>
  <a href="https://learn.circuitverse.org/" class="mailer-showcase-card-button mailer-button"><%= t("user_mailer.welcome_mail.know_more") %></a>
</div>
</div>
  <p class="mailer-text"><%= t("mailer.keep_building") %></p>
</div>
