<div class="row center-row justify-content-center">
    <% @projects.each do |project| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="card circuit-card">
          <%= image_tag project_image_preview(project, current_user), alt: project.name, class: "card-img-top circuit-card-image" %>
          <div class="card-footer circuit-card-footer">
            <div class="circuit-card-name">
              <p><%= project.name %></p>
              <span class="tooltiptext"><%= project.name %></span>
            </div>
            <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(project.author, project) %>"><%= t("view") %></a>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="container pagination-cont">
  <div class="pagination justify-content-center">
    <% if projects_page.has_previous? %>
      <%= link_to root_path(before: projects_page.previous_cursor), remote: true, class: "page-link pagination-btn" do %>
        <span class="button-text"><%= t("previous") %></span>
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
      <% end %>
    <% end %>

    <% if projects_page.has_next? %>
      <%= link_to root_path(after: projects_page.next_cursor), remote: true, class: "page-link pagination-btn" do %>
        <span class="button-text"><%= t("next") %></span>
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>
</div>



