<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, t("circuitverse.index.title") %>

<% set_meta_tags twitter: {
     card: "summary_large_image",
     title: yield(:title),
     description: Rails.configuration.site_description,
     image: {
       src: "#{Rails.configuration.site_url}img/circuitverseBanner2.png"
     }
   } %>

<% set_meta_tags og: {
     title: yield(:title),
     image: "#{Rails.configuration.site_url}img/circuitverseBanner2.png",
     description: Rails.configuration.site_description,
     type: "article",
     site_name: Rails.configuration.site_name
   } %>

    <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        <h6><%= notice %></h6>
      </div>
    </div>
    <% end %>
    <%= render "announcements/announcement" %>
    <div class="container">
    <div class="row center-row align-items-center g-4">
    <div class="col-md-6">
        <div class="home-main-content text-center text-md-start">
            <h1><%= t("circuitverse.index.main_heading") %></h1>
            <p><%= t("circuitverse.index.main_description") %></p>
            <div class="d-flex justify-content-center justify-content-md-start gap-3">
                <a class="btn primary-button home-simulator-button" href='/simulator'>
                    <%= t("launch_simulator") %>
                </a>
                <a href="https://learn.circuitverse.org/" target="_blank" class="btn anchor-text-button anchor-text">
                    <%= t("circuitverse.index.learn_logic_design") %>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <%= image_tag "homepage/new_homepage_sketch.png", alt: "HomepageSketch", class: "home-image-cover" %>
    </div>
</div>

      <div class="row">
        <div class="col-12 home-tertiary-button-container">
          <a class="btn tertiary-button" href="/teachers"><%= t("circuitverse.index.for_teachers") %></a>
          <a class="btn tertiary-button" href="/contribute"><%= t("circuitverse.index.for_contributors") %></a>
        </div>
      </div>
      <div id="home-features-section" class="row center-row text-center g-3" style="scroll-margin-top: 100px;">
    <div class="col">
        <h3><%= t("circuitverse.index.features.main_heading") %></h3>
        <p><%= t("circuitverse.index.features.main_description") %></p>
    </div>
</div>

      <div class="row center-row justify-content-center g-4">
    <% features = [
        { img: "export-hd.png", alt: "Export HD", heading: "circuitverse.index.features.item1_heading", text: "circuitverse.index.features.item1_text" },
        { img: "combinations analysis.png", alt: "Combinational Analysis", heading: "circuitverse.index.features.item2_heading", text: "circuitverse.index.features.item2_text" },
        { img: "testbench-timing-diagram.png", alt: "Testbench Timing Diagram", heading: "circuitverse.index.features.item3_heading", text: "circuitverse.index.features.item3_text" },
        { img: "embed.png", alt: "Embed", heading: "circuitverse.index.features.item4_heading", text: "circuitverse.index.features.item4_text" },
        { img: "sub-circuit.png", alt: "Sub Circuit", heading: "circuitverse.index.features.item5_heading", text: "circuitverse.index.features.item5_text" },
        { img: "multi-bit-bus.png", alt: "Multi Bit Bus", heading: "circuitverse.index.features.item6_heading", text: "circuitverse.index.features.item6_text" }
    ] %>

    <% features.each do |feature| %>
        <div class="col-md-6 col-lg-4">
            <div class="card home-feature-card">
                <%= image_tag "homepage/#{feature[:img]}", alt: feature[:alt], class: "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title"><%= t(feature[:heading]) %></h5>
                    <p class="card-text"><%= t(feature[:text]) %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>

    </div>
    <div class="container">
  <div class="text-center mb-4">
    <h3><%= t("circuitverse.index.featured_examples.main_heading") %></h3>
    <p><%= t("circuitverse.index.featured_examples.main_description") %></p>
  </div>
  
  <div class="row justify-content-center">
    <% featured_circuits = [
      { img: "homepage/rippleCarry.jpg", alt: "Ripple Carry", text: t("circuitverse.index.featured_examples.circuit1_text"), link: "https://circuitverse.org/users/3/projects/248" },
      { img: "homepage/sap.jpg", alt: "SAP-1", text: t("circuitverse.index.featured_examples.circuit2_text"), link: "https://circuitverse.org/users/3/projects/67" },
      { img: "homepage/fullAdder.jpg", alt: "Full Adder", text: t("circuitverse.index.featured_examples.circuit3_text"), link: "https://circuitverse.org/users/3/projects/247" }
    ] %>
    
    <% featured_circuits.each do |circuit| %>
      <div class="col-md-6 col-lg-4 d-flex">
        <div class="card circuit-card w-100">
          <%= image_tag circuit[:img], alt: circuit[:alt], class: "card-img-top circuit-card-image examples-circuit-card-image" %>
          <div class="card-footer circuit-card-footer d-flex justify-content-between align-items-center">
            <div class="circuit-card-name">
              <p><%= circuit[:text] %></p>
              <span class="tooltiptext"><%= circuit[:text] %></span>
            </div>
            <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= circuit[:link] %>"><%= t("view") %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <a class="btn primary-button homepage-primary-button-feature" href="/examples"><%= t("circuitverse.index.explore_more") %></a>
  </div>
</div>

<div class="container-fluid home-container-fluid">
<div class="container">
  <div class="text-center mb-4">
    <h3><%= t("circuitverse.index.editor_picks.main_heading") %></h3>
    <p><%= t("circuitverse.index.editor_picks.main_description") %></p>
  </div>

  <% cache :featured_circuits, expires_in: 6.hours do %>
    <div class="row justify-content-center">
      <% @featured_circuits.each do |circuit| %>
        <div class="col-md-6 col-lg-4 d-flex">
          <div class="card circuit-card w-100">
            <%= image_tag project_image_preview(circuit, current_user), alt: circuit.name, class: "card-img-top circuit-card-image", height: "180", width: "288" %>
            <div class="card-footer circuit-card-footer d-flex justify-content-between align-items-center">
              <div class="circuit-card-name">
                <p><%= circuit.name %></p>
                <span class="tooltiptext"><%= circuit.name %></span>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(circuit.author, circuit) %>"><%= t("view") %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <a class="btn primary-button homepage-primary-button-feature" href="/featured_circuits"><%= t("circuitverse.index.explore_more") %></a>
  </div>
</div>
</div>

<% cache "recent-projects-#{params[:after]}-#{params[:before]}", expires_in: 10.minutes do %>
<div class="container" id="recent">
  <div class="text-center mb-4">
    <h3><%= t("circuitverse.index.recent_circuits.main_heading") %></h3>
    <p><%= t("circuitverse.index.recent_circuits.main_description") %></p>
  </div>

  <div class="row justify-content-center">
    <% @projects.each do |project| %>
      <div class="col-md-6 col-lg-4 d-flex">
        <div class="card circuit-card w-100">
          <%= image_tag project_image_preview(project, current_user), alt: project.name, class: "card-img-top circuit-card-image" %>
          <div class="card-footer circuit-card-footer d-flex justify-content-between align-items-center">
            <div class="circuit-card-name">
              <p><%= project.name %></p>
              <span class="tooltiptext"><%= project.name %></span>
            </div>
            <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(project.author, project) %>"><%= t("view") %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <% if @projects_page.has_previous? %>
      <%= link_to t("previous"), root_path(before: @projects_page.previous_cursor), class: "btn page-link mx-2" %>
    <% end %>
    <% if @projects_page.has_next? %>
      <%= link_to t("next"), root_path(after: @projects_page.next_cursor), class: "btn page-link mx-2" %>
    <% end %>
  </div>
</div>
<% end %>


    <% if user_signed_in? %>
    <script>
        if(localStorage.getItem("recover_login")){
            window.location.href = "/simulator"
        }
    </script>
    <% end %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebApplication",
    "name" : "<%= Rails.configuration.site_name %>",
    "image" : "<%= Rails.configuration.site_image %>",
    "url" : "<%= Rails.configuration.site_url %>",
    "applicationCategory" : "<%= Rails.configuration.site_category %>",
    "downloadUrl" : "<%= Rails.configuration.site_download_url %>",
    "operatingSystem": "All"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url" : "<%= Rails.configuration.site_url %>",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "<%= Rails.configuration.site_url %>/search?resource=Projects&q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->