<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, t("circuitverse.index.title") %>

<% set_meta_tags twitter: {
     card: "summary_large_image",
     title: yield(:title),
     description: Rails.configuration.site_description,
     image: { src: "#{Rails.configuration.site_url}img/circuitverseBanner2.png" }
   } %>

<% set_meta_tags og: {
     title: yield(:title),
     image: "#{Rails.configuration.site_url}img/circuitverseBanner2.png",
     description: Rails.configuration.site_description,
     type: "article",
     site_name: Rails.configuration.site_name
   } %>

<% if notice %>
  <%= render AlertComponent.new(message: notice) %>
<% end %>

<%= render "announcements/announcement" %>

<div class="container">
  <div class="row center-row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <%= render HomeMainContentComponent.new %>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <%= image_tag "homepage/new_homepage_sketch.png", alt: "HomepageSketch", class: "home-image-cover" %>
    </div>
  </div>

  <div class="row">
    <%= render HomeButtonsComponent.new %>
  </div>

  <div id="home-features-section" class="row center-row" style="scroll-margin-top: 100px;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h3><%= t("circuitverse.index.features.main_heading") %></h3>
      <p><%= t("circuitverse.index.features.main_description") %></p>
    </div>
  </div>

  <div class="row center-row justify-content-center">
    <%= render FeatureCardComponent.new(
      image: "homepage/export-hd.png",
      alt: "Export HD",
      title: t("circuitverse.index.features.item1_heading"),
      text: t("circuitverse.index.features.item1_text")
    ) %>

    <%= render FeatureCardComponent.new(
      image: "homepage/combinations_analysis.png",
      alt: "Combinations Analysis",
      title: t("circuitverse.index.features.item2_heading"),
      text: t("circuitverse.index.features.item2_text")
    ) %>
  </div>
</div>
