<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, t("circuitverse.index.title") %>

<% set_meta_tags twitter: {
     card: "summary_large_image",
     title: yield(:title),
     description: Rails.configuration.site_description,
     image: {
       src: "#{Rails.configuration.site_url}img/circuitverseBanner2.png"
     }
   } %>

<% set_meta_tags og: {
     title: yield(:title),
     image: "#{Rails.configuration.site_url}img/circuitverseBanner2.png",
     description: Rails.configuration.site_description,
     type: "article",
     site_name: Rails.configuration.site_name
   } %>

    <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        <h6><%= notice %></h6>
      </div>
    </div>
    <% end %>
    <%= render "announcements/announcement" %>
    <div class="container">
      <div class="row center-row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="home-main-content">
            <div class="main-heading-badge">
              <span class="green-dot">•</span>
              <span><%= t("circuitverse.index.free_and_open_source") %></span>
            </div>
            <h1><%= t("circuitverse.index.main_heading_html") %></h1><br>
            <p><%= t("circuitverse.index.main_description") %></p>
            <div class="d-flex gap-4 mb-4">
              <a class="home-primary-button" href='/simulator'><%= t("launch_simulator") %> 
                <%= image_tag "SVGs/arrowRight.svg", alt: "Arrow Right", class: "ms-2" %>
              </a>
              <a href="https://learn.circuitverse.org/" target="blank" class="home-secondary-button"><%= t("circuitverse.index.explore_tutorials") %></a>
            </div>
            <div class="d-flex gap-2">
              <a class="home-tertiary-link" href="/teachers"><%= t("circuitverse.index.for_teachers") %></a>
              <span class="green-dot">•</span>
              <a class="home-tertiary-link" href="/contribute"><%= t("circuitverse.index.for_contributors") %></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag "homepage/new_homepage_sketch.png", alt: "HomepageSketch", class: "home-image-cover" %>
        </div>
      </div>
      <div id="home-features-section" class="row center-row" style="scroll-margin-top: 100px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t("circuitverse.index.features.main_heading") %></h3>
          <p><%= t("circuitverse.index.features.main_description") %></p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/export-hd.png", alt: "Export HD", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item1_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item1_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/combinations analysis.png", alt: "Combinational Analysis", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item2_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item2_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/testbench-timing-diagram.png", alt: "Testbench Timing Diagram", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item3_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item3_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/embed.png", alt: "Embed", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item4_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item4_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/sub-circuit.png", alt: "Sub Circuit", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item5_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item5_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/multi-bit-bus.png", alt: "Multi Bit Bus", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item6_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item6_text") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <% if user_signed_in? %>
    <script>
        if(localStorage.getItem("recover_login")){
            window.location.href = "/simulator"
        }
    </script>
    <% end %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebApplication",
    "name" : "<%= Rails.configuration.site_name %>",
    "image" : "<%= Rails.configuration.site_image %>",
    "url" : "<%= Rails.configuration.site_url %>",
    "applicationCategory" : "<%= Rails.configuration.site_category %>",
    "downloadUrl" : "<%= Rails.configuration.site_download_url %>",
    "operatingSystem": "All"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url" : "<%= Rails.configuration.site_url %>",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "<%= Rails.configuration.site_url %>/search?resource=Projects&q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->