<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, t("circuitverse.index.title") %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: Rails.configuration.site_description,
  image: {
    src: "#{Rails.configuration.site_url}img/circuitverseBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/circuitverseBanner2.png",
  description: Rails.configuration.site_description,
  type: "article",
  site_name: Rails.configuration.site_name
} %>

    <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h6><%= notice %></h6>
      </div>
    </div>
    <% end %>
    <%= render "announcements/announcement" %>
    <div class="container">
      <div class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="home-main-content">
            <h1><%= t("circuitverse.index.main_heading") %></h1><br>
            <p><%= t("circuitverse.index.main_description") %></p>
            <div class="home-buttons-container justify-content-center">
              <a class="btn primary-button home-simulator-button" href='/simulator'><%= t("launch_simulator") %></a> &nbsp;
              <a href="https://learn.circuitverse.org/" target="blank" class="anchor-text"><%= t("circuitverse.index.learn_logic_design") %></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag "homepage/new_homepage_sketch.png", alt: "HomepageSketch", :class => "home-image-cover" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 home-tertiary-button-container">
          <a class="btn tertiary-button" href="/teachers"><%= t("circuitverse.index.for_teachers") %></a>
          <a class="btn tertiary-button" href="/contribute"><%= t("circuitverse.index.for_contributors") %></a>
        </div>
      </div>
      <div id="home-features-section" class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t("circuitverse.index.features.main_heading") %></h3>
          <p><%= t("circuitverse.index.features.main_description") %></p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/export-hd.png", alt: "Export HD", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item1_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item1_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/combinations analysis.png", alt: "Combinational Analysis", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item2_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item2_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/embed.png", alt: "Embed", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item3_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item3_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/sub-circuit.png", alt: "Sub Circuit", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item4_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item4_text") %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/multi-bit-bus.png", alt: "Multi Bit Bus", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= t("circuitverse.index.features.item5_heading") %></h5>
              <p class="card-text"><%= t("circuitverse.index.features.item5_text") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row center-row home-circuit-card-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3><%= t("circuitverse.index.featured_examples.main_heading") %></h3>
          <p><%= t("circuitverse.index.featured_examples.main_description") %></p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/rippleCarry.jpg", alt: "Ripple Carry", :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p><%= t("circuitverse.index.featured_examples.circuit1_text") %></p>
                <span class="tooltiptext"><%= t("circuitverse.index.featured_examples.circuit1_text") %></span>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/248"><%= t("view") %></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/sap.jpg", alt: "SAP-1", :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p><%= t("circuitverse.index.featured_examples.circuit2_text") %></p>
                <span class="tooltiptext"><%= t("circuitverse.index.featured_examples.circuit2_text") %></span>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/67"><%= t("view") %></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/fullAdder.jpg", alt: "Full Adder", class: "card-img-top circuit-card-image examples-circuit-card-image", height: '180', width: '288' %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p><%= t("circuitverse.index.featured_examples.circuit3_text") %></p>
                <span class="tooltiptext"><%= t("circuitverse.index.featured_examples.circuit3_text") %></span>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/247"><%= t("view") %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="btn primary-button homepage-primary-button-feature" href="/examples"><%= t("circuitverse.index.explore_more") %></a>
        </div>
      </div>
    </div>
    <div class="container-fluid home-container-fluid">
      <div class="container">
        <div class="row center-row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3><%= t("circuitverse.index.editor_picks.main_heading") %></h3>
            <p><%= t("circuitverse.index.editor_picks.main_description") %></p>
          </div>
        </div>
        <% cache :featured_circuits, expires_in: 6.hours do%>
          <div class="row center-row justify-content-center">
            <% @featured_circuits.each do |circuit| %>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card circuit-card">
                  <%= image_tag circuit.image_preview.url, alt: circuit.name, class: "card-img-top circuit-card-image", height: '180', width: '288' %>
                  <div class="card-footer circuit-card-footer">
                    <div class="circuit-card-name">
                      <p><%= circuit.name %></p>
                      <span class="tooltiptext"><%= circuit.name %></span>
                    </div>
                    <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(circuit.author, circuit) %>"><%= t("view") %></a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="row center-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <a class="btn primary-button homepage-primary-button-feature" href="/featured_circuits"><%= t("circuitverse.index.explore_more") %></a>
            </div>
        </div>
      </div>
    </div>
    <% cache "recent-projects-#{params[:page]}", expires_in: 10.minutes do%>
      <div class="container" id="recent">
        <div class="row center-row home-circuit-card-row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3><%= t("circuitverse.index.recent_circuits.main_heading") %></h3>
            <p><%= t("circuitverse.index.recent_circuits.main_description") %></p>
          </div>
        </div>
        <div class="row center-row justify-content-center">
          <% @projects.each do |project| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card circuit-card">
                <%= image_tag project.image_preview.url, alt: project.name, :class => "card-img-top circuit-card-image" %>
                <div class="card-footer circuit-card-footer">
                  <div class="circuit-card-name">
                    <p><%= project.name %></p>
                    <span class="tooltiptext"><%= project.name %></span>
                  </div>
                  <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(project.author, project) %>"><%= t("view") %></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="container pagination-cont">
          <%= will_paginate @projects, renderer: PaginateRenderer %>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
    <script>
        if(localStorage.getItem("recover_login")){
            window.location.href = "/simulator"
        }
    </script>
    <% end %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebApplication",
    "name" : "<%= Rails.configuration.site_name %>",
    "image" : "<%= Rails.configuration.site_image %>",
    "url" : "<%= Rails.configuration.site_url %>",
    "applicationCategory" : "<%= Rails.configuration.site_category %>",
    "downloadUrl" : "<%= Rails.configuration.site_download_url %>",
    "operatingSystem": "All"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url" : "<%= Rails.configuration.site_url %>",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "<%= Rails.configuration.site_url %>/search?resource=Projects&q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
