<% content_for :title, t("circuitverse.teachers.title") %>

<div class="teachers-hero">
  <div class="container py-5">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-lg-8">
        <h1 class="display-4 fw-bold mb-4"><%= t("circuitverse.teachers.main_heading") %></h1>
        <p class="teacher-hero-description mb-4"><%= t("circuitverse.teachers.main_description") %></p>
      </div>
    </div>
  </div>
</div>

<div class="container py-1">
  <div class="row justify-content-center text-center mb-5">
    <div class="col-12">
      <h2 class="section-heading"><%= t("circuitverse.teachers.features") %></h2>
      <div class="heading-underline"></div>
    </div>
  </div>
</div>

<%= render TeachersComponent.new(
  feature: {
    heading: t("circuitverse.teachers.create_group_heading"),
    description: t("circuitverse.teachers.create_group_description"),
    image_path: "img/groups.png",
    image_alt: "Groups screenshot",
    bg_light: true,
    image_right: false
  }
) %>

<%= render TeachersComponent.new(
  feature: {
    heading: t("circuitverse.teachers.post_assignment_heading"),
    description: t("circuitverse.teachers.post_assignment_description"),
    image_path: "img/assignment.png",
    image_alt: "Assignments screenshot",
    bg_light: false,
    image_right: true
  }
) %>

<%= render TeachersComponent.new(
  feature: {
    heading: t("circuitverse.teachers.grade_assignment_heading"),
    description: t("circuitverse.teachers.grade_assignment_description"),
    image_path: "img/grading.png",
    image_alt: "Grading screenshot",
    bg_light: true,
    image_right: false
  }
) %>

<%= render TeachersComponent.new(
  feature: {
    heading: t("circuitverse.teachers.use_interactive_circuit_heading"),
    description: t("circuitverse.teachers.use_interactive_circuit_description"),
    image_path: "img/embed.png",
    image_alt: "Embed screenshot",
    bg_light: false,
    image_right: true
  }
) %>

<section class="cta-section text-white text-center py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h2 class="mb-4"><%= t("circuitverse.teachers.cta-section_heading") %></h2>
        <p class="lead mb-4"><%= t("circuitverse.teachers.cta-section_description") %></p>
        <a href="/simulator" class="btn btn-light btn-lg"><%= t("circuitverse.teachers.cta-section_button") %></a>
      </div>
    </div>
  </div>
</section>
