<% content_for :title, t("circuitverse.teachers.title") %>

<div class="row center-row">
  <div class="col-12">
    <h1 class="main-heading"><%= t("circuitverse.teachers.main_heading") %></h1>
    <div class="teacher-main-description-container">
      <p class="main-description"><%= t("circuitverse.teachers.main_description") %></p>
    </div> <br>
    <h2><%= t("circuitverse.teachers.benefits") %></h2>
  </div>
</div>
<div class="container-fluid teacher-fill-container-fluid">
  <div class="container">
    <div class="row center-row teacher-center-content">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 teacher-left-text">
        <h4><%= t("circuitverse.teachers.create_group_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.create_group_description") %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="teacher-image" src="img/groups.png" alt="Groups screenshot">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid teacher-container-fluid">
  <div class="container">
    <div class="row center-row teacher-center-content">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 teacher-left-text">
        <h4><%= t("circuitverse.teachers.post_assignment_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.post_assignment_description") %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="teacher-image" src="img/assignment.png" alt="Assignments screenshot">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid teacher-fill-container-fluid">
  <div class="container">
    <div class="row center-row teacher-center-content">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 teacher-left-text">
        <h4><%= t("circuitverse.teachers.grade_assignment_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.grade_assignment_description") %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="teacher-image" src="img/grading.png" alt="Grading screenshot" height="250px">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid teacher-container-fluid">
  <div class="container">
    <div class="row center-row teacher-center-content">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 teacher-left-text">
        <h4><%= t("circuitverse.teachers.use_interactive_circuit_heading") %></h4> <br>
        <p><%= t("circuitverse.teachers.use_interactive_circuit_description") %></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="teacher-image" src="img/embed.png" alt="Embed screenshot" height="350px">
      </div>
    </div>
  </div>
</div>
