<% content_for :title, t("logix.tos.title") %>
<div class="container">
  <h1><%= t("logix.tos.main_heading") %></h1>
  <section>

    <h3><%= t("logix.tos.user_agreement.main_heading") %></h3>

    <p><%= t("logix.tos.user_agreement.description1_html") %></p>

    <p><%= t("logix.tos.user_agreement.description2_html") %></p>

    <p><%= t("logix.tos.user_agreement.description3") %></p>

    <p><%= t("logix.tos.user_agreement.description4_html") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.account_creation.main_heading") %></h3>

    <p><%= t("logix.tos.account_creation.description1_html") %></p>

    <p><%= t("logix.tos.account_creation.description2") %></p>

    <p><%= t("logix.tos.account_creation.description3") %></p>

    <p><%= t("logix.tos.account_creation.description4_html") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.usage_rule.main_heading") %></h3>

    <p><%= t("logix.tos.usage_rule.description1") %></p>

    <ol>
      <li><%= t("logix.tos.usage_rule.list1_item1") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item2") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item3") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item4") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item5") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item6") %></li>
      <li><%= t("logix.tos.usage_rule.list1_item7") %></li>
    </ol>

    <p>
      <br>
    </p>

    <p><%= t("logix.tos.usage_rule.description2") %></p>

    <p><%= t("logix.tos.usage_rule.description3") %></p>

    <p><%= t("logix.tos.usage_rule.description4") %></p>

    <ol>
      <li><%= t("logix.tos.usage_rule.list2_item1") %></li>
      <li><%= t("logix.tos.usage_rule.list2_item2") %></li>
      <li><%= t("logix.tos.usage_rule.list2_item3") %></li>
      <li><%= t("logix.tos.usage_rule.list2_item4") %></li>
      <li><%= t("logix.tos.usage_rule.list2_item5") %></li>
    </ol>

    <p>
      <br>
    </p>
  </section>
  <section>

    <h3><%= t("logix.tos.user_content_licensing.main_heading") %></h3>

    <p><%= t("logix.tos.user_content_licensing.description1") %></p>

    <p><%= t("logix.tos.user_content_licensing.description2") %></p>

    <p><%= t("logix.tos.user_content_licensing.description3_html") %></p>

    <p><%= t("logix.tos.user_content_licensing.description4") %></p>

    <p><%= t("logix.tos.user_content_licensing.description5") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.site_content_licensing.main_heading") %></h3>

    <p><%= t("logix.tos.site_content_licensing.description1") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.dmca.main_heading") %></h3>

    <p><%= t("logix.tos.dmca.description1_html") %></p>

    <p><%= t("logix.tos.dmca.description2_html") %></p>

    <ul>
      <li><%= t("logix.tos.dmca.list_item1") %></li>
      <li><%= t("logix.tos.dmca.list_item2") %></li>
      <li><%= t("logix.tos.dmca.list_item3") %></li>
    </ul>

    <p>
      <br>
    </p>
  </section>
  <section>

    <h3><%= t("logix.tos.account_related.main_heading") %></h3>

    <p><%= t("logix.tos.account_related.description1") %></p>

    <p><%= t("logix.tos.account_related.description2_html") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.third_party_website.main_heading") %></h3>

    <p><%= t("logix.tos.third_party_website.description1") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.indemnification.main_heading") %></h3>

    <p><%= t("logix.tos.indemnification.description1") %></p>

    <p><%= t("logix.tos.indemnification.description2") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.warranty_related.main_heading") %></h3>

    <p><strong><%= t("logix.tos.warranty_related.description1") %></strong></p>
  </section>
  <section>

    <h3><%= t("logix.tos.liability_related.main_heading") %></h3>

    <p><strong><%= t("logix.tos.liability_related.description1") %></strong></p>
  </section>
  <section>

    <h3><%= t("logix.tos.choice_of_language.main_heading") %></h3>

    <p><%= t("logix.tos.choice_of_language.description1") %></p>
  </section>
  <section>

    <h3><%= t("logix.tos.no_waiver.main_heading") %></h3>

    <p><%= t("logix.tos.no_waiver.description1") %></p>
  </section>

</div>