<div class="users-details-container">
  <div class="">
    <div class="">
      <div class="">
        <%= image_tag @profile.profile_picture.url(:medium), alt: "profile picture", class: "center-row users-profile-picture" %>
        <h1 class="users-user-name"><%= @profile.name %></h1>
     </div>
    </div>
    <div class="users-info">
        <p class="user-details-text"><%= t("users.circuitverse.member_since_html", member_since: @profile.member_since) %></p>
        <p class="user-details-text"><%= t("users.circuitverse.educational_institutes_html",educational_institute: @profile.educational_institute) %></p>
        <p class="user-details-text"><%= t("users.circuitverse.country_html", country_name: @profile.country_name) %></p>
        <p class="user-details-text"><%= t("users.circuitverse.total_circuits_made_html", total_circuits: @profile.total_circuits) %></p>
        <% if show_edit_link? %>
          <a class="btn primary-button" href="<%= profile_edit_path(@current_user) %>"><%= t("users.circuitverse.index.edit_details") %></a>
        <% end %>
    </div>
  </div>
</div>
