

<div class="container">
  <div class="feature">

    <div class="col-12">
      <h2>Log in</h2>
    </div>
    <div class="col-lg-6 col-sm-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% flash.each do |key, value| %>
          <div class="alert alert-danger col-12"><%= value %></div>
        <% end %>

        </div>

        <div class="field form-group col-lg-6 col-sm-12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true ,class:"form-control"%>
        </div>


        <div class="field form-group col-lg-6 col-sm-12">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field checkbox col-lg-6 col-sm-12 ">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>

          </div>
        <% end -%>

        <div class="actions col-lg-6 col-sm-12">

          <%= f.submit "Log in" ,class:"btn btn-primary"%>

      <% end %>
      </div>
      <div class="col-lg-6 col-sm-12">
        <%= render "users/shared/links" %>
      </div>




      </div>
  <br />

  <br />



</div>

