
<div class="container">

  <div class="row feature">
    <div class="col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">

        <div>
          <h2>Log in</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
               <% flash.each do |key, value| %>
                <div class="alert alert-danger"><%= value %></div>
          <% end %>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true ,class:"form-control", placeholder: 'Email'%>
          </div>

          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" ,class:"form-control", placeholder: 'Password'%>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field checkbox col-lg-6 col-sm-12 ">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>

          </div>
        <% end -%>

        <div class="actions col-lg-6 col-sm-12">

          <%= f.submit "Log in" ,class:"btn btn-outline-info"%>

        <% end %>
        </div>

        <%= render "users/shared/links" %>

  </div>

  <br />

  <br />

  </div>

</div>
