
<div id="update-contest-modal" class="modal fade" role="dialog" aria-labelledby="updateContestModalLabel" aria-hidden="true">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title" id="updateContestModalLabel"><%= t("contest.update_contest_modal.heading") %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t("contest.update_contest_modal.description") %></p>
        </p>
      </div>
       <%= form_with(url: update_contest_path(":contest_id"), method: :patch, local: true, id: 'update-contest-form') do |form| %>
        <div class="modal-body">
          <div class="form-group">
            <%= form.label :deadline, t("contest.update_contest_modal.sub_heading"), for: "contest_deadline" %>
            <%= form.datetime_local_field :deadline, class: "form-control", id: "contest_deadline" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit "Update Deadline", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
