<div class="container">
  <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h6><%= notice %></h6>
      </div>
    </div>
  <% end %>

  <div class="column contests-header">
    <h3 class="contests-header-title"><%= t("contest.heading") %></h3>
    <p class="contests-header-description"><%= t("contest.index.subtitle") %></p>
  </div>

  <div class="contest-page-line"></div>

  <!-- Modified grid structure -->
  <div class="contests-list-wrapper">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <% @contests.each do |contest| %>
        <div class="col">
          <%= link_to contest_page_path(contest.id), class: "text-decoration-none", id: "contest-#{contest.id}" do %>
            <div class="contest-container h-100">
              <div class="contest-container-header">
                <% if contest.live? %>
                  <div class="contest-container-status-live">
                    <span class="contest-container-status-dot"></span>
                    <span class="contest-container-status-text"><%= t("contest.status.live") %></span>
                  </div>
                <% else %>
                  <div class="contest-container-status">
                    <span class="contest-container-status-dot"></span>
                    <span class="contest-container-status-text"><%= t("contest.status.completed") %></span>
                  </div>
                <% end %>
              </div>
              <div class="contest-container-details">
                <h5 class="contest-container-details-number"><%= t("contest.contest_container.contest_id") %> #<%= contest.id %></h5>
                <h5 class="contest-container-details-entries"><%= t("contest.contest_container.entries") %>: <%= contest.submissions.count %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container pagination-cont">
    <%= will_paginate @contests, renderer: PaginateRenderer %>
  </div>

  <% if @contests.empty? %>
    <div class="col-12 row center-row d-flex justify-content-center">
      <div class="search-no-results-image">
        <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
        <h6><%= t("contest.no_contest") %></h6>
      </div>
    </div>
  <% end %>
</div>
