<div class="container">
  <div class="pt-4 d-flex justify-content-between align-items-center">
    <div>
      <h3 class="contest-header-title">Weekly Contest #5</h3>
      <p class="mb-0 contest-header-description">Get a chance to get featured on our website and show off your circuit to 245303 users! </p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <span class="contest-header-timer">Time Left: 05:45:22</span>
      <button class="contest-submission-button">Register your circuit</button>
    </div>
  </div>
  <div class="contest-page-line"></div>
  <div>
    <h5>Winners</h5>
    <span class="contest-header-sub-description">The winning projects will get featured on our website and will be awarded as CircuitVerse special tag.</span>
  </div>
  <div id="my-circuits-div" class="row center-row circuit-page">
    <%= render partial: "submission" %>
  </div>
  <div class="contest-page-line"></div>
  <div>
    <h5>Contest Entries</h5>
    <span class="contest-header-sub-description">Vote for your favourite entries and help us choose our winners for this week! One user gets 2 votes.</span>
  </div>
  <div id="my-circuits-div" class="row center-row circuit-page">
    <%= render partial: "submission" %>
    <%= render partial: "submission" %>
    <%= render partial: "submission" %>
    <%= render partial: "submission" %>
    <%= render partial: "submission" %>
  </div>
  <%= render partial: "view" %>
</div>
