<div class="container" data-controller="contest" data-contest-timeleft-value="<%= @contest.deadline %>">
  <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
        <h6><%= notice %></h6>
      </div>
    </div>
  <% end %>

  <div class="pt-4 d-flex justify-content-between align-items-center">
    <div>
      <h3 class="contest-header-title">Contest #<%= @contest.id %></h3>
      <p class="mb-0 contest-header-description"><%= t("contest.show.subtitle", user_count: @user_count) %></p>

      <% if @contest.live? && current_user.present? %>
        <p class="mb-0 contest-header-description">
          <%= t("contest.show.remaining_votes") %>
          <%= 3 - current_user.votes_for_contest(@contest.id) %>
        </p>
      <% end %>
    </div>

    <% if @contest.live? %>
      <div class="d-flex flex-column align-items-center">
        <span class="contest-header-timer"><%= t("contest.header.time_left_label") %> <span id="timeLeftCounter">...</span></span>
        <%= link_to new_contest_submission_path(@contest.id),
                    class: "contest-submission-button submission-button" do %>
          <span><%= t("contest.show.register_button") %></span>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex flex-column align-items-center">
        <button class="contest-ended-button" disabled><%= t("contest.show.disable_button") %></button>
      </div>
    <% end %>
  </div>

  <% if @contest.completed? %>
    <div class="contest-page-line"></div>
    <div>
      <h5><%= t("contest.show.winners") %></h5>
      <span class="contest-header-sub-description"><%= t("contest.show.winners_description") %></span>
    </div>
    <div id="my-circuits-div" class="row center-row circuit-page">
      <% if !@winner.nil? %>
        <%= render Contest::SubmissionCardComponent.new(submission: @winner, contest: @contest, current_user: current_user) %>
      <% end %>
    </div>
  <% end %>

  <% if @user_submission.present? %>
    <div class="contest-page-line"></div>
    <div>
      <h5><%= t("contest.show.user_submissions") %></h5>
      <span class="contest-header-sub-description"><%= t("contest.show.user_submissions_description") %></span>
    </div>
    <div id="my-circuits-div" class="row center-row circuit-page">
      <% @contest.submissions.where(user_id: current_user.id).each do |submission| %>
        <%= render Contest::SubmissionCardComponent.new(submission: submission, contest: @contest, current_user: current_user) %>
      <% end %>
    </div>
  <% end %>

  <div class="contest-page-line"></div>
  <div>
    <h5><%= t("contest.show.contest_entries", submission_count: @contest.submissions.count) %></h5>
    <span class="contest-header-sub-description"><%= t("contest.show.contest_entries_description") %></span>
  </div>

  <div id="my-circuits-div" class="row center-row circuit-page">
    <% @submissions.each do |submission| %>
      <%= render Contest::SubmissionCardComponent.new(submission: submission, contest: @contest, current_user: current_user) %>
    <% end %>
  </div>

  <div class="container pagination-cont">
    <%= will_paginate @submissions, renderer: PaginateRenderer %>
  </div>

  <%= render partial: "view" %>

  <%= render partial: "withdraw_submission_confirmation",
             locals: { contest: @contest,
                       user_submission: @user_submission } %>
</div>
