<h1 class="visually-hidden"><%= t("admin.contests.index.title") %></h1>
<div class="container" data-controller="contest">
  <% if notice %>
    <div class="row" id="alertdiv">
      <div class="alert alert-success alert-dismissible container text-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t('contest.close') %>"></button>
        <h6><%= notice %></h6>
      </div>
    </div>
  <% end %>
  <div class="column contests-header">
    <h3 class="contests-header-title"><%= t("contest.heading") %></h3>
    <p  class="contests-header-description"><%= t("contest.admin.subtitle") %></p>

    <%= link_to "#",
                data:   { bs_toggle: "modal", bs_target: "#host-new-contest-modal" },
                class:  "contest-submission-button" do %>
      <span><%= t("contest.admin.new_contest_button") %></span>
    <% end %>
  </div>
  <div class="contest-page-line"></div>
  <div class="contests-list-wrapper ">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
             <% @contests.each do |contest| %>
      <div class="col">
        <div class="contest-container h-100">
          <div class="contest-container-card-image">
            <%= image_tag "default_contest_card.png" , alt: t("contest.contest_container.default_contest_card_img_alt") ,class:"contest-card-image" %>
            <% if contest.live? %>
              <div class="contest-container-status-live">
                <span class="contest-container-status-dot"></span>
                <span class="contest-container-status-text"><%= t("contest.status.live") %></span>
              </div>
            <% else %>
              <div class="contest-container-status">
                <span class="contest-container-status-text"><%= t("contest.status.completed") %> </span>
              </div>
            <% end %>
          </div>

          <div class="contest-container-details">
            <div class="contest-container-details-number">
              <%= link_to "#{t("contest.contest_container.contest_id")} ##{contest.id}",
                          contest_path(contest.id) , class:"contest-container-details-number-link" %>
            </div>

            <% if contest.completed? %>
              <div class="contest-container-details-entries">
                <%= image_tag "svgs/user.svg", alt: t("contest.contest_container.entries_alt"), class:"entries-image" %>
                <span><%= contest.submissions_count %> <%= t("contest.contest_container.entries") %> </span>
              </div>
            <% end %>

            <div class="contest-container-details-description">
              <span> <%= t("contest.contest_container.description") %> </span>
            </div>

            <% if contest.live? %>
              <div class="contest-container-action-buttons">
                <%= link_to "#",
                            data:   { bs_toggle: "modal",
                                      bs_target: "#close-contest-confirmation-modal-#{contest.id}",
                                      contest:   contest },
                            class:  "contest-container-close-button" do %>
                  <span><%= t("contest.close") %></span>
                <% end %>
                <%= link_to "#",
                            data:   { bs_toggle: "modal",
                                      bs_target: "#update-contest-modal-#{contest.id}",
                                      contest:   contest,
                                      deadline:  contest.deadline.strftime("%Y-%m-%dT%H:%M") },
                            class:  "contest-container-update-button" do %>
                  <%= image_tag("svgs/editGroup.svg", alt: t("admin.contests.index.edit_deadline_alt")) %>
                  <span><%= t("edit") %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= render Admin::ContestCloseModalComponent.new(contest: contest) %>
      <%= render Admin::ContestUpdateDeadlineModalComponent.new(contest: contest) %>
    <% end %>
      </div>
  </div>
  <div class="container pagination-cont">
    <%= will_paginate @contests, renderer: PaginateRenderer %>
  </div>
  <% if @contests.empty? %>
    <div class="col-12 row center-row d-flex justify-content-center">
      <div class="search-no-results-image">
        <%= image_tag "svgs/noProject.svg", alt: t("contest.no_result_image_alt") %>
        <h6><%= t("contest.no_contest") %></h6>
      </div>
    </div>
  <% end %>
  <%= render Admin::ContestHostNewModalComponent.new %>
</div>
