<div class="field form-group users-shared">
  <div class="input-group">
    <div class="row center-row users-shared-row">
      <h6 class="users-shared-row"><%= t("users.shared.login_with") %></h6>
    </div>
    <div class="row center-row d-flex flex-column flex-md-row align-items-center justify-items-center">
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'text-decoration-none' do %>
        <button class="oauth-button">
          <%= image_tag("SVGs/google-plus.svg", alt: "Google Icon", class: "users-social-icon") %>
          <span class="d-none d-md-inline"><%= t('google') %></span>
          <span class="d-inline d-md-none"><%= t('continue_with_google') %></span>
        </button>
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'text-decoration-none' do %>
        <button class="oauth-button">
          <%= image_tag("SVGs/facebook.svg", alt: "Facebook Icon", class: "users-social-icon") %>
          <span class="d-none d-md-inline"><%= t('facebook') %></span>
          <span class="d-inline d-md-none"><%= t('continue_with_facebook') %></span>
        </button>
      <% end %>
      <%= link_to user_github_omniauth_authorize_path, method: :post, class: 'text-decoration-none' do %>
        <button class="oauth-button">
          <%= image_tag("SVGs/github.svg", alt: "Github Icon", class: "users-social-icon") %>
          <span class="d-none d-md-inline"><%= t('github') %></span>
          <span class="d-inline d-md-none"><%= t('continue_with_github') %></span>
        </button>
      <% end %>
      <% if Flipper.enabled?(:gitlab_integration) %>
        <%= link_to image_tag("SVGs/gitlab.svg", alt: "Gitlab Icon", class: "users-social-icon"), user_gitlab_omniauth_authorize_path, method: :post %>
      <% end %>
    </div>
    <% if Flipper.enabled?(:sso_integration) %>
      <div class="row center-row users-shared-row">
        <p class="users-shared-row"><%= t("groups.use_alternative") %></p>
        <a href="/users/saml/sign_in" class="anchor-text users-shared-row">
          <%= t("users.shared.login_with_sso") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
