<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, "CircuitVerse - Online Digital Logic Circuit Simulator" %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: Rails.configuration.site_description,
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  description: Rails.configuration.site_description,
  type: "article",
  site_name: Rails.configuration.site_name
} %>
    <!-- Main jumbotron for a primary marketing message or call to action -->


    <!-- <div class="col">
        <img src="img/logixBanner.png" class="img-fluid img-thumbnail" alt="Responsive image">
    </div> -->






    <div class="block_index">
        <div class="row">
            <div class="col-lg-7">
                <h1>Dive into the world of Logic Circuits for free!</h1>
                <p>From simple gates to complex sequential circuits, plot timing diagrams, automatic circuit genration,explore standard ICs, and much more
                <div>
                  <span>
                    <a href="#" class="btn btn-lg btn-lg1 margin-right">Launch Simulator</a>
                  </span>
                  <span>
                    <a href="#" class="btn btn-lg1 margin-right white">Learn Logic Design</a>
                  </span>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="img/teaching_board.svg">
            </div>
        </div>
        <div>
          <span>
            <a href="#" class="btn btn-lg btn-lg11">For Teacher</a>
          </span>
          <span>
            <a href="#" class="btn btn-lg btn-lg11">For Contributor</a>
          </span>
        </div>      
    </div>
    <div class="block_index green eventload">
      
        <div class="center hp">
          Featured Example
        </div>
      <div class="row row_homepage">
            <div class="col-md-3 col-lg-3 inline_block" >
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/fullAdder.png" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">Full Adder from 2-Half Adders<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 inline_block" >
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/RippleCarry.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">16 Bit ripple carry adder<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 inline_block" >
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/AsyncCounter.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">Asynchronous Counter<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="row row_homepage">
            <div class="col-md-3 col-lg-3 inline_block">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/FlipFlop.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">FlipFlop<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 inline_block">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/Keyboard.jpeg" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">Keyboard<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-lg-3 inline_block">
                <div class="grid-cell">
                    <div class="grid_image">
                        <img src="img/ALU.png" class="img-fluid img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="grid_content row">
                        <div class="grid-title col-lg-7 col-md-7 circuitname">ALU 74LS181 by Ananth Shreekumar<pre></pre></div>
                        <div class="center margin col-lg-2 col-md-2 pp">
                            <a class="btn btn-lg styled_btn1" target="_blank" href="https://circuitverse.org/users/3/projects/251" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      
      <div class="f_right" >
        <a class="next" onclick="plusSlides(+1)"><img src="img/arrow_edit.png"></a>
      </div>
      
      
    </div>
    <div class="block_index features">
      <div class="center head">
          Features
      </div>
      <p class="center">Design circuits quickly and easily with a modern and intutive user interface with drag-and<br>-drop, copy/paste, zoom and more</p>
      <div class="row">
        <div class="col-lg-4 col-md-4 center">
          <div class="cell">
            <img class="resize" src="img/export hd.png">
            <div class="cell_head">
              Export high resolution images
            </div>
            <div class="cell_describe" >
              Circuitverse can export high resolution images in multiple formats including svg
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 center">
          <div class="cell">
            <img class="resize" src="img/combinations analysis.png">
            <div class="cell_head">
              Combinational Analysis
            </div>
            <div class="cell_describe">
              Automatically genrate circuit basedon truth table data. This is great to create complex logic circuits and can be easily be made into the subcircuit
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 center">
          <div class="cell">
            <img class="resize" src="img/embed1.png">
            <div class="cell_head">
              Embed in Blogs
            </div>
            <div class="cell_describe">
              Since circuitverse is built in HTML5, an iFrame can be genrated for each project allowing the user to embed it almost anywhere
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 center_right">
         <div class="cell">
            <img class="resize" src="img/sub-circuit.png">
            <div class="cell_head">
              Use Sub Circuits
            </div>
            <div class="cell_describe">
              Create subcircuits once and use them repeatedly. This allows easier and more structured design.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 center_left">
          <div class="cell">
            <img class="resize" src="img/multi-bit-bus.png">
            <div class="cell_head">
              Multi Bit Buses and components
            </div>
            <div class="cell_describe">
              CircuitVerse supports multi bit wires, this means circuit design is easier, faster and uncluttered.
          </div>
        </div>
      </div>
    </div>
  </div>
    


    <% if user_signed_in? %>
    <script>
        if(localStorage.getItem("recover_login")){
            window.location.href = "/simulator"
        }
    </script>
    <% end %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "SoftwareApplication",
    "name" : "<%= Rails.configuration.site_name %>",
    "image" : "<%= Rails.configuration.site_image %>",
    "url" : "<%= Rails.configuration.site_url %>",
    "applicationCategory" : "<%= Rails.configuration.site_category %>",
    "downloadUrl" : "<%= Rails.configuration.site_download_url %>"
  }
</script>


<script type="text/javascript">
  function immediate(){
  var h;
  var rowselect = document.getElementsByClassName("row_homepage");
      
      //row_select[0].style.display = "inline-block";
      for(h = 1; h < 3; h++) {
          rowselect[h].style.display = "none";
      }
  }

  immediate();

</script>


    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
