<% content_for :title, "CircuitVerse - About us" %>

<h1>Hello, Welcome to CircuitVerse!</h1>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%= link_to 'Launch Simulator', simulator_new_path%>
<%= link_to 'View all projects', user_path(current_user) %>
<%= link_to 'View all users', users_path %>
<!-- <%= link_to 'Sign in', new_user_session_path %> -->
<!-- <%= link_to 'Sign up', new_user_registration_path %> -->

<%= link_to 'new project', new_user_project_path(current_user) %>
