<script>
  $(document).ready(function(){
    $("#alertdiv").delay(5000).fadeOut(600);
  });
</script>

<% content_for :title, "CircuitVerse - Online Digital Logic Circuit Simulator" %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: Rails.configuration.site_description,
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  description: Rails.configuration.site_description,
  type: "article",
  site_name: Rails.configuration.site_name
} %>

    <% if notice %>
    <div class="row" id='alertdiv'>
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h6><%= notice %></h6>
      </div>
    </div>
    <% end %>
    <%= render "announcements/announcement" %>
    <div class="container">
      <div class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="home-main-content">
            <h1>Dive into the world of Logic Circuits for free!</h1><br>
            <p>From simple gates to complex sequential circuits, plot timing diagrams, automatic circuit generation, explore standard ICs, and much more</p>
            <div class="home-buttons-container justify-content-center">
              <a class="btn primary-button home-simulator-button" href='/simulator'>Launch Simulator</a> &nbsp;
              <a href="https://learn.circuitverse.org/" class="anchor-text">Learn Logic Design</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag "homepage/new_homepage_sketch.png", alt: "HomepageSketch", :class => "home-image-cover" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 home-tertiary-button-container">
          <a class="btn tertiary-button" href="/teachers">For Teachers</a>
          <a class="btn tertiary-button" href="/contribute">For Contributors</a>
        </div>
      </div>
      <div id="home-features-section" class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Features</h3>
          <p>Design circuits quickly and easily with a modern and intuitive user interface with drag-and-drop, copy/paste, zoom and more.</p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/export-hd.png", alt: "Export HD", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">Export High-Resolution Images</h5>
              <p class="card-text">CircuitVerse can export high resolution images in multiple formats including SVG.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/combinations analysis.png", alt: "Combinational Analysis", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">Combinational Analysis</h5>
              <p class="card-text">Automatically generate circuit based on truth table data. This is great to create complex logic circuits and can be easily be made into a subcircuit.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-s-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/embed.png", alt: "Embed", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">Embed in Blogs</h5>
              <p class="card-text">Since CircuitVerse is built in HTML5, an iFrame can be generated for each project allowing the user to embed it almost anywhere.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/sub-circuit.png", alt: "Sub Circuit", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">Use Sub circuits</h5>
              <p class="card-text">Create subcircuits once and use them repeatedly. This allows easier and more structured design.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card home-feature-card">
            <%= image_tag "homepage/multi-bit-bus.png", alt: "Multi Bit Bus", :class => "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title">Multi Bit Buses and components</h5>
              <p class="card-text">CircuitVerse supports multi bit wires, this means circuit design is easier, faster and uncluttered.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row center-row home-circuit-card-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Featured Examples</h3>
          <p>Learn and get inspired from the best examples</p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/rippleCarry.jpg", alt: "Ripple Carry", :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p>16-bit Ripple Carry Adder</p>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/248">View</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/sap.jpg", alt: "SAP-1", :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p>SAP-1</p>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/67">View</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card circuit-card">
            <%= image_tag "homepage/fullAdder.jpg", alt: "Full Adder", :class => "card-img-top circuit-card-image examples-circuit-card-image" %>
            <div class="card-footer circuit-card-footer">
              <div class="circuit-card-name">
                <p>Full Adder from 2 Half Adders</p>
              </div>
              <a class="btn primary-button circuit-card-primary-button" target="_blank" href="https://circuitverse.org/users/3/projects/247">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="btn primary-button homepage-primary-button-feature" href="/examples">Explore More</a>
        </div>
      </div>
    </div>
    <div class="container-fluid home-container-fluid">
      <div class="container">
        <div class="row center-row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Editor Picks</h3>
            <p>These circuits have been hand-picked by our authors for their awesomeness</p>
          </div>
        </div>
        <div class="row center-row justify-content-center">
          <% @featured_circuits.each do |circuit| %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
              <div class="card circuit-card">
                <%= image_tag circuit.image_preview.url, alt: circuit.name, :class => "card-img-top circuit-card-image" %>
                <div class="card-footer circuit-card-footer">
                  <div class="circuit-card-name">
                    <p><%= circuit.name %></p>
                  </div>
                  <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(circuit.author, circuit) %>">View</a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row center-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <a class="btn primary-button homepage-primary-button-feature" href="/featured_circuits">Explore More</a>
            </div>
        </div>
      </div>
    </div>
    <div class="container" id="recent">
      <div class="row center-row home-circuit-card-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Recent Circuits</h3>
          <p>Explore the latest circuits by our awesome users</p>
        </div>
      </div>
      <div class="row center-row justify-content-center">
        <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card circuit-card">
              <%= image_tag project.image_preview.url, alt: project.name, :class => "card-img-top circuit-card-image" %>
              <div class="card-footer circuit-card-footer">
                <div class="circuit-card-name">
                  <p><%= project.name %></p>
                </div>
                <a class="btn primary-button circuit-card-primary-button" target="_blank" href="<%= user_project_url(project.author, project) %>">View</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="container pagination-cont">
        <%= will_paginate @projects, renderer: PaginateRenderer %>
      </div>
    </div>

    <% if user_signed_in? %>
    <script>
        if(localStorage.getItem("recover_login")){
            window.location.href = "/simulator"
        }
    </script>
    <% end %>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebApplication",
    "name" : "<%= Rails.configuration.site_name %>",
    "image" : "<%= Rails.configuration.site_image %>",
    "url" : "<%= Rails.configuration.site_url %>",
    "applicationCategory" : "<%= Rails.configuration.site_category %>",
    "downloadUrl" : "<%= Rails.configuration.site_download_url %>",
    "operatingSystem": "All"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url" : "<%= Rails.configuration.site_url %>",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "<%= Rails.configuration.site_url %>/search?resource=Projects&q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
