<div class="modal fade" id="withdraw-submission-confirmation-modal"
     tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header d-flex align-items-center">
        <h5 id="withdrawModalLabel" class="modal-title flex-grow-1 text-center">
          <%= t("contest.withdraw_submission_modal.heading") %>
        </h5>
        <button type="button"
                class="btn-close ms-auto"
                data-bs-dismiss="modal"
                aria-label="<%= t('contest.close') %>"></button>
      </div>

      <div class="modal-body">
        <p><%= t("contest.withdraw_submission_modal.description") %></p>
      </div>

      <div class="modal-footer">
        <%= link_to "#",
                    id:    "withdraw-submission-button",
                    class: "btn primary-button danger-primary-button",
                    method: :post do %>
          <%= t("contest.withdraw") %>
        <% end %>
      </div>

    </div>
  </div>
</div>
