<div class="row center-row search-user-container">
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
    <div class="d-flex flex-column">
      <%= image_tag user_profile_picture(profile.profile_picture), alt: "user profile", class: "center-row search-usersearch-image" %>
      <p class="center-row search-username"><%= profile.name %></p>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-7 col-lg-7 search-userdetails-container">
    <p class="search-user-details-text"><%= t("users.circuitverse.member_since_html", member_since: profile.member_since) %></p>
    <p class="search-user-details-text"><%= t("users.circuitverse.educational_institutes_html", educational_institute: profile.educational_institute) %></p>
    <p class="search-user-details-text"><%= t("users.circuitverse.country_html", country_name: profile.country_name) %></p>
    <p class="search-user-details-text"><%= t("users.circuitverse.total_circuits_made_html", total_circuits: profile.total_circuits) %></p>
    <a class="btn primary-button search-user-primary-button"
   target="_blank" rel="noopener noreferrer"
   href="<%= user_path(profile) %>"><%= t("view") %></a>
  </div>
</div>
<hr class="search-horizontal-rule">
