<div id="addmemberModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title"><%= t("add_members") %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p><%= t("groups.add_member_description") %></p>
        <%= form_with(model: group_member, local: true) do |form| %>
          <% if group_member.errors.any? %>
            <div id="error-message">
              <ul>
                <% group_member.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.hidden_field :group_id, id: :group_member_group_id %>
          </div>
          <div class="field">
            <%= form.hidden_field :mentor, value: false %>
          </div>
          <div class="form-group">
            <%= form.label :emails %>
            <%= form.select :emails,[ ],{},{ class: 'form-select', multiple: true } %>
          </div>
          <div class="modal-footer">
            <%= form.submit  class: 'add-members-button btn primary-button' %>
          </div>
        <% end %>
      </div>
      <div class="mx-auto text-center p-3">
        <p><%= t("groups.use_alternative") %></p>
        <%= button_to generate_token_group_path,{remote: true,method: :put,class: 'btn primary-button', 'data-toggle':'collapse', 'href':'#collapseExample', 'aria-expanded':'false', 'aria-controls':'collapseExample'} do %>
          <i class="fas fa-external-link-alt"></i>
          <span><%= t("groups.invite_link_btn") %></span>
        <% end %>
        <div class="collapse" id="collapseExample">
          <textarea readonly="readonly" id="embedInviteLink" class="group-invite-link-text" rows="4" cols="35"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
