<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h5>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center my-3">
    <%= form.label :name, "GROUP NAME:", class: 'm-1 m-md-2' %>
    <%= form.text_field :name, id: :group_name, class: 'm-1 m-md-2' %>
  </div>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <%= form.submit 'Save', class: 'btn btn-primary m-1 m-md-2' %>
    <%= link_to 'Back', :back, class: 'btn underline text-success m-1 m-md-2' %>
  </div>
<% end %>
