<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div class="error-message">
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-3 groups-form-text-container">
    <div class="field form-group">
      <h5><%= form.label :name %></h5>
      <div class="input-group groups-input-group">
        <%= form.text_field :name, id: :group_name, class: 'form-control form-input', autofocus: true %>
      </div>
    </div>
  </div>
  <div class="groups-form-text-container">
    <%= form.submit class: 'btn primary-button groups-form-primary-button' %>
    <%= link_to t("back"), :back, class: 'groups-form-anchor-text anchor-text' %>
  </div>
<% end %>
