<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name, "GROUP NAME:" %>
  <%= form.text_field :name, id: :group_name %>
  <div class="d-flex flex-row justify-content-center align-items-center">
    <%= link_to 'Back', :back, class: 'btn underline' %>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
