<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div class="error-explanation">
      <h6><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h6>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-3 editgroup-form-text">
    <h5><%= form.label :name, "Group Name:" %></h5>
    <%= form.text_field :name, id: :group_name, class: 'form-input editgroup-form-input' %>
  </div>
  <div class="editgroup-form-text">
    <%= form.submit 'Save', class: 'btn button-primary editgroup-button-primary' %>
    <%= link_to 'Back', :back, class: 'editgroup-anchor-text anchor-text' %>
  </div>
<% end %>
