<% group.group_members.where(mentor: false).each do |member| %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 groups-members-card-container">
    <% if policy(group).admin_access? %>
      <div class="groups-members-card" style="height: 150px">
    <% else %>
      <div class="groups-members-card">
    <% end %>
      <div class="row">
        <div class="col-7 groups-members-card-details">
          <i class="fa fa-user"></i>
          <div class="groups-members-card-name-container">
            <%= link_to member.user.name, member.user, class: "groups-members-card-name" %>
          </div>
          <% if policy(group).admin_access? %>
            <p class="groups-members-card-email"><%= member.user.email %></p>
          <% end %>
        </div>
        <div class="col-5 groups-members-card-button">
          <% if policy(group).admin_access? %>
            <%= link_to '#', data: {toggle: "modal", target: "#deletememberModal", currentgroupmember: GroupMember.find_by(user_id:member.user.id,group_id:group.id).id}, class:"mini-button groups-delete-mini-button" do %>
              <%= image_tag("SVGs/deleteGroup.svg", alt: "Remove Member") %>
              <span>Remove</span>
            <% end %>
        </div>
            <br><br>
        <div class="col-12 groups-members-card-button">
            <%= link_to '#', data: {toggle: "modal", target: "#promotememberModal", currentgroupmember: GroupMember.find_by(user_id:member.user.id,group_id:group.id).id}, class:"btn btn-success btn-sm" do %>
              <%= image_tag("SVGs/editGroup.svg", alt: "Promote Member") %>
              <span>Promote</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
