<% group.users.each do |user| %>
  <div class="<%= membersCardViewerContainer(group) %>">
    <div class="<%= membersCardViewer(group) %>">
      <div class="row">
        <div class="<%= membersCardViewerDetail(group) %>">
          <i class="fa fa-user"></i>
          <div class="groups-members-card-name-container">
          <span class="tooltiptext"><%= user.name %></span>
            <%= link_to user.name, user, class: "groups-members-card-name" %>
          </div>
          <% if policy(group).admin_access? %>
            <p class="groups-members-card-email"><%= user.email %></p>
          <% end %>
        </div>
        <% if policy(group).admin_access? %>
          <div class="col-5 groups-members-card-button">
              <%= link_to '#', data: {toggle: "modal", target: "#deletememberModal", currentgroupmember: GroupMember.find_by(user_id:user.id,group_id:group.id).id}, class:"mini-button groups-delete-mini-button" do %>
                <%= image_tag("SVGs/deleteGroup.svg", alt: "Remove Member") %>
                <span><%= t("remove") %></span>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
