<div id="promotememberModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title">Promote</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= t("groups.promote_member_confirmation") %>
        <%= t("groups.add_mentor_description_html") %>
      </div>
      <div class="modal-footer">
        <%= button_to "#",params: { group_member: {mentor: true} }, method: :patch, class: "btn primary-button", id: "groups-member-promote-button" do %>
          Promote
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="demotememberModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header secondary-modal-header">
        <h4 class="modal-title">Demote</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= t("groups.demote_mentor_confirmation") %>
        <%= t("groups.add_mentor_description_html") %>
      </div>
      <div class="modal-footer">
        <%= button_to "#",params: { group_member: {mentor: false} }, method: :patch, class: "btn primary-delete-button", id: "groups-member-demote-button" do %>
          Demote
        <% end %>
      </div>
    </div>
  </div>
</div>

