<div id="promote-member-modal" class="modal fade" role="dialog" data-controller="groups">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title"><%= t("groups.make_mentor") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <%= t("groups.promote_member_confirmation") %>
        <%= t("groups.add_mentor_description_html") %>
      </div>
      <div class="modal-footer">
        <%# Form action is set dynamically by JavaScript when modal opens %>
        <%# The action MUST point to /group_members/:id for GroupMembersController#update %>
        <%= form_with url: "#", method: :patch, id: "promote-member-form", local: true, data: { turbo: false } do |f| %>
          <%= hidden_field_tag "group_member[mentor]", "true" %>
          <%= f.submit t("groups.make_mentor"), class: "btn primary-button", id: "groups-member-promote-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="demote-member-modal" class="modal fade" role="dialog" data-controller="groups">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title"><%= t("groups.make_member") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <%= t("groups.demote_mentor_confirmation") %>
        <%= t("groups.add_mentor_description_html") %>
      </div>
      <div class="modal-footer">
        <%# Form action is set dynamically by JavaScript when modal opens %>
        <%# The action MUST point to /group_members/:id for GroupMembersController#update %>
        <%= form_with url: "#", method: :patch, id: "demote-member-form", local: true, data: { turbo: false } do |f| %>
          <%= hidden_field_tag "group_member[mentor]", "false" %>
          <%= f.submit t("groups.make_member"), class: "btn primary-button", id: "groups-member-demote-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
