
<% content_for :title, @group.name %>
<div class="container">
  <div class="row row-text">
    <div class="col-xs col-sm col-md col-lg">
      <h1 class="heading-submain">
        <%= @group.name %>
        <% if policy(@group).admin_access? %>
          <%= link_to edit_group_path(@group), class:"btn button-primary groupdetails-button-primary-editname" do %>
            <%= image_tag("SVGs/editGroup.svg", alt: "Edit Group") %>
            <span>Edit Name</span>
          <% end %>
        <% end %>
      </h1>
      <h4 class="groupdetails-heading-mentor">
        <strong>Mentor:</strong>
        <%= @group.mentor.name %>
      </h4>
      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
    </div>
  </div>
  <div class="row row-text groupdetails-row">
    <h3>MEMBERS</h3>
    <% if policy(@group).admin_access? %>
      <button type="button" class="btn button-primary groupdetails-button-primary-addmember" data-toggle="modal" data-target="#myModal">+ Add Members</button>
    <% end %>
  </div>
  <hr>
  <div class="row row-text groupdetails-row-scroll">
    <% @group.users.each do |user| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="groupdetails-card-member">
          <div class="row">
            <div class="col-7 groupdetails-card-member-details-1">
              <i class="fa fa-user"></i>
              <%= link_to user.name, user, class: "groupdetails-card-member-name" %>
              <p class="groupdetails-card-member-email"><%= user.email %></p>
            </div>
            <div class="col-4 groupdetails-card-member-details-2">
              <% if policy(@group).admin_access? %>
                <%= link_to 'Remove', group_member_path(GroupMember.find_by(user_id:user.id,group_id:@group.id)), method: :delete, data: { confirm: 'Are you sure?' }, class:"button-mini-edit groupdetails-button-mini-remove" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row row-text groupdetails-row">
    <h3>ASSIGNMENTS</h3>
    <% if policy(@group).admin_access? %>
      <%= link_to '+ Add Assignment', new_group_assignment_path(@group), class: "btn button-primary groupdetails-button-primary-addmember" %>
    <% end %>
  </div>
  <hr>

    <!-- to do -->
    <table class="table assignment-table table-borderless">
      <thead>
      <tr>
        <th>Name</th>
        <th>DeadLine</th>
        <th>Grading</th>
        <th>Actions</th>
        <% unless policy(@group).admin_access? %>
          <th>Grade</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @group.assignments.includes(projects: :grade).each do |assignment| %>
          <tr class="assignment-rows">
            <td><%= assignment.name %></td>
            <td><div class="date"><%= assignment.deadline.strftime("%d %b,%Y %I:%M %p %Z") %></div>
              <% if(assignment.deadline > Time.now) %>
              <p> <strong>Time remaining: </strong><%= (( assignment.deadline.to_i - Time.now.to_i)/1.day) %> days,  <%= (( assignment.deadline.to_i- Time.now.to_i)/1.hour)%24 %> hours, <%= (( assignment.deadline.to_i- Time.now.to_i)/1.minute)%60 %> minutes</p>
              <% end %>
            </td>
            <td> <%= AssignmentDecorator.new(assignment).graded %> </td>
            <td>
              <% if policy(@group).admin_access? %>
                <%= link_to 'Show', group_assignment_path(@group,assignment), class:"assignment-view" %>
                <% if assignment.status!="closed" %>
                  <%= link_to 'Edit', edit_group_assignment_path(@group,assignment), class:"assignment-edit-reopen" %>
                <% else %>
                  <%= link_to 'Reopen', reopen_group_assignment_path(@group,assignment), class:"assignment-edit-reopen" %>
                <% end %>
                <%= link_to 'Destroy', group_assignment_path(@group,assignment),class:"assignment-delete", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                  <% project_assignment = assignment.projects.find { |p| p.author_id == current_user.id } %>
                  <%= link_to 'Show', group_assignment_path(@group,assignment), class:"assignment-view" %>
                  <% if(assignment.deadline > Time.now) %>
                      <% if project_assignment.nil? %>
                          <%= link_to 'Start Working', assignment_start_path(@group,assignment), class:"assignment-details" %>
                      <% else %>
                          <%= link_to 'View your work', user_project_path(current_user,project_assignment), class:"assignment-details" %>
                      <% end %>
                  <% else %>
                      <% if project_assignment.nil? %>
                          Not submitted!
                      <% else %>
                          <%= link_to 'View Submission', user_project_path(current_user,project_assignment), class:"assignment-details" %>
                      <% end %>
                  <% end %>
            <% end %>
            </td>
            <% unless policy(@group).admin_access? %>
              <td>
                <% if policy(assignment).show_grades? && project_assignment.present? %>
                  <div class="tooltip-help">
                    <%= ProjectDecorator.new(project_assignment).grade_str %>
                    <div class="right-help">
                      <%= ProjectDecorator.new(project_assignment).remarks_str %>
                      <i> </i>
                    </div>
                  </div>
                <% else %>
                  N.A.
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if policy(@group).admin_access? %>
    <% end %>
    <!-- to do ends -->

  <%= link_to 'Back', user_groups_path(current_user) ,class:"anchor-text" %>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog custom-modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header custom-modal-header">
          <h4 class="modal-title">Add members</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Enter Email IDs separated by commas/spaces or in separate lines. If users are not registered, an email ID will be sent requesting them to sign up.</p>
          <%= form_with(model: @group_member, local: true) do |form| %>
            <% if @group_member.errors.any? %>
              <div id="error-explanation">
                <h6><%= pluralize(group_member.errors.count, "error") %> prohibited this group member from being saved:</h6>
                <ul>
                  <% @group_member.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= form.hidden_field :group_id, id: :group_member_group_id %>
            </div>
            <div class="form-group">
              <label for="emails">Email IDs:</label>
              <textarea class="form-control" rows="5" id="emails" name="group_member[emails]"></textarea>
            </div>
            <div class="actions modal-footer">
              <%= form.submit "Add members", class: 'btn button-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $('.date').each(function(){
              this.innerHTML = formatDate(new Date(this.innerHTML), "dddd hh:mmTT zz, dd MMM yyyy")
          })
      })
  </script>
</div>
