
<% content_for :title, @group.name %>
<div class="container">
  <div class="row row-text">
    <div class="col-xs col-sm col-md col-lg">
      <h1 class="heading-submain">
        <%= @group.name %>
        <% if policy(@group).admin_access? %>
          <%= link_to edit_group_path(@group), class:"btn button-primary groupdetails-button-primary-editname" do %>
            <%= image_tag("SVGs/editGroup.svg", alt: "Edit Group") %>
            <span>Edit Name</span>
          <% end %>
        <% end %>
      </h1>
      <h4 class="groupdetails-heading-mentor">
        <strong>Mentor:</strong>
        <%= @group.mentor.name %>
      </h4>
      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
    </div>
  </div>
  <div class="row row-text groupdetails-row">
    <h3>MEMBERS</h3>
    <% if policy(@group).admin_access? %>
      <button type="button" class="btn button-primary groupdetails-button-primary-addmember" data-toggle="modal" data-target="#myModal">+ Add Members</button>
    <% end %>
  </div>
  <hr>
  <div class="row row-text groupdetails-row-scroll">
    <%= render partial "group_members", locals: {group: @group} %>
  </div>
  <div class="row row-text groupdetails-row">
    <h3>ASSIGNMENTS</h3>
    <% if policy(@group).admin_access? %>
      <%= link_to '+ Add Assignment', new_group_assignment_path(@group), class: "btn button-primary groupdetails-button-primary-addmember" %>
    <% end %>
  </div>
  <hr>
  <table class="table groupdetails-table-assignments table-borderless">
    <thead class="groupdetails-table-assignments-heading">
      <tr>
        <th>Name</th>
        <th>DeadLine</th>
        <th>Grading</th>
        <th>Actions</th>
        <% unless policy(@group).admin_access? %>
          <th>Grade</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="table-expanded">
      <% @group.assignments.includes(projects: :grade).each do |assignment| %>
        <tr class="groupdetails-table-assignments-rows">
          <td>
            <div class="assignment-content assignment-name">
              <%= assignment.name %>
            </div>
          </td>
          <td>
            <div class="assignment-deadline-date table-expanded-date"><%= assignment.deadline %></div>
            <% if(assignment.deadline > Time.now) %>
              <p>
                (<strong>Time remaining: </strong><%= (( assignment.deadline.to_i - Time.now.to_i)/1.day) %> days,  <%= (( assignment.deadline.to_i- Time.now.to_i)/1.hour)%24 %> hours, <%= (( assignment.deadline.to_i- Time.now.to_i)/1.minute)%60 %> minutes)
              </p>
            <% end %>
          </td>
          <td>
            <div class="assignment-content">
              <%= AssignmentDecorator.new(assignment).graded %>
            </div>
          </td>
          <td class="assignment-button-container">
            <div class="assignment-content">
              <%= link_to group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-view" do %>
                <%= image_tag("SVGs/viewGroup.svg", alt: "View Assignment") %>
                <span>View</span>
              <% end %>
            </div>
            <% if policy(@group).admin_access? %>
              <% if assignment.closed? %>
                <div class="assignment-content">
                  <%= link_to edit_group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                    <%= image_tag("SVGs/editGroup.svg", alt: "Edit Assignment") %>
                    <span>Edit</span>
                  <% end %>
                </div>
              <% else %>
                <div class="assignment-content">
                  <%= link_to reopen_group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                    <%= image_tag("SVGs/reopenAssignment.svg", alt: "Reopen Assignment") %>
                    <span>Reopen</span>
                  <% end %>
                </div>
              <% end %>
              <div class="assignment-content">
                <%= link_to group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= image_tag("SVGs/deleteGroup.svg", alt: "Delete Assignment") %>
                  <span>Delete</span>
                <% end %>
              </div>
            <% else %>
              <% project_assignment = assignment.projects.find { |p| p.author_id == current_user.id } %>
                <% if(assignment.deadline > Time.now) %>
                  <% if project_assignment.nil? %>
                    <div class="assignment-content">
                      <%= link_to assignment_start_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                        <%= image_tag("SVGs/editGroup.svg", alt: "Start Assignment") %>
                        <span>Start Working</span>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="assignment-content">
                      <%= link_to user_project_path(current_user,project_assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                        <%= image_tag("SVGs/viewGroup.svg", alt: "View work") %>
                        <span>View your Work</span>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <% if project_assignment.nil? %>
                    <h6 class="assignment-no-submission">Not submitted!</h6>
                  <% else %>
                    <div class="assignment-content">
                      <%= link_to user_project_path(current_user,project_assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                        <%= image_tag("SVGs/viewGroup.svg", alt: "View submission") %>
                        <span>View Submission</span>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <% unless policy(@group).admin_access? %>
              <td>
                <% if policy(assignment).show_grades? && project_assignment.present? %>
                  <div class="assignment-content">
                    <div class="assignment-no-submission">
                      <h6>
                        <%= ProjectDecorator.new(project_assignment).grade_str %>
                      </h6>
                      <div class="assignment-name">
                        <p>(<%= ProjectDecorator.new(project_assignment).remarks_str %>)</p>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="assignment-content">
                    <h6 class="assignment-no-submission">N.A.</h6>
                  </div>
                <% end %>
              </td>
            <% end %>
        </tr>
        <tr class="assignment-table-expanded-empty-row"></tr>
      <% end %>
    </tbody>

    <tbody class="table-collapsed">
      <% @group.assignments.includes(projects: :grade).each do |assignment| %>
        <tr>
          <table class="groupdetails-table-assignments-rows table-collapsed">
            <tr>
              <th class="table-collapsed-head">Name</th>
              <td>
                <div class="table-collapsed-assignment-name">
                  <%= assignment.name %>
                </div>
              </td>
            </tr>
            <tr class="table-collapsed-assignment-table-empty-row"></tr>
            <tr>
              <th class="table-collapsed-head">Deadline</th>
              <td>
                <div class="assignment-deadline-date"><%= assignment.deadline %></div>
                <% if(assignment.deadline > Time.current) %>
                  <p>(<strong>Time remaining: </strong><%= assignment.time_remaining %>)</p>
                <% end %>
              </td>
            </tr>
            <tr class="table-collapsed-assignment-table-empty-row"></tr>
            <tr>
              <th class="table-collapsed-head">Grading</th>
              <td>
                <%= AssignmentDecorator.new(assignment).graded %>
              </td>
            </tr>
            <tr class="table-collapsed-assignment-table-empty-row"></tr>
            <tr>
              <th class="table-collapsed-head table-collapsed-assignment-content">Actions</th>
              <td class="assignment-button-container">
                <div class="table-collapsed-assignment-content">
                  <%= link_to group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-view" do %>
                    <%= image_tag("SVGs/viewGroup.svg", alt: "View Assignment") %>
                    <span>View</span>
                  <% end %>
                </div>
                <% if policy(@group).admin_access? %>
                  <% if assignment.status!="closed" %>
                    <div class="table-collapsed-assignment-content">
                      <%= link_to edit_group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                        <%= image_tag("SVGs/editGroup.svg", alt: "Edit Assignment") %>
                        <span>Edit</span>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="table-collapsed-assignment-content">
                      <%= link_to reopen_group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                        <%= image_tag("SVGs/reopenAssignment.svg", alt: "Reopen Assignment") %>
                        <span>Reopen</span>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="table-collapsed-assignment-content">
                    <%= link_to group_assignment_path(@group,assignment), class:"button-mini-edit assignment-button-mini-delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <%= image_tag("SVGs/deleteGroup.svg", alt: "Delete Assignment") %>
                      <span>Delete</span>
                    <% end %>
                  </div>
                <% else %>
                  <% project_assignment = assignment.projects.find { |p| p.author_id == current_user.id } %>
                    <% if(assignment.deadline > Time.now) %>
                      <% if project_assignment.nil? %>
                        <div class="table-collapsed-assignment-content">
                          <%= link_to assignment_start_path(@group,assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                            <%= image_tag("SVGs/editGroup.svg", alt: "Start Assignment") %>
                            <span>Start Working</span>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="table-collapsed-assignment-content">
                          <%= link_to user_project_path(current_user,project_assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                            <%= image_tag("SVGs/viewGroup.svg", alt: "View work") %>
                            <span>View your Work</span>
                          <% end %>
                        </div>
                      <% end %>
                    <% else %>
                      <% if project_assignment.nil? %>
                      <div class="table-collapsed-assignment-content">
                        <div class="assignment-no-submission">
                          <h6>Not submitted!</h6>
                        </div>
                      </div>
                      <% else %>
                        <div class="table-collapsed-assignment-content">
                          <%= link_to user_project_path(current_user,project_assignment), class:"button-mini-edit assignment-button-mini-edit-reopen" do %>
                            <%= image_tag("SVGs/viewGroup.svg", alt: "View submission") %>
                            <span>View Submission</span>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
              </td>
            </tr>
                <% unless policy(@group).admin_access? %>
                  <tr class="table-collapsed-assignment-table-empty-row"></tr>
                  <tr>
                    <th class="table-collapsed-head table-collapsed-assignment-content">Grade</th>
                    <td>
                      <% if policy(assignment).show_grades? && project_assignment.present? %>
                        <div class="table-collapsed-assignment-content">
                          <div class="assignment-no-submission">
                            <h6>
                              <%= ProjectDecorator.new(project_assignment).grade_str %>
                            </h6>
                            <div class="assignment-name">
                              <p>(<%= ProjectDecorator.new(project_assignment).remarks_str %>)</p>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="table-collapsed-assignment-content">
                          <h6 class="assignment-no-submission">N.A.</h6>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
          </table>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-12 groupdetails-back-button-container">
      <%= link_to 'Back', user_groups_path(current_user) ,class:"anchor-text" %>
    </div>
  </div>
  <%= render partial: "modal", locals: {group_member: @group_member} %>

  <script>
      $(document).ready(function() {
          $('.assignment-deadline-date').each(function(){
              this.innerHTML = formatDate(new Date(this.innerHTML), "dddd hh:mmTT zz, dd MMM yyyy")
          })
      })
  </script>
</div>
