<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator
   name = Commontator.commontator_name(creator) || ''
   link = Commontator.commontator_link(creator, main_app) || ''
   avatar = Commontator.commontator_avatar(creator, self) || ''
%>

<div id="comment_<%= comment.id.to_s %>_div" class="comment">

  <div id="comment_<%= comment.id.to_s %>_middle_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_avatar_span" class="comment_avatar">
      <%= avatar %>
    </span>
    <span id="comment_<%= comment.id.to_s %>_votes_span" class="comment_votes" >
      <%= render partial: 'commontator/comments/votes',
                 locals: { comment: comment,
                              user: user } %>
    </span>
    <div id="comment_<%= comment.id.to_s %>_body_div" class="comment_body">
      <span id="comment_<%= comment.id.to_s %>_commontator_span" class="comment_commontator">
        <%= link.blank? ? name : link_to(name, link) %>
      </span>
      &ensp;
      <span id="comment_<%= comment.id.to_s %>_created_timestamp_span" class="comment_timestamp">
        <%= comment.created_timestamp %>
      </span>
      <br/>
      <span id="comment_<%= comment.id.to_s %>_updated_timestamp_span" class="comment_timestamp" style="margin-left:10px;">
      <% if comment.is_modified? %>
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%= comment.updated_timestamp %>
      <% end %>
      </span>
    </div>
  </div>

    <p></p>
    <div class="row">
    <div id="comment_<%= comment.id.to_s %>_bottom_div" class="col col-10 comment_div_style">
      <%= render partial: 'commontator/comments/body',
                 locals: { comment: comment } %>
    </div>
    <div class="col col-2">
    <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions comment_actions_link" style="float:right;margin-top:10px;font-weight:normal;">
    <%= render partial: 'commontator/comments/actions',
                 locals: { comment: comment,
                              user: user } %>
    </span>
    </div>
    </div>

</div>
