<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator
   name = Commontator.commontator_name(creator) || ''
   link = Commontator.commontator_link(creator, main_app) || ''
   avatar = Commontator.commontator_avatar(creator, self) || ''
%>

<div id="comment_<%= comment.id.to_s %>_div" class="comment row">
  <div class="col-11">
    <div id="comment_<%= comment.id.to_s %>_top_div" class="row comment-div">
      <span id="comment_<%= comment.id.to_s %>_avatar_span" class="comment-avatar comment_avatar">
        <%= avatar %>
      </span>
      <div id="comment_<%= comment.id.to_s %>_body_div" class="comment-body" style="padding: 8px 6px 6px 6px;">
        <span id="comment_<%= comment.id.to_s %>_commontator_span" class="comment-commontator">
          <%= link.blank? ? name : link_to(name, link) %>
        </span>
        &ensp;
        <span id="comment_<%= comment.id.to_s %>_created_timestamp_span" class="comment_timestamp">
          <%= comment.created_timestamp %>
        </span>
        <span id="comment_<%= comment.id.to_s %>_updated_timestamp_span" class="comment_timestamp" style="margin-left:10px;">
        <% if comment.is_modified? %>
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%= comment.updated_timestamp %>
        <% end %>
        </span>
      </div>
    </div>
    <div id="comment_<%= comment.id.to_s %>_middle_div" class="row comment-div">
      <%= render partial: 'commontator/comments/body',
                  locals: { comment: comment } %>
    </div>
  </div>
  <div class="col-1" style="padding: 0px;">
    <% if @project.author_id != current_user&.id %>
      <span id="comment_<%= comment.id.to_s %>_votes_span" class="comment-votes comment_votes">
          <%= render partial: 'commontator/comments/votes',
                    locals: { comment: comment,
                                  user: user } %>
      </span>
    <% end %>
    <% if @project.author_id == current_user&.id %>
      <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions comment-actions-link" style="float:right;margin-top:10px;font-weight:normal;">
      <%= render partial: 'commontator/comments/actions',
                  locals: { comment: comment,
                                user: user } %>
      </span>
    <% end %>
  </div>
</div>
