<% # Clients of this partial must provide the following variables:
   # comment
   # user
%>

<% if comment.can_be_voted_on? %>
  <% can_vote = comment.can_be_voted_on_by?(user) %>
  <% vote = comment.get_vote_by(user) %>
  <% comment_voting = comment.thread.config.comment_voting.to_sym %>

  <% if comment_voting == :ld || comment_voting == :l %>
  <% vtype = (comment_voting == :ld) ? 'upvote' : 'like' %>
  <span id="comment_<%= comment.id %>_<%= vtype %>_span"
        class="comment_<%= vtype %>">
    <% if can_vote && (vote.blank? || !vote.vote_flag) %>
      <%= form_tag commontator.upvote_comment_path(comment),
            method: :put,
            remote: true do %>
        <%= image_submit_tag "commontator/upvote.png",
              onmouseover: "this.src='#{image_path("commontator/upvote_hover.png")}'",
              onmouseout: "this.src='#{image_path("commontator/upvote.png")}'" %>
      <% end %>
    <% elsif can_vote %>
      <%= form_tag commontator.unvote_comment_path(comment),
            method: :put,
            remote: true do %>
        <%= image_submit_tag "commontator/upvote_active.png",
              onmouseover: "this.src='#{image_path("commontator/upvote.png")}'",
              onmouseout: "this.src='#{image_path("commontator/upvote_active.png")}'"
        %>
      <% end %>
    <% else %>
      <%= image_tag "commontator/upvote_disabled.png" %>
    <% end %>
  </span>
  <% end %>

  <span id="comment_<%= comment.id %>_vote_count_span" class="comment_vote_count">
    <% config = comment.thread.config %>
    <%= config.vote_count_proc.call(comment.thread,
          comment.get_upvotes.size, comment.get_downvotes.size) %>
  </span>

  <% if comment_voting == :ld %>
  <span id="comment_<%= comment.id %>_downvote_span" class="comment_downvote">
    <% if can_vote && (vote.blank? || vote.vote_flag) %>
      <%= form_tag commontator.downvote_comment_path(comment),
            method: :put,
            remote: true do %>
        <%= image_submit_tag "commontator/downvote.png",
              onmouseover: "this.src='#{image_path("commontator/downvote_hover.png")}'",
              onmouseout: "this.src='#{image_path("commontator/downvote.png")}'" %>
      <% end %>
    <% elsif can_vote %>
      <%= form_tag commontator.unvote_comment_path(comment),
            method: :put,
            remote: true do %>
        <%= image_submit_tag "commontator/downvote_active.png",
              onmouseover: "this.src='#{image_path("commontator/downvote.png")}'",
              onmouseout: "this.src='#{image_path("commontator/downvote_active.png")}'"
        %>
      <% end %>
    <% else %>
      <%= image_tag "commontator/downvote_disabled.png" %>
    <% end %>
  </span>
  <% end %>
<% end %>
