<% content_for(:html_title) { 'CircuitVerse - Digital Simulator' } %>

<script src="/js/plugins/jquery.twbs-toggle-buttons.min.js"></script>
<script src="/js/plugins/checkBo.min.js"></script>
<script src="/js/plugins/bootstrap-input-spinner.js"></script>

<script>
  userSignedIn = <%= user_signed_in? %>;
  __logix_project_id = "<%= @logix_project_id %>";
  __projectName = "<%= @projectName %>"
</script>

<div id='exitView'></div>
<nav class="navbar navbar-expand-lg navbar-dark header">
  <a href="/"><span class='logo'></span></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="collapsedNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav navbar-menu noSelect pointerCursor" id="toolbar">
      <li class="dropdown nav-dropdown">
        <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.project.heading") %><span></span></a>
        <ul class="dropdown-menu">
          <% if not @project.nil? %>
             <li><a class="dropdown-item logixButton text-left pl-1" href="<%= user_project_url(@project.author, @project) %>" target="_blank"><%= t("simulator.project.project_page") %></a></li>
          <% end %>
          <li><a class="dropdown-item logixButton text-left pl-1" id="newProject"><%= t("simulator.nav.project.new_project") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="save"><%= t("simulator.save_online") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="saveOffline"><%= t("simulator.save_offline") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="createOpenLocalPrompt"><%= t("simulator.nav.project.open_offline") %></a></li>
           <li><a class="dropdown-item logixButton text-left pl-1" id="clearProject"><%= t("simulator.nav.project.clear_project") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="recoverProject"><%= t("simulator.nav.project.recover_project") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="fullViewOption"><%= t("simulator.preview_circuit") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" onclick="old_ui_redirect()"><%= t("simulator.nav.project.view_previous_ui") %></a></li>
        </ul>
      </li>
      <li class="dropdown nav-dropdown">
        <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.circuit.heading") %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-left logixButton pl-1" id="newCircuit"><%= t("simulator.nav.circuit.new_circuit") %></a></li>
          <li><a class="dropdown-item text-left logixButton pl-1" id="newVerilogModule"><%= t("simulator.nav.circuit.new_verilog_module_html") %></a></li>
          <li><a class="dropdown-item logixButton text-left pl-1" id="createSubCircuitPrompt"><%= t("simulator.insert_subcircuit") %></a></li>
        </ul>
      </li>
      <li class="dropdown nav-dropdown">
        <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.tools.heading") %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-left pl-1 logixButton" id="createCombinationalAnalysisPrompt"><%= t("simulator.nav.tools.combinational_analysis_html") %></a></li>
          <li><a class="dropdown-item text-left pl-1 logixButton" id="bitconverter"><%= t("simulator.nav.tools.hex_bin_dec_converter_html") %></a></li>
          <li><a class="dropdown-item text-left pl-1 logixButton" id="createSaveAsImgPrompt"><%= t("simulator.nav.tools.download_image") %></a>
          <li><a class="dropdown-item text-left pl-1 logixButton" id="colorThemes"><%= t("simulator.nav.tools.themes") %></a>
          <li><a class="dropdown-item text-left pl-1" id="customShortcut"><%= t("simulator.nav.tools.custom_shortcut") %></a></li>
          <li><a class="dropdown-item text-left pl-1 logixButton" id="generateVerilog"><%= t("simulator.export_verilog") %></a>
        </ul>
      </li>
      <li class="dropdown tour-help nav-dropdown">
        <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.help.heading") %><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item text-left pl-1 logixButton" id="showTourGuide"><%= t("simulator.nav.help.tutorial_guide") %></a></li>
            <li><a class="dropdown-item text-left pl-1" href="https://docs.circuitverse.org" class="" target="_blank" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.help.user_manual") %></a></li>
            <li><a class="dropdown-item text-left pl-1" href="https://learn.circuitverse.org" class="" target="_blank" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.help.learn_digital_logic") %></a></li>
            <li><a class="dropdown-item text-left pl-1" href="https://circuitverse.org/forum" class="forum-tab" target="_blank" role="button" aria-haspopup="true" aria-expanded="false"><%= t("simulator.nav.help.discussion_forum") %></a></li>
        </ul>
      </li>
      
      
    </ul>
      <span class="projectName noSelect defaultCursor font-weight-bold" id="projectName">
        <%= t("simulator.nav.untitled_project") %>
      </span>


    <div ondrag="(() => {$('.quick-btn').css({'box-shadow': 'none', 'background': 'var(--bg-navbar)'})})()" class='quick-btn'>
      <div id='dragQPanel' class='panel-drag'>
      <span><svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="31" viewBox="0 0 18 31">
        <defs>
          <clipPath id="clip-path">
            <rect width="18" height="31" fill="none"/>
          </clipPath>
        </defs>
        <g id="Repeat_Grid_1" data-name="Repeat Grid 1" clip-path="url(#clip-path)">
          <g transform="translate(-21 -29)">
            <circle id="Ellipse_1" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
          <g transform="translate(-12 -29)">
            <circle id="Ellipse_1-2" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
          <g transform="translate(-21 -18)">
            <circle id="Ellipse_1-3" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
          <g transform="translate(-12 -18)">
            <circle id="Ellipse_1-4" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
          <g transform="translate(-21 -7)">
            <circle id="Ellipse_1-5" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
          <g transform="translate(-12 -7)">
            <circle id="Ellipse_1-6" data-name="Ellipse 1" cx="2" cy="2" r="2" transform="translate(22 30)" fill="#fff"/>
          </g>
        </g>
      </svg>
      </span></div>
      <div>
        <button type="button" class="quick-btn-save-online logixButton" id="save" title="<%= t("simulator.save_online") %>" onclick="">
        </button>
      </div>
      <div>
        <button type="button" class="quick-btn-save logixButton"  id="saveOffline" title="<%= t("simulator.save_offline") %>" onclick="">
        </button>
      </div>          
      <div>
        <button type="button" class="quick-btn-delete" title="<%= t("simulator.tooltip.delete_selected") %>" id="deleteSelected">
        </button>
      </div>     
      <div>
        <button type="button" class="quick-btn-download logixButton" id="createSaveAsImgPrompt" title="<%= t("simulator.tooltip.download_as_image") %>" onclick="">
        </button>
      </div>
      <div>    
        <button type="button" class="quick-btn-zoom-fit" title="<%= t("simulator.tooltip.fit_to_screen") %>" onclick="globalScope.centerFocus(false)">
        </button>
      </div>
      <div>
        <button type="button" class="quick-btn-undo" title="<%= t("simulator.undo") %>" id="undoButton">
        </button>
      </div>
      <div>
        <button type="button" class="quick-btn-view" title="<%= t("simulator.preview_circuit") %>" id="viewButton"><i style="color: #ddd;" class="fas fa-expand-arrows-alt"></i>
        </button>
      </div>
   <!--   <div>
        <button type="button" class="quick-btn-redo logixButton" title="<%= t("simulator.tooltip.redo") %>" onclick="">
        </button> -->
        <div class="zoom-slider">
          <button class="zoom-slider-decrement" id="decrement">-</button>
          <input type="range" class="custom-range" min="0" max="45" step="1"  id="customRange1">
          <span id='slider_value'></span>
          <button class="zoom-slider-increment" id="increment">+</button>
        </div>
      </div>
      
    </div>
    <ul class="nav navbar-nav noSelect pointerCursor pull-right account-btn">
      <li class="dropdown pull-right">
        <% if user_signed_in? %>
          <a href="#" class="cur-user acc-drop user-field" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret acc-caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=<%= user_path(current_user) %>><%= t("simulator.nav.dashboard") %></a></li>
            <li><a class="dropdown-item" href=<%= user_groups_path(current_user) %>><%= t("simulator.nav.my_groups") %></a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" rel="nofollow" data-method="delete" href=<%= destroy_user_session_path %>><%= t("simulator.nav.sign_out") %></a></li>
          </ul>
        <% else %>
          <a class="navbar-nav signIn-btn user-field" href=<%= new_user_session_path %>> <%= t("simulator.nav.sign_in") %></a>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
<div id="tabsBar" class="noSelect pointerCursor">
  <button class="logixButton" id="newCircuit" onclick="">&#43;</button>
</div>
<div title="<%= t("simulator.export_verilog") %>" id="verilog-export-code-window-div" style="display:none"><textarea id="verilog-export-code-window"></textarea></div>
<div id="code-window" class='code-window'><textarea id="codeTextArea"></textarea></div>
<div class="modules noSelect defaultCursor ce-panel elementPanel draggable-panel draggable-panel-css " id="guide_1">
  <div class="panel-header"><%= t("simulator.panel_header.circuit_elements") %>
  <span class="fas fa-minus-square minimize"></span>
  <span class="fas fa-external-link-square-alt maximize"></span>
  </div>
  <div class="panel-body" id="testid">
    <div style="position: relative;">
    <input type="text" class="search-input" value="" placeholder="<%= t("simulator.panel_body.circuit_elements.search") %>">
    <span><i class="fas search-close fa-times-circle"></i></span>
    </div>
    <div class="search-results"></div>
    <div class="accordion" id="menu"></div>
  </div>
</div>

<div class="noSelect defaultCursor layoutElementPanel draggable-panel draggable-panel-css ">
  <div class="panel-header"><%= t("simulator.panel_header.layout_elements") %>
  <span class="fas fa-minus-square minimize"></span>
  <span class="fas fa-external-link-square-alt maximize"></span>
  </div>
  <div class="panel-body">
    <div class="search-results"></div>
    <div class="accordion" id="subcircuitMenu"></div>
  </div>
</div>
<div class="timing-diagram-panel draggable-panel">
<div class="panel-header"><%= t("simulator.panel_header.timing_diagram") %>
  <span class="fas fa-minus-square minimize panel-button"></span>
  <span class="fas fa-external-link-square-alt maximize panel-button-icon"></span>
  </div>
  <div class="panel-body">
    <div class='timing-diagram-toolbar noSelect'>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.decrease_size") %>"><span class="fas fa-chevron-left timing-diagram-smaller panel-button-icon"></span></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.increase_size") %>"><span class="fas fa-chevron-right timing-diagram-larger panel-button-icon"></span></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.decrease_height") %>"><span class="fas fa-chevron-up timing-diagram-small-height panel-button-icon"></span></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.increase_height") %>"><span class="fas fa-chevron-down timing-diagram-large-height panel-button-icon"></span></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.download_as_image") %>"><span class="fas fa-download timing-diagram-download"></button>
      <button class='custom-btn--tertiary panel-button' title="<%= t("simulator.panel_header.reset_timing_diagram") %>"><span class="fas fa-undo timing-diagram-reset"></button>
      <button class='custom-btn--tertiary panel-button' title="<%= t("simulator.panel_header.autocalibrate_cycle_units") %>"><span class="fas fa-magic timing-diagram-calibrate"></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.zoom_in") %>"><span class="fas fa-search-plus timing-diagram-zoom-in"></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.zoom_out") %>"><span class="fas fa-search-minus timing-diagram-zoom-out"></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.resume_timing_diagram") %>"><span class="fas fa-play timing-diagram-resume"></button>
      <button class='custom-btn--primary panel-button' title="<%= t("simulator.panel_header.pause_timing_diagram") %>"><span class="fas fa-pause timing-diagram-pause"></button>
      <%= t("simulator.panel_body.timing_diagram.one_cycle_unit_html") %>
      <span id='timing-diagram-log'></span>
    </div>
    <div id="plot">
      <canvas id="plotArea"
      ></canvas>
    </div>
  </div>
</div>
<div id="MessageDiv"></div>
<div class="noSelect defaultCursor draggable-panel draggable-panel-css" id="verilogEditorPanel">
  <div class="panel-header"><%= t("simulator.panel_header.verilog_module") %>
  <span class="fas fa-minus-square minimize"></span>
  <span class="fas fa-external-link-square-alt maximize"></span>
  </div>
  <div class="panel-body">
    <div class="layout-body">
      <button class="largeButton btn logixButton btn-xs custom-btn--tertiary" id="resetVerilogCode"><%= t("simulator.panel_body.verilog_module.reset_code") %></button>
      <button class="largeButton btn logixButton btn-xs custom-btn--primary" id="saveVerilogCode"><%= t("simulator.panel_body.verilog_module.save_code") %></button>
      <div id="verilogOutput">
      <%= t("simulator.panel_body.verilog_module.module_in_experiment_notice") %>
      </div>
    </div>
  </div>
</div>

<div class="moduleProperty noSelect effect1 properties-panel draggable-panel draggable-panel-css  guide_2" id="moduleProperty">
  <div id="moduleProperty-title" class="noSelect panel-header"><%= t("simulator.panel_header.properties") %>
  <span class="fas fa-minus-square minimize"></span>
  <span class="fas fa-external-link-square-alt maximize"></span>
  </div>
  <div class='panel-body'> <div id="moduleProperty-inner"></div></div>
</div>
<div id="customShortcutDialog" title="Keybinding Preference"></div>
<div id="layoutDialog" class="draggable-panel draggable-panel-css ">
  <div class="panel-header"><%= t("simulator.panel_header.layout") %>
      <span class="fas fa-minus-square minimize"></span>
      <span class="fas fa-external-link-square-alt maximize"></span>
  </div>
  <div class="layout-body panel-body" id="layout-body">
    <div class="">
      <button
        class="zoomButton btn-lg"
        id="decreaseLayoutWidth"
        title="<%= t("simulator.tooltip.decrease_width") %>">
        <span class="fa fa-minus" aria-hidden="true"></span>
      </button>
      <span><%= t("simulator.panel_body.layout.width") %></span>
      <button
        class="zoomButton btn-lg"
        id="increaseLayoutWidth"
        title="<%= t("simulator.tooltip.increase_width") %>">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
    <div class="">
      <button
        class="zoomButton btn-lg"
        id="decreaseLayoutHeight"
        title="<%= t("simulator.tooltip.decrease_height") %>">
        <span class="fa fa-minus" aria-hidden="true"></span>
      </button>
      <span><%= t("simulator.panel_body.layout.height") %></span>
      <button
        class="zoomButton btn-lg"
        id="increaseLayoutHeight"
        title="<%= t("simulator.tooltip.increase_height") %>">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
    <div class="">
      <span><%= t("simulator.panel_body.layout.reset_all_nodes") %></span>
      <button
        class="zoomButton btn-lg"
        id="layoutResetNodes"
      >
        <span class="fa fa-sync" aria-hidden="true" title="<%= t("simulator.tooltip.reset") %>"></span>
      </button>
    </div>
    <div class="layout-title">
      <span><%= t("simulator.panel_body.layout.title") %></span>
      <div class="layout--btn-group">
        <button
          class="zoomButton-up btn-lg no-select"
          id="layoutTitleUp"
        >
        <svg id="Group_304" data-name="Group 304" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g id="Rectangle_1072" data-name="Rectangle 1072" fill="none" stroke="#f1f9ff" stroke-width="2">
            <rect width="30" height="30" rx="10" stroke="none"/>
            <rect x="1" y="1" width="28" height="28" rx="9" fill="none"/>
          </g>
          <path id="Path_36" data-name="Path 36" d="M4.7,6.1,0,1.4,1.4,0,4.7,3.3,8,0,9.4,1.4Z" transform="translate(19.4 17.755) rotate(180)" fill="#fff"/>
        </svg>
        
      </button>
        <button
          class="zoomButton-down btn-lg no-select"
          id="layoutTitleDown"
        >
        <svg id="Group_305" data-name="Group 305" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g id="Rectangle_1072" data-name="Rectangle 1072" fill="none" stroke="#f1f9ff" stroke-width="2">
            <rect width="30" height="30" rx="10" stroke="none"/>
            <rect x="1" y="1" width="28" height="28" rx="9" fill="none"/>
          </g>
          <path id="Path_36" data-name="Path 36" d="M4.7,6.1,0,1.4,1.4,0,4.7,3.3,8,0,9.4,1.4Z" transform="translate(10 11.655)" fill="#fff"/>
        </svg>
        
      </button>
        <button
          class="zoomButton-left btn-lg no-select"
          id="layoutTitleLeft"
        >
        <svg id="Group_306" data-name="Group 306" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g id="Rectangle_1072" data-name="Rectangle 1072" fill="none" stroke="#f1f9ff" stroke-width="2">
            <rect width="30" height="30" rx="10" stroke="none"/>
            <rect x="1" y="1" width="28" height="28" rx="9" fill="none"/>
          </g>
          <path id="Path_36" data-name="Path 36" d="M4.7,6.1,0,1.4,1.4,0,4.7,3.3,8,0,9.4,1.4Z" transform="translate(18.1 9.655) rotate(90)" fill="#fff"/>
        </svg>
        </button>
        <button
          class="zoomButton-right btn-lg no-select"
          id="layoutTitleRight"
        >
        <svg id="Group_307" data-name="Group 307" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g id="Rectangle_1072" data-name="Rectangle 1072" fill="none" stroke="#f1f9ff" stroke-width="2">
            <rect width="30" height="30" rx="10" stroke="none"/>
            <rect x="1" y="1" width="28" height="28" rx="9" fill="none"/>
          </g>
          <path id="Path_36" data-name="Path 36" d="M4.7,6.1,0,1.4,1.4,0,4.7,3.3,8,0,9.4,1.4Z" transform="translate(12 19.055) rotate(-90)" fill="#fff"/>
        </svg>  
      </button>
    </div>
    </div>
    <div class="layout-title--enable">
      <span><%= t("simulator.panel_body.layout.title_enabled") %></span>
      <label class="switch">
        <input
          type="checkbox"
          checked
          id="toggleLayoutTitle"
        />
        <span class="slider"></span>
      </label>
    </div>
    <div class="">
      <button
        class="Layout-btn custom-btn--primary"
        id="saveLayout">
        <%= t("simulator.panel_body.layout.save") %>
      </button>

      <button
        class="Layout-btn custom-btn--tertiary"
        id="cancelLayout">
        <%= t("simulator.panel_body.layout.cancel") %>
      </button>
    </div>
  </div>
</div>
<div id="saveImageDialog"  class="noSelect" style="display: none;" title="<%= t("simulator.panel_header.render_image") %>">
  <div class="download-dialog-section-1">
    <label class="option custom-radio inline"
      ><input
        type="radio"
        name="imgType"
        value="png"
        checked="checked" />PNG<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="imgType" value="jpeg" />JPEG<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="imgType" value="svg" />SVG<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="imgType" value="bmp" />BMP<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="imgType" value="gif" />GIF<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="imgType" value="tiff" />TIFF<span></span
    ></label>
  </div>
  <div class="download-dialog-section-2">
    <div
      class="option inline btn-group btn-group-toggle"
      style="border: none;"
      data-toggle="buttons"
    >
      <div class="btn" id="radio-full" role="button">
        <input type="radio" name="view" value="full" /> <%= t("simulator.panel_body.render_image.full_circuit_view") %>
      </div>
      <div class="btn active" id="radio-current" role="button">
        <input
          type="radio"
          name="view"
          value="current"
          checked="checked"
        /><%= t("simulator.panel_body.render_image.current_view") %>
      </div>
    </div>
    <div class="download-dialog-section-2_2">
      <label class="cb-checkbox"
        ><input
          type="checkbox"
          name="transparent"
          value="transparent"
        /><%= t("simulator.panel_body.render_image.transparent_background") %></label>
    </div>
  </div>
  <div class="download-dialog-section-3">
    <span><%= t("simulator.panel_body.render_image.resolution") %></span>
    <label class="option custom-radio inline"
      ><input
        type="radio"
        name="resolution"
        value="1"
        checked="checked" />1x<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="resolution" value="2" />2x<span></span
    ></label>
    <label class="option custom-radio inline"
      ><input type="radio" name="resolution" value="4" />4x<span></span
    ></label>
  </div>
</div>

<div id="colorThemesDialog" class='customScroll colorThemesDialog' tabindex = "0" style="display: none;" title="<%= t("simulator.panel_header.select_theme") %>"></div>

<div class="simulation" id="simulation">
  <div id="restrictedDiv" class="alert alert-danger display--none"></div>
  <% if @project&.assignment_id.present? &&
  @project&.assignment&.elements_restricted? %>
  <div id="restrictedElementsDiv" class="alert alert-danger">
    <div>
      <%= t("simulator.restricted_elements_used") %>
      <span id="restrictedElementsDiv--list"> </span>
    </div>
  </div>
  <% end %>
  <div class="canvasArea" id="canvasArea">
    <canvas
      id="backgroundArea"
      style="
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
      "
    ></canvas>
    <canvas
      id="simulationArea"
      style="
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      "
    ></canvas>
    <div id="miniMap">
      <canvas
        id="miniMapArea"
        style="position: absolute; left: 0; top: 0; z-index: 3;"
      ></canvas>
    </div>
    <div id="contextMenu" oncontextmenu="return false;">
      <ul>
        <li onclick="menuItemClicked(2)"><%= t("simulator.panel_body.context_menu.paste") %></li>
        <li onclick="menuItemClicked(0)"><%= t("simulator.panel_body.context_menu.copy") %></li>
        <li onclick="menuItemClicked(1)"><%= t("simulator.panel_body.context_menu.cut") %></li>
        <li onclick="menuItemClicked(3)"><%= t("simulator.panel_body.context_menu.delete") %></li>
        <li onclick="menuItemClicked(4)"><%= t("simulator.undo") %></li>
        <li onclick="menuItemClicked(5)"><%= t("simulator.panel_body.context_menu.new_circuit") %></li>
        <li onclick="menuItemClicked(6)"><%= t("simulator.insert_subcircuit") %></li>
        <li onclick="menuItemClicked(7)"><%= t("simulator.panel_body.context_menu.center_focus") %></li>
      </ul>
    </div>
    <div id="Help"></div>
    <div
      class="sk-folding-cube loadingIcon"
      style="
        display: none;
        position: absolute;
        right: 50%;
        bottom: 50%;
        z-index: 100;
      "
    >
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
</div>

<div
  id="combinationalAnalysis"
  style="display: none;"
  title="<%= t("simulator.panel_header.boolean_logic_table") %>"
></div>
<div
  id="insertSubcircuitDialog"
  class="subcircuitdialog"
  title="<%= t("simulator.insert_subcircuit") %>"
></div>
<div id="openProjectDialog" style="display: none;" title="<%= t("simulator.panel_header.open_project") %>"></div>
<div id="bitconverterprompt" title="<%= t("simulator.panel_header.bit_converter") %>" style="display: none;">
    <label ><%= t("simulator.panel_body.bit_converter.decimal_value") %></label><br><input  type='text' id='decimalInput' value='16' label="Decimal" name='text1'><br><br>
    <label ><%= t("simulator.panel_body.bit_converter.binary_value") %></label><br><input  type='text' id='binaryInput'  value='0b10000' label="Binary" name='text1'><br><br>
    <label ><%= t("simulator.panel_body.bit_converter.octal_value") %></label><br><input  type='text' id='octalInput' value='020' label="Octal" name='text1'><br><br>
    <label ><%= t("simulator.panel_body.bit_converter.hexadecimal_value") %></label><br><input  type='text' id='hexInput' value='0x10' label="Hex" name='text1'><br><br>
</div>
<!---issue reporting-system----->
<div class="report-sidebar">
  <a
    type="button"
    class="btn btn-primary text-light"
    data-toggle="modal"
    data-target=".issue"
  >
    <span class="fa fa-bug"></span>&nbsp;&nbsp;<%= t("simulator.report_issue") %></a>
</div>

<!---issue reporting system-modal---->
<div
  class="modal fade issue"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="container my-2">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="container text-center">
          <h4><%= t("simulator.report_issue") %></h4>
        </div>
        <hr />
        <div class="container my-2 text-center" id="result"></div>
        <label id="report-label" style="font-weight: lighter;"
          ><b><%= t("simulator.panel_body.report_issue.describe_issue") %></b></label>
        <div class="form-group">
          <textarea
            class="form-control border-primary"
            id="issuetext"
            rows="3"
          ></textarea>
        </div>
        <label for="emailtext" id="email-label" style="font-weight: lighter"><%= t("simulator.panel_body.report_issue.email_html") %></label>
        <div class="form-group">
          <input class="form-control border-primary"  type="email" id="emailtext" rows="3"/>
        </div>
        <div class="container">
          <center>
            <button type="submit" id="report" class="btn btn-primary">
              <%= t("simulator.panel_body.report_issue.report_btn") %>
            </button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const embed = false;
  user_id = "<%= user_signed_in? ? " #{current_user.id.to_s} - #{current_user.name}" : "Guest user" %>";
  var listenToSimulator=true
  <% if @project&.assignment_id.present? %>
  restrictedElements = JSON.parse('<%= raw @project&.assignment.restrictions %>');
  <% else %>
  restrictedElements = [];
  <% end %>
</script>

<!-- on hover for dropdowns -->
<script>
  $('.dropdown-toggle').hover(function () {
    $('.dropdown.open').removeClass('open');
    $(this).parent('.dropdown').addClass('open');
  });
</script>

<link rel="stylesheet" type="text/css" href="/css/restrictedElements.css">

<script type="text/javascript" src="/js/metadata.json"></script>

<script>
  $(document).tooltip({
    show: null,
    track: true,
    hide: false,
    tooltipClass: "custom-tooltip-styling",
});

$(function(){
    $(".btn-group-toggle").twbsToggleButtons();
  });
  
$(function(){
$("#openProjectDialog").checkBo();
$(".download-dialog-section-2_2").checkBo();
});


function old_ui_redirect() {
  window.location.href = window.location.href.replace("/simulator", "/simulator_old")
}
</script>
