<div id="collaboratorModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title">Add members</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Enter Email IDs separated by commas/spaces or in separate lines. Users need to be registered already on the platform.
          Note that collaboration is not real time as of now. Every save overwites the previous data.
        </p>
        <%= form_with(model: @collaboration, local: true) do |form| %>
        <% if @collaboration.errors.any? %>
          <div id="error-message">
            <h2><%= pluralize(collaboration.errors.count, "error") %> prohibited this collaborator from being saved:</h2>
            <ul>
            <% @collaborator.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.hidden_field :project_id, id: :collaboration_project_id %>
        </div>
        <div class="form-group">
          <label for="emails">Email IDs:</label>
          <textarea class="form-control form-input" rows="5" id="emails" name="collaboration[emails]"></textarea>
        </div>
        <div class="modal-footer">
          <%= form.submit "Add Collaborators", class: 'btn primary-button' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
