<% if policy(@project).can_feature? %>
  <%= form_with(model: FeaturedCircuit.new, url: '/featured_circuits', multipart: true, id:"featuredCircuit") do |form| %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.label :featured, class:'bold' %> <span> (Administrator Only) </span>
    <%= form.check_box :featured, {checked: @project.featured?, id: 'featured_checkbox'} %>
  <% end %>
<% end %>

<%= form_with(model: [ current_user, @project] , local: true, multipart: true, id:"projectForm") do |form| %>

  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class:'bold' %>
    <%= form.text_field :name, id: :project_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, class:'bold' %> <span> Your project tags devided by comma. </span>
    <%= form.text_field :tag_list, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :project_access_type, class:'bold' %>
    <% if @project.featured? %>
      <%= @warning %>
      <span> <i class="fa fa-exclamation-triangle"></i> This project is featured. It will no longer be featured if public access is removed. </span>
    <% end %>
    <%= form.select :project_access_type, [["Public","Public"],["Private","Private"],["Limited access","Limited access"]], {},  class: 'form-control' %>
  </div>

  <div class="form-group" id="wysiwyg">
    <!--<%= form.label :description %>-->
    <%= render "wysiwyg/index" %>
  </div>


  <div class="actions form-group" onclick="before_submit()">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>


<script>
  function before_submit(){                     //add params before submission and submit both forms
    $('<input />').attr('type', 'hidden')
        .attr('name', 'description','tag_list')
        .attr('value', $("#editor").cleanHtml())
        .appendTo('#projectForm');

        if($("#featuredCircuit")) {
          $("#featuredCircuit").submit(function(e) {
            e.preventDefault();

            var form = $(this);
            var url = form.attr('action');
            var type = $("#featured_checkbox").is(":checked") ? "POST" : "DELETE";

            $.ajax({
                   type: type,
                   url: url,
                   data: form.serialize()
            });
          });
          

          $("#featuredCircuit").submit();
        }

    }
</script>
