<h1>Circuitverse Projects:</h1>
<h2>Searched Tags: <%= tag.name%></h2>
<div class = "col-md-8 offset-2">
  <% @projects.each do |project| %>
    <h2><%=  project.name %></h2>
    <a href=  "<%= user_project_path(project.author_id,project.id) %>" class="btn btn-primary" target="_blank"> More </a>
    <p><%= truncate(project.description, length: 50) %></p>
    <p><small>Tags: <%= raw project.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
  <% end %>
</div>