
<% if @results.empty? %>
  <div class="container searchpage-container-margin">
    <div class="row row-text">
      <div class="col-12">
        <div class="searchpage-no-result-container">
          <%= image_tag "SVGs/noResult.svg", alt: "No result image" %>
          <h6>No Results Found</h6>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container searchpage-container searchpage-container-margin">
    <% @results.each do |project| %>
      <div class="row row-text">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="row row-text">
            <%= image_tag project.image_preview.url, alt: "project.name", class: "searchpage-image" %>
          </div>
          <div class="row row-text searchpage-view-star-count-container">
            <i class="fas fa-star star-count-icon" aria-hidden="true"></i>
            <span id="star-count" class="noSelect"><%= project.stars.count %></span>
             Stars
            &nbsp; &nbsp;
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span id="star-count" class="noSelect"><%= project.view %></span>
             Views
          </div>
          <div class="row row-text searchpage-user-data-container">
            <h6 class="searchpage-user-heading">User:</h6>
            <div class="searchpage-user-data">
              <%= image_tag project.author.profile_picture.url(:medium), alt: "User Image", class: "searchpage-user-image" %>
              <%= link_to project.author.name, project.author, class: "searchpage-user-link anchor-text" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="row row-text">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 searchpage-proper-orientation">
              <div class="row row-text">
                <h3 class="searchpage-project-name"><%= project.name %></h3>
              </div>
              <div class="row row-text">
                <div class="searchpage-search-tag-container">
                  <% if !project.tags.empty? %>
                    <% project.tags.each do |tag| %>
                      <%= link_to tag.name, tag_path(tag.name), class: "badge search-tag" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 searchpage-proper-orientation">
              <a class="btn button-primary searchpage-button-primary" target="_blank" href="<%= user_project_path(project.author, project) %>" role="button">View</a>
            </div>
          </div>
          <div class="row row-text">
            <div class="searchpage-description"><%= sanitize project.description %></div>
          </div>
        </div>
      </div>
      <hr class="searchpage-horizontal-rule">
    <% end %>
    <% unless @results.empty? %>
      <%= will_paginate(@results, renderer: SearchPaginateRenderer) %>
    <% end %>
  </div>
<% end %>
