<% content_for :title, "CircuitVerse - #{@project.name}" %>
<% content_for :description, @project.description %>
<% set_meta_tags author: @project.author.name %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: @project.description,
  image: {
    src: "#{Rails.configuration.site_url}#{@project.image_preview}"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}#{@project.image_preview}",
  description: @project.description,
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<div class="container" data-controller="projects">
  <% if notice %>
    <div class="row" id="alertdiv">
      <div class="alert alert-success alert-dismissible container text-center">
        <a href="#" class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        <h6><%= notice %></h6>
      </div>
    </div>
  <% end %>

  <br>

  <div class="row center-row">
    <div class="col-12 col-md-7">
      <div class="border border-secondary-subtle mb-5 p-2">
        <div class="ratio ratio-4x3">
          <iframe src="<%= @embed_path %>"></iframe>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="container bg-light px-0">
        <div class="row center-row bg-success py-2 h-50">
          <div class="col-12">
            <div class="text-light fs-3 fw-bold overflow-hidden text-wrap h-100">
              <%= @project.name %>
            </div>
          </div>
        </div>

        <div class="row projects-views-count-container noSelect">
          <div class="w-25">
            <i class="fas fa-star text-warning" aria-hidden="true"></i>
            <span id="star-count"><%= @project.stars_count %></span>
            <%= t("projects.stars_count") %>
          </div>

          <div class="w-25">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span id="view-count"><%= @project.view %></span>
            <%= t("projects.views_count") %>
          </div>
        </div>

        <div class="row center-row pt-0 pb-4 px-5">
          <div class="d-block mb-4 text-start w-75">
            <% @project.tags.each do |tag| %>
              <% if tag.name.present? %>
                <%= link_to tag.name, tag_path(tag.name), class: "badge search-tag" %>
              <% end %>
            <% end %>
          </div>

          <p class="d-block mb-2 text-start w-75">
            <strong><%= t("projects.show.project_author") %></strong>
            <%= link_to @project.author.name, @project.author, class: "anchor-text" %>
          </p>

          <% if @project.forked_project.present? %>
            <p class="d-block mb-2 text-start w-75">
              <strong><%= t("projects.show.project_forked_from") %></strong>
              <%= link_to(
                "#{@project.forked_project.author.name}/#{@project.forked_project.name}",
                user_project_path(@project.forked_project.author, @project.forked_project),
                class: "anchor-text"
              ) %>
            </p>
          <% end %>

          <p class="d-block mb-2 text-start w-75">
            <strong><%= t("projects.show.project_access_type") %></strong>
            <%= @project.project_access_type %>
          </p>

          <% if @project.description.present? %>
            <p class="d-block mb-2 text-start w-75">
              <strong><%= t("projects.show.project_description") %></strong>
            </p>
            <div class="projects-details-description">
              <%= sanitize @project.description %>
            </div>
          <% end %>

          <p
            class="d-block mb-2 text-start w-75"
            title="<%= @project.created_at.strftime('%B %d, %Y, %l:%M %p UTC %:z') %>"
          >
            <strong><%= t("projects.show.project_created_at") %></strong>
            <%= @project.created_at >= 14.days.ago ?
              "#{time_ago_in_words(@project.created_at, include_seconds: true)} ago" :
              @project.created_at.strftime("%b %d, %Y") %>
          </p>

          <p
            class="d-block mb-2 text-start w-75"
            title="<%= @project.updated_at.strftime('%B %d, %Y, %l:%M %p UTC %:z') %>"
          >
            <strong><%= t("projects.show.project_updated_at") %></strong>
            <%= @project.updated_at >= 14.days.ago ?
              "#{time_ago_in_words(@project.updated_at, include_seconds: true)} ago" :
              @project.updated_at.strftime("%b %d, %Y") %>
          </p>

          <% if user_signed_in? %>
            <hr class="w-100">

            <% if policy(@project).user_access? %>
              <%= link_to simulator_edit_path(@project),
                          class: "btn primary-button py-1 px-2",
                          target: "_blank",
                          rel: "noopener noreferrer" do %>
                <%= t("launch_simulator") %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "add_collaborator_modal" %>
  <%= render(ProjectComponents::DeleteProjectConfirmationModelComponent.new) %>
  <%= render partial: "delete_collaboration_confirmation_modal" %>
  <%= render(ProjectEmbedComponent.new(@project)) %>
</div>

<%= commontator_thread(@project) if Flipper.enabled?(:project_comments) %>
