<% content_for :title, "CircuitVerse - #{@project.name}" %>
<% content_for :description, @project.description %>
<% set_meta_tags author: @project.author.name %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: @project.description,
  image: {
    src: "#{Rails.configuration.site_url}#{@project.image_preview}"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}#{@project.image_preview}",
  description: @project.description,
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container feature">
    <% if notice %>
        <div class="row">
            <div class="alert alert-success alert-dismissible container-fluid text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= notice %>
            </div>
        </div>
    <% end %>
  <div class="row ">

    <div class="col col-7 ">
        <div class="embed-responsive embed-responsive-4by3 feature">
          <iframe src = <%=simulator_path(@project) %> id="view" webkitAllowFullScreen mozAllowFullScreen allowFullScreen scrolling="no"> </iframe>
        </div>
    </div>
    <div class="col col-5">

      <div class="card h-100">
        <div class="card-header text-center font-weight-bold text-capitalize">
          <%= @project.name %>  &ensp;  &ensp;  &ensp;  &ensp; &ensp; &ensp; &ensp; &ensp;
          <span class="badge badge-secondary noSelect">
            &ensp;&ensp;
            <% if user_signed_in? %>
                <i id="toggleStarButton" class="fa fa-star fa-2x noSelect" aria-hidden="true" style=<%= Star.find_by(user_id: current_user.id, project_id: @project.id).nil? ? "color:white" : "color:orange" %> onclick="toggleStar()"></i>
                &ensp;
            <% else%>
                <i  class="fa fa-star fa-2x noSelect" aria-hidden="true" style="color:orange" ></i>
                &ensp;
            <% end %>
            <r id="star_count" style="font-size:20px" class="noSelect"><%= @project.stars.count %></r>&ensp;&ensp;&ensp;
            <i class="fa fa-eye fa-2x" aria-hidden="true" style="font-size:24px;font-weight: bold">&ensp;</i>
            <r id="star_count" style="font-size:20px" class="noSelect"><%= @project.view %></r>&ensp;&ensp;&ensp;
            <i class="fa fa-code-fork fa-2x" aria-hidden="true" style="font-size:24px;font-weight: bold">&ensp;</i>
            <r id="star_count" style="font-size:20px" class="noSelect"><%= @project.forks.count %></r>&ensp;&ensp;
            </span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="card-text">
              <strong>Author:</strong>
              <%= link_to @project.author.name, @project.author %>
            </p>

            <% if !@project.tags.empty? %>
              <p class="card-text">
                <strong>Tags:</strong>
                  <% @project.tags.each do |tag| %>
                    <%= link_to tag.name, tag_path(tag.name),{:style=>"background-color: #f1f1f1; color: #000000", :class=>"badge"} %>
                  <% end %>
              </p>
            <% end %>

            <% if !@project.forked_project.nil? %>
                <p class="card-text">
                  <strong>Forked project:</strong>
                  <%= link_to @project.forked_project.author.name+"/"+@project.forked_project.name , user_project_path(@project.forked_project.author,@project.forked_project) %>
                </p>
            <% end %>

            <p class="card-text">
              <strong>Project access type:</strong>
              <%= @project.project_access_type %>
            </p>

          </li>
          <li class="list-group-item text-center">
            <a href="#>" class="btn btn-secondary previewButton" id="<%=@project.id%>" data-toggle="modal" data-target="#myModal">Preview</a>
            <% if policy(@project).user_access? %>
                <a href="<%= simulator_edit_path(@project) %>" class="btn btn-primary" target="_blank">Launch simulator</a>
            <% end %>
            <% if policy(@project).author_access? %>
              <a href="#>" class="btn btn-secondary collaboratorButton" id="<%=@project.id%>" data-toggle="modal" data-target="#collaboratorModal">Add Collaborator</a>
            <%end %>



          </li>
          <%if !@project.description.nil? %>
              <li class="list-group-item"><b >Description: </b>
                <%= sanitize @project.description %><br></li>
          <%end%>


        </ul>
        <div class="card-body">


        </div>

        <div class="card-footer text-center">
            <% if policy(@project).user_access? %>
                <%= link_to 'Edit', edit_user_project_path(@author, @project), class: "card-link"%>
                <% if policy(@project).author_access?  %>
                  <%= link_to 'Delete',user_project_path(@author,@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
                <% end %>
            <% end %>
          <% if @project.author_id != current_user&.id %>
            <%= link_to 'Fork', create_fork_project_path(@project), class: "card-link" %>
          <% end %>
            <%= link_to 'Back', user_path(@author), class: "card-link" %>
          <% if @project.project_access_type != "Private" %>
            <a class="card-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="embed()" >
              Embed
            </a>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <textarea id="embedTextArea" style="font-size:12px"><iframe width="600px" height="400px" src="<%=simulator_embed_url(@project)%>" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe></textarea>
                  <a class="text-success">Embed code copied to clipboard!</a>
                </div>
              </div>
          <%end%>

          <% if policy(@project).can_feature? %>
            <%= link_to @project.featured? ? 'Unfeature' : 'Feature' , "" ,class: "card-link", id: 'feature-control', style: "margin-left: 10px" %>
             <%= form_with(model: FeaturedCircuit.new, url: '/featured_circuits', multipart: true, id:"featuredCircuit", style: "display: none", local: true) do |form| %>
              <%= form.hidden_field :project_id, value: @project.id %>
              <%= form.hidden_field :featured, value: @project.featured? ? "0" : "1", id: "project-featured" %>
            <% end %>
          <% end %>
        </div>
      </div>



    </div>
  </div>

  <%  collaborators = @project.collaborators %>
  <% if collaborators.count !=0 %>
  <br>
  <h3>Collaborators</h3>
  <div style="max-height:400px;overflow:hidden;overflow-y:scroll" >
    <table class="table">
      <!--<thead>-->
      <!--<tr>-->
      <!--<th>Group members</th>-->
      <!--<th>Email IDs</th>-->
      <!--<th>Action</th>-->

      <!--</tr>-->
      <!--</thead>-->

      <tbody>

      <% @project.collaborators.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <% if policy(@project).author_access? %>
		            <td><%= user.email %></td>
                <td><%= link_to 'Remove', collaboration_path(Collaboration.find_by(user_id:user.id,project_id:@project.id)), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>

      <tbody/>
      </table>

  </div>
  <% end %>




  <div id="collaboratorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add members</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <p>Enter Email IDs separated by commas/spaces or in separate lines. Users need to be registered already on the platform.
            Note that collaboration is not real time as of now. Every save overwites the previous data.</p>
          <%= form_with(model: @collaboration, local: true) do |form| %>
              <% if @collaboration.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(collaboration.errors.count, "error") %> prohibited this group_member from being saved:</h2>

                    <ul>
                      <% @collaborator.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="field">
                <%= form.hidden_field :project_id, id: :collaboration_project_id %>
              </div>

              <div class="form-group">
                <label for="Email Ids">Email IDs:</label>
                <textarea class="form-control" rows="5" id="emails" name="collaboration[emails]"></textarea>
              </div>

              <div class="actions modal-footer">
                <%= form.submit "Add Collaborators", class: 'btn btn-secondary' %>
              </div>
          <% end %>
        </div>
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>-->
        <!--</div>-->
      </div>

    </div>
  </div>


  <%= commontator_thread(@project) %>

</div>



  </p>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Preview</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3 feature">
          <iframe src="" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>-->
      <!--</div>-->
    </div>

  </div>
</div>

<script>
    function embed() {
        setTimeout(function(){$("#embedTextArea").select();document.execCommand("copy")},100) ;

//        $("#embedTextArea").copy();
    }
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
        $('.collaboratorButton').on('click', function (e) {
            e.preventDefault()
            $("#collaboratorModel").tab('show')
        })
    } );
    function toggleStar(toggle) {
        $.ajax({
            url: "<%=change_stars_path(@project)%>",
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            success: function (response) {
                star_count = document.getElementById("star_count").innerHTML;

                if(response == "1"){
                    document.getElementById('toggleStarButton').style.color='white';
                }
                else{
                    document.getElementById('toggleStarButton').style.color='orange';
                }
                document.getElementById("star_count").innerHTML = (response == "1") ? (Number(star_count)-1) : (Number(star_count)+1);
            }
        });
    }
</script>
<% if user_signed_in? %>
<script src="https://goodwill.zense.co.in/packs/gratia.js"></script>
<script>
  var gratia = new window.Gratia({
    from: '<%= profile_url(current_user) %>',
    to: <%= ([@project.author] + @project.collaborators ).map{ |c| profile_url(c) }.to_json.html_safe %>,
    tags: <%= @project.tag_list.to_json.html_safe %>
  });
</script>

<script>
  if($("#featuredCircuit")) {
      $("#featuredCircuit").submit(function(e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var type = $("#project-featured").val() === "1" ? "POST" : "DELETE";

        $.ajax({
          type: type,
          url: url,
          data: form.serialize(),
          success: (data) => {
            if(type === "POST") {
              $("#feature-control").html("Unfeature");
              $("#project-featured").val("0");
            } else {
              $("#feature-control").html("Feature");
              $("#project-featured").val("1");
            }

          }
        });
      });

      $("#feature-control").click((e) => {
        e.preventDefault();
        $("#featuredCircuit").submit();
      })
    }
</script>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Article",
    "name" : "<%= @project.name %>",
    "author" : {
      "@type" : "Person",
      "name" : "<%= @project.author.name %>"
    },
    "articleSection" : "Project",
    "articleBody" : "<%= @project.description || " " %>"
  }
</script>

<% end %>
