<% content_for :title, "CircuitVerse - #{@project.name}" %>
<% content_for :description, @project.description %>
<% set_meta_tags author: @project.author.name %>
<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  description: @project.description,
  image: {
    src: "#{Rails.configuration.site_url}#{@project.image_preview}"
  }
  } %>
<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}#{@project.image_preview}",
  description: @project.description,
  type: "article",
  site_name: Rails.configuration.site_name
  } %>
<div class="container">
  <% if notice %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-success alert-dismissible container text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h6><%= notice %></h6>
    </div>
  </div>
  <% end %>
  <br>
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 ">
      <div class="projects-iframe-container">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src=<%= simulator_path(@project) %> id="view" webkitAllowFullScreen mozAllowFullScreen allowFullScreen scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="container projects-details">
        <div class="row center-row projects-details-heading-container">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="projects-details-heading">
              <%= @project.name %>
            </div>
          </div>
        </div>
        <div class="row projects-views-count-container noSelect">
          <i class="fas fa-star projects-star-count-icon" aria-hidden="true"></i>
          <span id="star-count" class="noSelect"><%= @project.stars.count %></span>
           <%= t("projects.stars_count") %>
          &nbsp; &nbsp;
          <i class="fa fa-eye" aria-hidden="true"></i>
          <span id="star-count" class="noSelect"><%= @project.view %></span>
           <%= t("projects.views_count") %> &nbsp; &nbsp;
        </div>
        <div class="row center-row projects-user-details-container">
          <div class="projects-search-tags-container">
            <% if !@project.tags.empty? %>
              <% @project.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag.name),class: "badge search-tag" %>
              <% end %>
            <% end %>
          </div>
          <p>
            <strong><%= t("projects.show.project_author") %> </strong>
            <%= link_to @project.author.name, @project.author, class: "anchor-text" %>
          </p>
          <% if !@project.forked_project.nil? %>
            <p>
              <strong><%= t("projects.show.project_forked_from") %> </strong>
              <%= link_to @project.forked_project.author.name+"/"+@project.forked_project.name, user_project_path(@project.forked_project.author,@project.forked_project), class: "anchor-text",method: :post %>
            </p>
          <% end %>
          <p>
            <strong><%= t("projects.show.project_access_type") %> </strong>
            <%= @project.project_access_type %>
          </p>
          <% if !@project.description.nil? %>
            <p>
              <strong><%= t("projects.show.project_description") %> </strong>
            </p>
            <div class="projects-details-description"><%= sanitize@project.description %></div>
          <% end %>
          <p title="<%= @project.created_at.strftime("%B %d, %Y, %l:%M %p UTC %:z") %>">
            <strong><%= t("projects.show.project_created_at") %> </strong>
            <% if @project.created_at >= 14.days.ago %>
              <%= time_ago_in_words(@project.created_at, include_seconds: true) + " ago" %>
            <% else %>
             <%= @project.created_at.strftime("%b %d, %Y") %>
            <% end %>
          </p>
          <p title="<%= @project.updated_at.strftime("%B %d, %Y, %l:%M %p UTC %:z") %>">
            <strong><%= t("projects.show.project_updated_at") %> </strong>
            <% if @project.updated_at >= 14.days.ago %>
              <%= time_ago_in_words(@project.updated_at, include_seconds: true) + " ago" %>
            <% else %>
              <%= @project.updated_at.strftime("%b %d, %Y") %>
            <% end %>
          </p>
          <% if user_signed_in? %>
            <p>
              <hr class="projects-horizontal-rule">
              <% if policy(@project).user_access? %>
                <a href="<%= simulator_edit_path(@project) %>" class="btn primary-button projects-primary-button" target="_blank"><%= t("launch_simulator") %></a>
              <% else %>
                <a class="btn primary-button projects-primary-button projects-others-embed-button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="embedOther()">
                  <i class="fas fa-code"></i>
                  <span><%= t("projects.show.project_embed") %></span>
                </a>
              <% end %>
              <% if policy(@project).author_access? %>
                <%= link_to create_fork_project_path(@project), class: "btn primary-button projects-primary-button", method: :post do %>
                  <%= image_tag("SVGs/createCopy.svg", alt: "Create Copy") %>
                  <span><%= t("projects.show.project_copy") %></span>
                <% end %>
              <% else %>
                  <%= link_to create_fork_project_path(@project), class: "btn primary-button projects-primary-button", method: :post do %>
                  <%= image_tag("SVGs/forkProject.svg", alt: "Fork Project") %>
                  <span><%= t("fork") %></span>
                <% end %>
              <% end %>
              <% if @project.stars.exists?(user_id: current_user.id) %>
                <i id="toggleStarButton" class="fas fa-star btn primary-button projects-primary-button projects-button-star-icon" aria-hidden="true" onclick="toggleStar()"></i>
              <% else %>
                <i id="toggleStarButton" class="far fa-star btn primary-button projects-primary-button projects-button-star-icon" aria-hidden="true" onclick="toggleStar()"></i>
              <% end %>
            </p>
          <% end %>
          <% if policy(@project).author_access? %>
            <p>
              <a href="#" class="anchor-text" id="<%= @project.id %>" data-toggle="modal" data-target="#collaboratorModal"><%= t("projects.show.project_collaborator_add") %></a>
            </p>
          <% end %>
          <% if policy(@project).user_access? %>
            <hr class="projects-horizontal-rule">
            <p>
              <%= link_to edit_user_project_path(@author, @project), class: "btn secondary-button" do %>
                <%= image_tag("SVGs/editProject.svg", alt: "Edit Project") %>
                <span><%= t("edit") %></span>
              <% end %>
              <%= link_to "#", class: "btn secondary-button", data: {toggle: "modal", target: "#deleteprojectModal", currentauthor: @author.id, currentproject: @project.id} do %>
                <%= image_tag("SVGs/deleteProject.svg", alt: "Delete Project") %>
                <span><%= t("delete") %></span>
              <% end %>
              <a class="btn secondary-button projects-self-embed-button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="embedSelf()">
                <i class="fas fa-code"></i>
                <span><%= t("projects.show.project_embed") %></span>
              </a>
            </p>
          <% end %>
          <div class="collapse" id="collapseExample">
            <div class="projects-embed-text-container">
              <label for="embedTextArea"></label>
              <textarea id="embedTextArea" class="projects-embed-text" rows="4" cols="35"><iframe width="600px" height="400px" src="<%= simulator_embed_url(@project) %>" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen></iframe></textarea>
            </div>
            <small class="projectshow-embed-text-confirmation"><%= t("projects.show.copied_to_clipboard") %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <% collaborators = @project.collaborators %>
    <% if collaborators.count!=0 %>
      <div class="row center-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="projects-collaborators-container">
            <div class="row center-row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 projects-collaborators-heading">
                <div class="">
                  <%= t("projects.show.collaborators") %>
                </div>
              </div>
            </div>
            <% @project.collaborators.each do |user| %>
              <div class="row center-row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="projectshow-collaborators-userdata">
                    <%= link_to user.name, user, class: "anchor-text" %>
                  </div>
                </div>
                <% if policy(@project).author_access? %>
                  <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5">
                    <div class="projects-collaborators-data">
                      <%= user.email %>
                    </div>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <div class="projects-collaborators-button-container">
                      <%= link_to "#", data: {toggle: "modal", target: "#deletecollaborationModal", currentcollaboration: Collaboration.find_by(user_id:user.id, project_id:@project.id).id }, class: "btn primary-delete-button" do %>
                        <%= image_tag("SVGs/deleteGroup.svg", alt: "Delete Collaboration") %>
                        <span><%= t("remove") %></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <hr class="projects-collaborators-horizontal-rule">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: "add_collaborator_modal" %>
    <%= render partial: "delete_project_confirmation_modal" %>
    <%= render partial: "delete_collaboration_confirmation_modal" %>

</div>

<%= commontator_thread(@project) if Flipper.enabled?(:project_comments) %>

<script>
  $(document).ready(function() {
    $("#deleteprojectModal").on("show.bs.modal", function(e) {
        let author = $(e.relatedTarget).data('currentauthor');
        let project = $(e.relatedTarget).data('currentproject');
        $(e.currentTarget).find('#projects-delete-button').attr("href",
        "/users/" + author.toString() + "/projects/" + project.toString());
    });
    $("#deletecollaborationModal").on("show.bs.modal", function(e) {
        let collaboration = $(e.relatedTarget).data('currentcollaboration');
        $(e.currentTarget).find('#projects-collaboration-delete-button').attr("href",
        "/collaborations/" + collaboration.toString());
    });
  })
</script>
<script>
  function embedOther() {
    if(document.getElementsByClassName("projects-others-embed-button")[0].ariaExpanded=="false") {
      document.getElementsByClassName("projects-others-embed-button")[0].classList.add("active");
    }
    else {
      document.getElementsByClassName("projects-others-embed-button")[0].classList.remove("active");
    }
    setTimeout(function(){$("#embedTextArea").select();document.execCommand("copy")},100);
  }

  function embedSelf() {
    if(document.getElementsByClassName("projects-self-embed-button")[0].ariaExpanded=="false") {
      document.getElementsByClassName("projects-self-embed-button")[0].classList.add("active");
    }
    else {
      document.getElementsByClassName("projects-self-embed-button")[0].classList.remove("active");
    }
    setTimeout(function(){$("#embedTextArea").select();document.execCommand("copy")},100);
  }

  function toggleStar(toggle) {
    $.ajax({
      url: "<%= change_stars_path(@project) %>",
      type: 'GET',
      beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      success: function (response) {
        if(response == "1"){
          document.getElementById('toggleStarButton').classList.remove("fas");
          document.getElementById('toggleStarButton').classList.add("far");
          }
        else{
          document.getElementById('toggleStarButton').classList.remove("far");
          document.getElementById('toggleStarButton').classList.add("fas");
          }
          document.getElementById("star-count").innerHTML = (response == "1") ? (Number(document.getElementById("star-count").innerHTML)-1) : (Number(document.getElementById("star-count").innerHTML)+1);
        }
    });
  }
</script>

<% if user_signed_in? %>
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "name" : "<%= @project.name %>",
      "author" : {
        "@type" : "Person",
        "name" : "<%= @project.author.name %>"
      },
      "articleSection" : "Project",
      "articleBody" : "<%= @project.description || " " %>"
    }
  </script>
<% end %>
