<% content_for :title, "#{t('explore.sections.tags.heading')} - #{@tag.name}" %>

<div class="container">
  <div class="row center-row">
    <div class="col-12">
      <h1 class="main-heading"><%= t("explore.sections.tags.heading") %></h1>
      <p class="main-description">
        <%= t("explore.sections.tags.description") %>
      </p>

      <%= link_to "/explore?section=tags#tags", class: "badge search-tag", style: "vertical-align: baseline; text-decoration: none;" do %>
        <%= @tag.name %> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      <% end %>
    </div>
  </div>

  <% if @projects.any? %>
    <div class="project-cards-grid">
      <%= render(Project::ProjectCardComponent.with_collection(@projects)) %>
    </div>

    <div class="container pagination-cont">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= 'disabled' unless @has_prev %>">
          <% if @has_prev %>
            <%= link_to t("pagination.previous", default: "Previous"),
                        "#{tag_path(@tag.name)}?before=#{@prev_cursor}",
                        class: "page-link" %>
          <% else %>
            <span class="page-link"><%= t("pagination.previous", default: "Previous") %></span>
          <% end %>
        </li>
        <li class="page-item <%= 'disabled' unless @has_next %>">
          <% if @has_next %>
            <%= link_to t("pagination.next", default: "Next"),
                        "#{tag_path(@tag.name)}?after=#{@next_cursor}",
                        class: "page-link" %>
          <% else %>
            <span class="page-link"><%= t("pagination.next", default: "Next") %></span>
          <% end %>
        </li>
      </ul>
    </div>
  <% else %>
    <p class="text-muted"><%= t("explore.empty") %></p>
  <% end %>
</div>
