<div class="row">
  <div class="col-md-11 block-inline mb-2">
    <h4 style="display:inline"><%= icon "fas", "thumb-tack", class: "text-muted" if @forum_thread.pinned? %> <%= @forum_thread.title %></h4>
    <% if @forum_thread.solved? %>
      <div class="px-3 solved-tag" style="display:inline">
        <%= icon "far", "check-circle" %>
        Solved
      </div>
    <% else %>
      <div class="px-3 unsolved-tag" style="display:inline">
        <%= icon "far", "question-circle" %>
        Open
      </div>
    <% end %>
  </div>

  <% if is_moderator_or_owner?(@forum_thread) %>
    <div class="col-md-1">
      <%= link_to icon("fas","pencil"), simple_discussion.edit_forum_thread_path(@forum_thread),
        class: "text-muted",
        data: { toggle: "tooltip", placement: "left" },
        title: t('edit_this_thread') %>
    </div>
  <% end %>

</div>

<div class="d-flex mb-4">
  <div class="thread-details-custom">
    Created by <span><%= @forum_thread.user.name %></span> • <span><%= time_ago_in_words(@forum_thread.created_at) %></span> ago
  </div>
  <div class="category-chip mx-3" style="color: <%= @forum_thread.forum_category.color %>; border-color: <%= @forum_thread.forum_category.color %>">
    <%= @forum_thread.forum_category.name %>
  </div>
</div>

<%= render partial: "simple_discussion/forum_posts/forum_post", collection: @forum_thread.forum_posts.includes(:user).sorted %>
<%= render partial: "simple_discussion/forum_posts/form" if user_signed_in? %>

<%= render partial: "login_bar" if !user_signed_in? %>
