<% projects.each do |project| %>
  <% if policy(project).check_direct_view_access? %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card circuit-card">
        <div class="card-header">
          <p><%= project.name %></p>
        </div>
        <div class="card-body">
          <%= image_tag project.image_preview.url, alt: project.name, :class => "card-img-top circuit-card-image" %>
        </div>
        <div class="card-footer circuit-card-footer">
          <a class="btn button-primary circuit-card-button-primary" target="_blank" href="<%= user_project_url(project.author, project) %>">View</a>
        </div>
      </div>


      <div class="card text-center card-userprojects">
        <div class="card-header card-header-userprojects rounded-0">
          <h3 class="cardname"><%= project.name %></h3>
            <% if !project.assignment_id.nil? %>
              <span class="badge badge-dark">Assignment</span>
            <% end %>
              <span class="badge badge-dark"><%= project.project_access_type %></span>
        </div>
        <img class="card-img-top" src="<%= project.image_preview.url %>" alt="<%= project.name %>">
        <div class="card-footer card-footer-userprojects">
          <% if policy(project).user_access? %>
            <a href="<%= simulator_edit_path(project) %>" class="btn btn-userprojects" target="_blank">Launch</a>
          <% else %>
            <a href="<%= create_fork_project_path(project) %>" class="btn btn-userprojects" target="_blank">Fork</a>
          <% end %>
            <a href="#" id="<%= project.id %>" class="previewButton btn btn-userprojects" data-toggle="modal" data-target="#myModal">View</a>
            <a href="<%= user_project_path(@user,project) %>" class="btn btn-userprojects" target="_blank">More</a>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
