<link href="/css/typeahead.min.css" rel="stylesheet">

<div class="container my-4 text-center">
  <h1>EDIT PROFILE</h1>
</div>

<div class="container border-0 edit-profile-page-bg">

  <div class="row feature border-0 rounded-0 ">
  
     <div class="container my-3 text-center">
       <h4> Fields marked with <sup><i class="fa fa-asterisk edit-profile-page-astrikstyle"></i></sup> are mandatory</h4>
     </div>
     
    <div class="container px-5">
      <div class="container">
        <div class="col-12">
      <%= form_with model: @profile, multipart: true, url: { action: "update" }, local: true do |f| %>
        <div class="field form-group ">
          <%= f.label :name, { class: 'h4 font-weight-bold'} %><sup><i class="fa fa-asterisk edit-profile-page-astrikstyle" ></i></sup><br>
          <%= f.text_field :name, required: true, class:"form-control  rounded-0 border-success", style:"width:100%; height:50px" %>
         </div>
        
        <div class="form-group">
          <label class="h4 font-weight-bold" >Profile Picture:</label>
          <p> <%= image_tag @profile.profile_picture.url(:thumb), id:'imgedit', height:'160', width:'155',alt:'Your Profile' %></p>
          <label for="profile_picture" class="custom-file-upload h5 font-weight-bold">
            Choose File
          </label>
            <input type="file" class="file-button" id="profile_picture" name="user[profile_picture]" onchange="readURL(this);" value="<%= @profile.profile_picture %>">
          </div>

        <div class="field form-group">
         <%= f.label :country, { class: 'h4 font-weight-bold'} %><span> [Optional]</span><br/>
          <%= f.country_select :country, { include_blank: 'Prefer Not To Enter', priority_countries: get_priority_countries() }, { class: "form-control rounded-0 border-success", style:"width:100%; height:50px" } %>
        </div>

        <div class="field form-group">
          <%= f.label :educational_institute , { class: 'h4 font-weight-bold'} %><span> [Optional]</span><br/>
          <%= f.text_field :educational_institute,{ class: "typeahead form form-group form-control rounded-0 border-success", style:"width:100%; height:50px",autocomplete:"off" } %>
        </div>
       
        <div class="field form-group ">
          <label for="profile_subscribed" class="h4 font-weight-bold " >Subscribed to mails: 
          <%= f.check_box :subscribed, {checked: @profile.subscribed?, style: 'margin-top: 0;width: 20px;height: 20px;' , id: "profile_subscribed"} %>
          </label>
        </div>

         <button type="submit" class="btn btn-secondary btn-secondary-profile-page rounded-0">Save</button>
      <% end %>

    </div>
     </div>
    </div>
    <br/>
    <br/>
  </div>
</div>

<script>
function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
           $('#imgedit')
               .attr('src', e.target.result);
       };
       reader.readAsDataURL(input.files[0]);
   }
}
</script>
<script>
    var searchSelector = 'input.typeahead';
    var bloodhound = new Bloodhound({
        datumTokenizer: function (d) {
            return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: '/users/educational_institute/typeahead/%QUERY',
        limit: 50
    });
    bloodhound.initialize();
    $(searchSelector).typeahead(null, {
        displayKey: 'name',
        source: bloodhound.ttAdapter()
    });
</script>

