
<% content_for :title, "#{@profile.name} - Edit Profile" %>

<link href="/css/typeahead.min.css" rel="stylesheet">

<div class="container projects-new-container">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="submain-heading">EDIT PROFILE</h1>
        <p class="main-description">Fields marked with <sup><i class="fa fa-asterisk users-edit-asterisk"></i></sup> are mandatory</p> <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md col-lg">
      <div class="form-container">
        <%= form_with model: @profile, multipart: true, url: { action: "update" }, local: true do |f| %>
          <div class="field form-group">
            <h6><%= f.label :name %><sup><i class="fa fa-asterisk users-edit-asterisk"></i></sup></h6>
            <%= f.text_field :name, required: true, class:"form-control form-input", autofocus: true %>
          </div>
          <div class="field form-group">
            <h6>Profile Picture<h6>
            <p><%= image_tag @profile.profile_picture.url(:thumb), id:'imgedit', class:"users-edit-image", alt:'User Profile Image' %></p>
            <label for="profile_picture" class="users-edit-image-button">Choose File</label>
            <input tabindex="0" type="file" accept="image/png, .jpeg, .jpg" class="users-edit-image-button-hidden" id="profile_picture" name="user[profile_picture]" onchange="readURL(this);" value="<%= @profile.profile_picture %>">
          </div>
          <div class="field form-group">
            <h6><%= f.label :country %></h6>
            <%= f.country_select :country, { include_blank: 'Prefer Not To Enter', priority_countries: get_priority_countries() }, class: "form-control form-input" %>
          </div>
          <div class="field form-group">
            <h6><%= f.label :educational_institute %></h6>
            <%= f.text_field :educational_institute, { class: "typeahead form-control form-input", autocomplete:"off" } %>
          </div>
          <div class="field form-group">
            <h6><%= f.label :locale %></h6>
            <%= f.select :locale, options_for_select(I18nSupport.locale_names), { prompt: 'Select the locale' }, { class: 'form-control form-input' } %>
          </div>
          <div class="field form-group users-edit-primary-checkpoint">
            <label for="profile_subscribed" class="primary-checkpoint-container"><h6>Subscribed to mails?</h6>
              <%= f.check_box :subscribed, checked: @profile.subscribed?, id: "profile_subscribed" %>
              <div class="primary-checkpoint"></div>
            </label>
          </div>
          <button type="submit" class="btn primary-button users-edit-primary-button">Save</button>
          <%= link_to "Back", :back, class: "anchor-text" %>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="submain-heading">Delete your Account</h4>
            <p>Proceed with caution! This action cannot be reversed.</p> <br>
          </div>
        </div>
        <%= link_to "Delete Account", "#", class: "btn primary-delete-button", data: {toggle: "modal", target: "#deleteuserModal", currentuser: @profile.id} %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "users/logix/delete_user_confirmation_modal" %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#deleteuserModal").on("show.bs.modal", function(e) {
        let user = $(e.relatedTarget).data('currentuser');
        $(e.currentTarget).find('#users-user-delete-button').attr("href",
        "/users/");
    });
  });
</script>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
    $('#imgedit')
      .attr('src', e.target.result);
    };
    reader.readAsDataURL(input.files[0]);
    }
  }
</script>
<script>
  var searchSelector = 'input.typeahead';
  var bloodhound = new Bloodhound({
    datumTokenizer: function (d) {
    return Bloodhound.tokenizers.whitespace(d.value);
  },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: '/users/educational_institute/typeahead/%QUERY',
    limit: 50
  });
  bloodhound.initialize();
  $(searchSelector).typeahead(null, {
    displayKey: 'name',
    source: bloodhound.ttAdapter()
  });
</script>
