<link href="/css/typeahead.min.css" rel="stylesheet">
<div class="container">
  <div class="row feature">

    <div class="container">

      <h2>Profile</h2>

      <%= form_for @profile, html: {multipart: true}, url: {action: "update"} do |f| %>
        <div class="field form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, required: true, class:"form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :country %><br/>
          <%= f.country_select :country,priority_countries: ["IN"], class: "form-control" %>
        </div>

        <div class="field form-group ">
          <%= f.label :educational_institute %><br/>
          <%= f.text_field :educational_institute,{ class: "typeahead form form-group form-control",autocomplete:"off" } %>
        </div>

        <div class="form-group">
          <label for="profile_picture">Profile Picture:</label>
          <p> <%= image_tag @profile.profile_picture.url(:thumb) %></p>
          <input type="file" class="form-control" id="profile_picture" name="user[profile_picture]" value="<%= @profile.profile_picture %>">
        </div>

        <div class="field form-group">
          <label for="profile_subscribed">Subscribed to mails: </label>
          <%= f.check_box :subscribed, {checked: @profile.subscribed?, style: 'margin-top: 0', id: "profile_subscribed"} %>
        </div>
        <button type="submit" class="btn btn-secondary">Save</button>
      <% end %>


    </div>
    <br/>

    <br/>


  </div>
</div>
<script>
    var searchSelector = 'input.typeahead';
    var bloodhound = new Bloodhound({
        datumTokenizer: function (d) {
            return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: '/users/educational_institute/typeahead/%QUERY',
        limit: 50
    });
    bloodhound.initialize();
    $(searchSelector).typeahead(null, {
        displayKey: 'name',
        source: bloodhound.ttAdapter()
    });
</script>
