
<% content_for :title, @user.name + " - Favourite Circuits" %>

<% set_meta_tags author: @user.name %>

<div class="container">
  <!--<%= link_to 'Back', all_users_path %>-->
  <div class ="row row-about">
    <h1>Favourite Projects</h1>
  </div>

  <% if @user.rated_projects.blank? %>
    <div>
    <center><div><%= image_tag("SVGs/undraw_empty_xct9.svg", class: "cover", alt: "You don't have any favourite projects yet.") %></div>
    <div><b>You don't have any favourite projects yet.</b></div></center> 
    </div>
  <% end %>

  <div class="row">
    <% @projects.each do |project| %>
      <% if policy(project).check_direct_view_access? %>
        <%= render partial: 'project_card', :locals => {:project => project} %>
      <% end %>
    <% end %>

  </div>
</div>

<br>

<% @user.projects.each do |project| %>
  <% if policy(project).check_direct_view_access? %>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

    <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header modal-header-userprojects">
            <h4 class="modal-title">Project Preview</h4>
            <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-4by3 feature feature-preview">
              <iframe src="" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
            </div>
          </div>
          <div class="modal-footer modal-footer-userprojects">
            <% if policy(project).user_access? %>
              <a href="<%= simulator_edit_path(project) %>" class="btn btn-userprojects" target="_blank">Launch</a>
            <% else %>
              <a href="<%= create_fork_project_path(project) %>" class="btn btn-userprojects" target="_blank">Fork</a>
            <% end %>
              <a href="<%= user_project_path(@user,project) %>" class="btn btn-userprojects" target="_blank">More</a>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<% end %>

<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
    } );
</script>
