
<% content_for :title, @user.name + " - Favourite Circuits" %>

<% set_meta_tags author: @user.name %>

<div class="container">
  <!--<%= link_to 'Back', all_users_path %>-->
  <div class ="row">
    <h2 class="card-title">Favourite Projects</h2>
  </div>

  <div class="row ">


    <% @projects.each do |project| %>

        <%if project.check_direct_view_access(current_user) %>
            <div class="col-sm-4">
              <div class="card text-center " style="margin-top: 2rem">
                <div class="card-header card-title">
                  <%= project.name %>
                  <%if !project.assignment_id.nil?%>
                      <span class="badge badge-primary">Assignment</span>
                  <%end%>

                  <span class="badge badge-secondary"><%= project.project_access_type%></span>

                </div>
                <img class="card-img-top " src="<%= project.image_preview.url %>" alt="<%= project.name%>" >
                <div class="card-footer ">
                  <style>
                    .btn {
                      margin-top: 5px;
                    }
                  </style>
                  <a href=  "<%= user_project_path(@user,project) %>" class="btn btn-primary" target="_blank"> More </a>
                  <a href="#" id="<%=project.id%>" class="previewButton btn btn-primary" data-toggle="modal" data-target="#myModal"> View </a>
                  <% if policy(project).user_access? %>
                      <a href=  "<%= simulator_edit_path(project) %>" class="btn btn-primary" target="_blank"> Launch </a>
                  <% else %>
                      <a href=  "<%= create_fork_project_path(project) %>" class="btn btn-primary" target="_blank"> Fork! </a>
                  <% end %>
                </div>
              </div>
            </div>
        <%end%>

    <% end %>

  </div>

</div>

<br>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Preview</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3 feature">
          <iframe src="" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>-->
      <!--</div>-->
    </div>

  </div>
</div>

<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
    } );
</script>
