
<% content_for :title, @user.name %>
<% set_meta_tags author: @user.name %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<div class="container-fluid">
  <div class="users-container-fluid">
    <div class="row row-text">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 users-container-userdetails">
        <div class="row row-text">
          <h4 class="users-heading-username"><%= @profile.name %></h4>
        </div>
        <div class="row row-text">
          <%= image_tag @profile.profile_picture.url(:medium, alt: "@user.name") , class: 'users-userimage' %>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="users-userdetails">
              <p><strong>Member Since: </strong><%= @profile.member_since %> days</p>
              <p><strong>Educational Institution: </strong><%= @profile.educational_institute %></p>
              <p><strong>Country: </strong><%= @profile.country_name %></p>
              <p><strong>Subscribed to mails: </strong><%= @profile.mail_subscription %></p>
            </div>
          </div>
        </div>
        <div class="row row-text">
          <% if policy(@user).edit? %>
            <a class="btn button-primary users-button-primary" href=<%= profile_edit_path(current_user) %> role="button">Edit Details</a>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 users-container-userprojects">
        <% if @user.projects.blank? %>
          <div class ="users-container-no-userprojects">
            <h5>You don't have any projects. Create one <%= link_to 'here', simulator_new_url, class: 'anchor-text' %></h5>
          </div>
        <% end %>
        <div class="row">
          <%= render partial: "dashboard" , locals: {projects: @user.projects} %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "<%= @user.name %> - Projects",
  "author" : {
    "@type" : "Person",
    "name" : "<%= @user.name %>"
  }
}
</script>

<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
    } );
</script>
