<% if @user.name %>
  <% content_for :title, @user.name + " - Circuits" %>
  <% set_meta_tags author: @user.name %>
<% else %>
  <% content_for :title, "Nil - Circuits" %>
  <% set_meta_tags author: nil %>
<% end %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<div class="container">
  <% if notice %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-success alert-dismissible container text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h6><%= notice %></h6>
    </div>
  </div>
  <% end %>
  <div class="row center-row users-details-container">
    <div class="row center-row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="row center-row">
          <%= image_tag @profile.profile_picture.url(:medium), alt: "project.name", class: "center-row search-usersearch-image" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <h4 class="users-user-name"><%= @profile.name %></h4>
        <div class="search-userdetails-container">
          <p class="search-user-details-text"><strong>Member since: </strong><%= @profile.member_since %> days</p>
          <p class="search-user-details-text"><strong>Educational Institution: </strong><%= @profile.educational_institute %></p>
          <p class="search-user-details-text"><strong>Country: </strong><%= @profile.country_name %></p>
          <% if policy(@user).edit? %>
            <a class="btn primary-button" href="<%= profile_edit_path(current_user) %>">Edit Details</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a id="my-circuits" href="#" class="btn users-circuits-tab active">My Circuits</a>
      <a id="favourite-circuits" href="#" class="btn users-circuits-tab users-favourites-tab">Favourite Circuits</a>
    </div>
  </div>
  <div class="users-circuits-container">
    <div id="circuits-div" class="row center-row">
      <% if @user.projects.blank? %>
      <div class="col-12">
        <div class="search-no-results-image">
          <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
          <% if current_user == @user %>
            <h6>You don't have any projects. Create one <%= link_to 'here', simulator_new_url, class: 'anchor-text' %></h6>
          <% else %>
            <h6><%= @user.name %> doesn't have any projects.</h6>
          <% end %>
        </div>
      </div>
      <% else %>
        <%= render partial: "dashboard" , locals: {projects: @user.projects} %>
      <% end %>
    </div>
    <div id="favourites-div" class="row center-row">
      <% if @projects.blank? %>
        <div class="col-12">
          <div class="search-no-results-image">
            <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
            <% if current_user == @user %>
              <h6>You don't have any favourites. Create one <%= link_to 'here', simulator_new_url, class: 'anchor-text' %></h6>
            <% else %>
              <h6><%= @user.name %> doesn't have any favourites.</h6>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render partial: "dashboard" , locals: {projects: @projects} %>
      <% end %>
    </div>

  </div>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "<%= @user.name %> - Projects",
  "author" : {
    "@type" : "Person",
    "name" : "<%= @user.name %>"
  }
}
</script>

<script type="text/javascript">
  $( function() {
    $('#my-circuits').on('click', function (e) {
      if(!$(e.currentTarget).hasClass("active")) {
        $(e.currentTarget).addClass("active");
        $('#favourite-circuits').removeClass("active");
        $('#circuits-div').css("display", "flex");
        $('#favourites-div').css("display", "none");
      }
    });
  });
  $( function() {
    $('#favourite-circuits').on('click', function (e) {
      if(!$(e.currentTarget).hasClass("active")) {
        $(e.currentTarget).addClass("active");
        $('#my-circuits').removeClass("active");
        $('#favourites-div').css("display", "flex");
        $('#circuits-div').css("display", "none");
      }
    });
  });
</script>
<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            let project = $(e.currentTarget).data('currentproject').id;
            $("#projectPreview").attr("src","/simulator/" + project.toString() );
            console.log(project);
            $("#projectModal").tab('show')
        })
    } );
</script>
