
<% content_for :title, @user.name + " - Circuits" %>
<% content_for :author_name, @user.name %>

<div class="container">
  <!--<%= link_to 'Back', all_users_path %>-->

  <% if notice %>
      <div class="row">
          <div class="alert alert-success alert-dismissible container-fluid text-center">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= notice %>
          </div>
      </div>
  <% end %>

  <div class ="row">
    <h2 class="card-title"><%= @user.name%> - Projects | <a href=  "<%= profile_path(@user)%>"  target="_blank"> View Profile </a> | <a href=  "<%= user_favourites_path(@user)%>"  target="_blank"> View Favourites </a> </h2>
  </div>

  <div class="row">
    <%= render partial: "dashboard" , locals: {projects: @user.projects} %>
  </div>

  <% collaborated_projects = @user.collaborated_projects %>

  <% if collaborated_projects.count >0 %>
      <br>
    <div class ="row">
      <h2 class="card-title">Collaborated Projects </h2>
    </div>

    <div class="row">
      <%= render partial: "dashboard" , locals: {projects: collaborated_projects} %>
    </div>
  <%end %>

</div>

<br>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Preview</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3 feature">
          <iframe src="" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>-->
      <!--</div>-->
    </div>

  </div>
</div>

<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
    } );
</script>
