<% if @user.name %>
  <% content_for :title, @user.name + " - Circuits" %>
  <% set_meta_tags author: @user.name %>
<% else %>
  <% content_for :title, "Nil - Circuits" %>
  <% set_meta_tags author: nil %>
<% end %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<div class="container">
  <% if notice %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-success alert-dismissible container text-center">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h6><%= notice %></h6>
    </div>
  </div>
  <% end %>
  <div class="row center-row users-details-container">
    <div class="row center-row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="row center-row">
          <%= image_tag @profile.profile_picture.url(:medium), alt: "project.name", class: "center-row search-usersearch-image" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <h4 class="users-user-name"><%= @profile.name %></h4>
        <div class="search-userdetails-container">
          <p class="search-user-details-text"><strong>Member since: </strong><%= @profile.member_since %> days</p>
          <p class="search-user-details-text"><strong>Educational Institution: </strong><%= @profile.educational_institute %></p>
          <p class="search-user-details-text"><strong>Country: </strong><%= @profile.country_name %></p>
          <% if policy(@user).edit? %>
            <a class="btn primary-button" href="<%= profile_edit_path(current_user) %>">Edit Details</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button id="my-circuits" class="btn users-circuits-tab active">My Circuits</button>
      <button id="favourite-circuits" class="btn users-circuits-tab users-favourites-tab">Favourite Circuits</button>
      <button id="collaborator-circuits" class="btn users-circuits-tab users-collaborators-tab">Collaborated Circuits</button>
    </div>
  </div>
  <div class="users-circuits-container">
    <div id="my-circuits-div" class="row center-row">
      <% if @user.projects.blank? %>
      <div class="col-12">
        <div class="search-no-results-image">
          <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
          <% if current_user == @user %>
            <h6>You don't have any projects. Create one <%= link_to 'here', simulator_new_url, class: 'anchor-text' %></h6>
          <% else %>
            <h6><%= @user.name %> doesn't have any projects.</h6>
          <% end %>
        </div>
      </div>
      <% else %>
        <%= render partial: "dashboard" , locals: {projects: @user.projects} %>
      <% end %>
    </div>
    <div id="favourite-circuits-div" class="row center-row">
      <% if @projects.blank? %>
        <div class="col-12">
          <div class="search-no-results-image">
            <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
            <% if current_user == @user %>
              <h6>You don't have any favourites. Create one <%= link_to 'here', simulator_new_url, class: 'anchor-text' %></h6>
            <% else %>
              <h6><%= @user.name %> doesn't have any favourites.</h6>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render partial: "dashboard" , locals: {projects: @projects} %>
      <% end %>
    </div>
    <div id="collaborator-circuits-div" class="row center-row">
      <% collaborated_projects = @user.collaborated_projects %>
      <% if collaborated_projects.count == 0 %>
        <div class="col-12">
          <div class="search-no-results-image">
            <%= image_tag "SVGs/noProject.svg", alt: "No result image" %>
            <% if current_user == @user %>
              <h6>You are not a collaborator of any project. </h6>
            <% else %>
              <h6><%= @user.name %> is not a collaborator of any project.</h6>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= render partial: "dashboard" , locals: {projects: collaborated_projects} %>
      <% end %>
    </div>

  </div>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "<%= @user.name %> - Projects",
  "author" : {
    "@type" : "Person",
    "name" : "<%= @user.name %>"
  }
}
</script>

<script type="text/javascript">
  $(function() {

    var circuitTabs = ['favourite-circuits', 'my-circuits', 'collaborator-circuits'];
    $('.users-circuits-tab').on('click', function (e) {
      if(!$(this).hasClass("active")) {
        var id = this.id;
        $(this).addClass("active");
        circuitTabs.forEach(element => {
          var div = `#${element}-div`;
          if(element == id) {
            $(div).css("display", "flex");
          }
          else {
            $('#' + element).removeClass("active");
            $(div).css("display", "none");
          }
        });
      }});
    $('.previewButton').on('click', function (e) {
        e.preventDefault()
        let project = $(e.currentTarget).data('currentproject').id;
        $("#projectPreview").attr("src","/simulator/" + project.toString() );
        console.log(project);
        $("#projectModal").tab('show')
    })
  });
</script>
