
<% content_for :title, @user.name + " - Circuits" %>
<% set_meta_tags author: @user.name %>

<% set_meta_tags twitter: {
  card: "summary_large_image",
  title: yield(:title),
  image: {
    src: "#{Rails.configuration.site_url}img/logixBanner2.png"
  }
} %>

<% set_meta_tags og: {
  title: yield(:title),
  image: "#{Rails.configuration.site_url}img/logixBanner2.png",
  type: "article",
  site_name: Rails.configuration.site_name
} %>

<div class="container">
  <!--<%= link_to 'Back', all_users_path %>-->

  <% if notice %>
    <div class="row">
      <div class="alert alert-success alert-dismissible container-fluid text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
      </div>
    </div>
  <% end %>

  <div class ="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <%= image_tag @user.profile_picture.url(:medium, alt: "@user.name"), style: "width: 100px; height: 100px; border: 0px; margin: 10px;" %>
      <h1 class="username"><%= @user.name %></h1>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a class="btn btn-about btn-favourite" href="<%= user_favourites_path(@user) %>">View Favourites</a>
    </div>
  </div>

  <% if @user.projects.blank? %>
    <div class ="noprojects">
      <h5>You dont have any projects. Create one <%= link_to 'here', simulator_new_url %></h5>
    </div>
  <% end %>

  <div class="row">
    <%= render partial: "dashboard" , locals: {projects: @user.projects} %>
  </div>

  <% collaborated_projects = @user.collaborated_projects %>

  <% if collaborated_projects.count >0 %>
    <br>
      <div class ="row row-about">
        <h1>Collaborated Projects</h1>
      </div>

    <div class="row">
      <%= render partial: "dashboard" , locals: {projects: collaborated_projects} %>
    </div>
  <% end %>

</div>
<br>


<% @user.projects.each do |project| %>
  <% if policy(project).check_direct_view_access? %>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header modal-header-userprojects">
              <h4 class="modal-title">Project Preview</h4>
              <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-4by3 feature feature-preview">
                <iframe src="" id="projectPreview" scrolling="no" webkitAllowFullScreen mozAllowFullScreen allowFullScreen> </iframe>
              </div>
            </div>
            <div class="modal-footer modal-footer-userprojects">
              <% if policy(project).user_access? %>
                <a href="<%= simulator_edit_path(project) %>" class="btn btn-about btn-userprojects" target="_blank">Launch</a>
              <% else %>
                <a href="<%= create_fork_project_path(project) %>" class="btn btn-about btn-userprojects" target="_blank">Fork</a>
              <% end %>
              <a href="<%= user_project_path(@user,project) %>" class="btn btn-about btn-userprojects" target="_blank">More</a>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "<%= @user.name %> - Projects",
  "author" : {
    "@type" : "Person",
    "name" : "<%= @user.name %>"
  }
}
</script>

<script>
    $( function() {
        $('.previewButton').on('click', function (e) {
            e.preventDefault()
            $("#projectPreview").attr("src","/simulator/" + e.currentTarget.id );
            $("#myModal").tab('show')
        })
    } );
</script>
