
<% if @results.empty? %>
  <div class="container searchpage-container-margin">
    <div class="row row-text">
      <div class="col-12">
        <div class="searchpage-no-result-container">
          <%= image_tag "SVGs/noResult.svg", alt: "No result image" %>
          <h6>No Results Found</h6>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container searchpage-container searchpage-container-margin">
    <% @results.map { |user| ProfileDecorator.new(user) }.each do |profile| %>
      <div class="row row-text searchpage-user-container">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="row row-text">
            <%= image_tag profile.profile_picture.url(:medium), alt: "project.name", class: "row-text searchpage-usersearch-image" %>
            <p class=" row-text searchpage-username"><%= profile.name %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 searchpage-userdetails-container">
          <p class="searchpage-userdetails-text"><strong>Member since: </strong><%= profile.member_since %> days</p>
          <p class="searchpage-userdetails-text"><strong>Educational Institution: </strong><%= profile.educational_institute %></p>
          <p class="searchpage-userdetails-text"><strong>Country: </strong><%= profile.country_name %></p>
          <p class="searchpage-userdetails-text"><strong>Total Circuits Made: </strong><%= profile.total_circuits %></p>
          <a class="btn button-primary searchpage-user-button-primary" target="_blank" href="<%= user_path(profile) %>">View</a>
        </div>
      </div>
      <hr class="searchpage-horizontal-rule">
    <% end %>
    <% unless @results.empty? %>
      <%= will_paginate(@results, renderer: SearchPaginateRenderer) %>
    <% end %>
  </div>
<% end %>
