<link href="/css/search.css" rel="stylesheet">

<%= render "logix_assets/search_bar", { resource: "Users" } %>

<% if @results.empty? %>
  <div class="container">
    <h4 class="results-head">No Results Found</h4>
  </div>
<% else %>
  <div class=""></div>
  <div class="container">
    <% @results.map { |user| ProfileDecorator.new(user) }.each do |profile| %>
      <div class="row feature m-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <p><strong>Name: </strong><%= profile.name %></p>
              <p><strong>Member since: </strong><%= profile.member_since %> days</p>
              <p><strong>Educational Institution: </strong><%= profile.educational_institute %></p>
              <p><strong>Country: </strong><%= profile.country_name %></p>
              <div class="mt-3 mb-3">
                <a class="btn btn-dark btn-md" target="_blank"
                     href="<%= user_path(profile) %>" role="button">View</a>
              </div>
            </div>
            <div class="col-lg-4">
              <%= image_tag profile.profile_picture.url(:medium), style: "border: 1px solid black" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div>

  <% unless @results.empty? %>
    <%= will_paginate(@results, renderer: SearchPaginateRenderer) %>
  <% end %>

<% end %>
