<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center-image">
      <%= image_tag "SVGs/login.svg", alt: "Login Sketch", :class => "users-image" %>
      <h5 class="users-image-text"><%= t("welcome_back_text") %></h5>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="users-form-container">
        <h2 class="users-main-heading"><%= t("users.passwords.change_password_heading") %></h2>
        <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), method: :put, local: true) do |f| %>
          <% if !resource.errors.empty? %>
            <div class="error-message">
              <ul>
                <% resource.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field form-group">
            <h6>
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <%= t("users.minimum_password_length", minimum_password_length: @minimum_password_length ) %>
              <% end %>
            </h6>
            <div class="input-group">
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control form-input" %>
            </div>
          </div>
          <div class="field form-group">
            <h6><%= f.label :password_confirmation %></h6>
            <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control form-input" %>
            </div>
          </div>
          <div class="field form-group">
            <div class="input-group">
              <%= f.submit t("users.passwords.change_password") ,class:"btn primary-button users-primary-button" %>
              <%= link_to t("users.passwords.link_to_login_page"), new_user_session_path, class: "anchor-text mt-2" %>
            </div>
          </div>
          <div class="field form-group">
            <div class="input-group">
              <span class="users-text"><%= t("users.ask_new_user") %></span>
              <%= link_to t("sign_up"), new_user_registration_path, class:"anchor-text" %>
            </div>
          </div>
          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
