<div class="container">
  <div class="row feature">
    <div class="col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <h2>Change your password</h2>

      <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), method: :put, local: true) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New Password' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm New Password' %>
        </div>

        <div class="actions">
          <%= f.submit "Change my password" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
