<%= form_with(model: collaboration, local: true) do |form| %>
  <% if collaboration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collaboration.errors.count, "error") %> prohibited this collaboration from being saved:</h2>

      <ul>
      <% collaboration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :collaboration_user_id %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :collaboration_project_id %>
  </div>

  <div class="actions">
     <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
