<p id="notice"><%= notice %></p>

<h1>Collaborations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collaborations.each do |collaboration| %>
      <tr>
        <td><%= collaboration.user %></td>
        <td><%= collaboration.project %></td>
        <td><%= link_to 'Show', collaboration %></td>
        <td><%= link_to 'Edit', edit_collaboration_path(collaboration) %></td>
        <td><%= link_to 'Destroy', collaboration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collaboration', new_collaboration_path %>
