<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @collaboration.user %>
</p>

<p>
  <strong>Project:</strong>
  <%= @collaboration.project %>
</p>

<%= link_to 'Edit', edit_collaboration_path(@collaboration) %> |
<%= link_to 'Back', collaborations_path %>
