<!-- Add Categories Modal -->
<div id="addCategoriesModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header primary-modal-header">
        <h4 class="modal-title">Manage Categories</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Current Categories:</p>
        <div id="categories-list">
          <% if @categories.present? %>
            <% @categories.each do |category| %>
              <div id="category-<%= category.id %>" class="badge badge-info badge-pill">
                <%= category.name %>
                <%= link_to "×", question_category_path(category), method: :delete, class: "remove-category-btn", data: { confirm: "Are you sure you want to delete this category?" } %>
              </div>
            <% end %>
          <% else %>
            <p>No categories found.</p>
          <% end %>
        </div>

        <hr>

        <p>Add New Category:</p>
        <%= form_with(model: @category, url: question_categories_path, method: :post, local: true) do |form| %>
          <div class="form-group d-flex flex-column">
            <%= form.label :name, "Category Name" %>
            <%= form.text_field :name, class: "form-control", placeholder: "Enter category name" %>
          </div>
          <div class="modal-footer">
            <%= form.submit "Add Category", class: "btn primary-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
