<div id="deleteuserModal" class="modal fade" role="dialog">
  <div class="modal-dialog primary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header secondary-modal-header">
        <h4 class="modal-title"><%= t("delete") %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p><%= t("users.circuitverse.delete_user_confirmation") %></p>
        <%= form_with url: user_registration_path, method: :delete, local: true do |f| %>
          <div class="form-group">
            <%= f.label :password, t("users.circuitverse.password_confirmation") %>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
          <div class="modal-footer">
            <%= f.submit t("delete"), class: "btn primary-delete-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
