<% content_for :title, t("users.circuitverse.edit_profile.title", name: @profile.name) %>
<div class="container projects-new-container">
  <div class="row center-row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="submain-heading"><%= t("users.circuitverse.edit_profile.change_password") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs col-sm col-md col-lg">
      <div class="form-container">
        <%= form_with model: @profile, url: { action: "update_password" }, local: true do |f| %>
          <% if @profile.errors.any? %>
            <div class="error-message">
              <ul class="mt-3 mb-3">
                <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field form-group">
            <h6><%= f.label :current_password %></h6>
            <%= f.password_field :current_password, class: "form-control form-input" %>
          </div>
          <div class="field form-group">
            <h6><%= f.label :password %></h6>
            <%= f.password_field :password, class: "form-control form-input" %>
          </div>
          <div class="field form-group">
            <h6><%= f.label :password_confirmation %></h6>
            <%= f.password_field :password_confirmation, class: "form-control form-input" %>
          </div>
          <button type="submit" class="btn primary-button users-edit-primary-button"><%= t("save") %></button>
          <%= link_to t("back"), :back, class: "anchor-text" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

