<% if @results.empty? %>
  <div class="container search-no-results-container">
    <div class="row center-row">
      <div class="col-12">
        <div class="search-no-results-image">
          <%= image_tag "SVGs/noResult.svg", alt: "No result image" %>
          <h6><%= t("users.circuitverse.search.no_results") %></h6>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container search-container">
    <% @results.map { |user| ProfileDecorator.new(user) }.each do |profile| %>
      <div class="row center-row search-user-container">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="row center-row">
            <%= image_tag profile.profile_picture.url(:medium), alt: "project.name", class: "center-row search-usersearch-image" %>
            <p class=" center-row search-username"><%= profile.name %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 search-userdetails-container">
          <p class="search-user-details-text"><%= t("users.circuitverse.member_since_html", member_since: profile.member_since) %></p>
          <p class="search-user-details-text"><%= t("users.circuitverse.educational_institutes_html",educational_institute: profile.educational_institute) %></p>
          <p class="search-user-details-text"><%= t("users.circuitverse.country_html", country_name: profile.country_name) %></p>
          <p class="search-user-details-text"><%= t("users.circuitverse.total_circuits_made_html", total_circuits: profile.total_circuits) %></p>
          <a class="btn primary-button search-user-primary-button" target="_blank" href="<%= user_path(profile) %>"><%= t("view") %></a>
        </div>
      </div>
      <hr class="search-horizontal-rule">
    <% end %>
    <% unless @results.empty? %>
      <%= will_paginate(@results, renderer: SearchPaginateRenderer) %>
    <% end %>
  </div>
<% end %>
