<% if notice %>
  <div class="row" id='alertdiv'>
    <div class="alert alert-success alert-dismissible container text-center">
      <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
      <h6><%= notice %></h6>
    </div>
  </div>
<% end %>
<div class="container projects-new-container" data-controller="contest">
  <div class="">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-row">
      <h1 class="submain-heading"><%= t("contest.new_submission_page.heading") %></h1>
      <h2 class="submain-heading assignments-submain-heading">
        <%= t("contest.contest_container.contest_id") %> #<%= @contest.id %>
      </h2>
    </div>
    <div class="contest-page-line"></div>
    <div>
      <h5><%= t("contest.new_submission_page.select_your_circuit") %></h5>
      <p class="contest-header-sub-description">
        (*) <%= t("contest.new_submission_page.select_your_circuit_description") %>
      </p>
    </div>
    <div>
      <% if @submission&.errors&.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% @submission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: Submission.new,
              url:  contest_submission_path(@contest.id),
              local: true do |form| %>
        <% @projects.each do |project| %>
          <% if !project.featured? %>
            <div class="project-submission">
              <div class="project-submission-detail">
                <!-- Give the radio button an explicit id so specs can do `find("#submission_project_id_<id>")` -->
                <%= form.radio_button :project_id,
                                      project.id,
                                      id: "submission_project_id_#{project.id}",
                                      "data-action": "click->contest#enableSubmitButton" %>
                <i class="fas fa-code-branch ml-2"></i>
                <strong>
                  <span><%= project.author.name %> / <%= project.name %></span>
                </strong>
              </div>
              <div>
                <%= link_to t("view"),
                            user_project_path(project.author_id, project),
                            class: "btn primary-button",
                            id:    "project-more-button",
                            target: "_blank" %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= hidden_field_tag "contest_id", @contest.id %>

        <!--
          Add `contest-submission-button` class here so that
          `find(".contest-submission-button")` in the spec picks up exactly this button.
        -->
        <%= form.submit "Submit",
                        class: "btn primary-button contest-submission-button",
                        id:    "submission-submit-button",
                        disabled: true %>
      <% end %>
    </div>
  </div>
</div>
