<% content_for :title, t("about.title") %>

<div class="container">
  <div class="row center-row">
    <div class="col col-sm col-md col-lg">
      <h1 class="main-heading"><%= t("about.main_heading") %></h1>
        <p class="main-description"><%= t("about.main_description") %></p>
        <p class="centered-paragraph"><%= t("about.product_details") %></p>
    </div>
  </div>
  <div class="col col-sm col-md col-lg div-flex-center">
    <a class="btn primary-button" href="/tos" target="_blank"><%= t("about.terms_of_service") %></a>
    <a class="btn primary-button" href="/privacy" target="_blank"><%= t("about.privacy_policy") %></a>
  </div>
  <div class="row center-row">
    <div class="col col-sm col-md col-lg">
      <div class="social-card about-social-card-1">
        <a class="about-social-anchor" href="mailto:support@circuitverse.org" target="_blank">
          <%= image_tag "svgs/email.svg", height: "60", width: "60", alt: "Email Icon", class: "social-card-image" %>
          <h6><%= t("email_us_heading") %></h6>
          <p>support@circuitverse.org</p>
        </a>
      </div>
      <div class="social-card about-social-card-2">
        <a class="about-social-anchor" href="<%= Rails.configuration.slack_url %>" target="_blank">
          <%= image_tag "svgs/slack.svg", height: "60", width: "60", alt: "Slack Logo", class: "social-card-image" %>
          <h6><%= t("join_at_slack_heading") %></h6>
          <p><%= t("join_at_slack_description") %></p>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row center-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="main-heading"><%= t("about.core_team_heading") %></h2>
          <p class="main-description"><%= t("about.core_team_description") %></p>
        </div>
    </div>
    <div class="row center-row teams-section ">
        <% @cores.each do |member| %>
        <div class="team-member-container team-link ">
          <div class="team-underline">
            <a target="_blank" href="<%= member[:link] %>"><%= image_tag member[:img], class: "about-contributor-image" %><p class="team-footer "><%= member[:name] %></p></a>
          </div>
        </div>
        <% end %>
        <br><br>
    </div>
  </div>
  <br><br>
  <hr>
  <div class="container">
    <div class="row center-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="main-heading"><%= t("about.mentors_team_heading") %></h2>
          <p class="main-description"><%= t("about.mentors_team_description") %></p>
        </div>
    </div>
    <div class="row center-row teams-section">
        <% @mentors.each do |member| %>
        <div class="team-member-container team-link">
          <div class="team-underline">
            <a target="_blank" href="<%= member[:link] %>"><%= image_tag member[:img], class: "about-contributor-image" %><p class="team-footer"><%= member[:name] %></p></a>
          </div>
        </div>
        <% end %>
        <br><br>
    </div>
  </div>
  <br><br>
  <hr>

  <div class="container">
    <div class="row center-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="main-heading"><%= t("about.issues_triaging_team") %></h2>
          <p class="main-description"><%= t("about.issues_triaging_team_description") %></p>
        </div>
    </div>
    <div class="row center-row teams-section">
        <% @issues_triaging.each do |member| %>
        <div class="team-member-container team-link">
          <div class="team-underline">
            <a target="_blank" href="<%= member[:link] %>"><%= image_tag member[:img],alt: "User Image", class: "about-contributor-image" %><p class="team-footer"><%= member[:name] %></p></a>
          </div>
        </div>
        <% end %>
        <br><br>
    </div>
  </div>
  <br><br>
  <hr>

  <div class="container">
    <div class="row center-row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2 class="main-heading"><%= t("about.alumni_team_heading") %></h2>
          <p class="main-description"><%= t("about.alumni_team_description") %></p>
        </div>
    </div>
    <div class="row center-row teams-section">
        <% @alumni.each do |member| %>
        <div class="team-member-container team-link">
          <div class="team-underline">
            <a target="_blank" href="<%= member[:link] %>"><%= image_tag member[:img], class: "about-contributor-image " %><p class="team-footer underline"><%= member[:name] %></p></a>
          </div>
        </div>
        <% end %>
        <br><br>
    </div>
  </div>
  <br><br>
  <hr>
    <div class="row center-row">
      <div class="col col-sm col-md col-lg">
        <h2 class="submain-heading"><%= t("about.contributors_heading") %></h2>
        <h5><%= t("about.contributors_description") %></h5>
      </div>
    </div>
    
    <!-- Modern Contributors Cards Section -->
    <div class="contributors-section">
      <div class="contributors-grid">
        <% @top_contributors.each do |contributor| %>
          <div class="contributor-card">
            <div class="contributor-card-inner">
              <!-- Front of card -->
              <div class="contributor-card-front">
                <div class="contributor-avatar-container">
                  <%= image_tag contributor[:avatar], 
                       alt: contributor[:name], 
                       class: "contributor-avatar" %>
                  <div class="contributor-overlay">
                    <div class="contributor-social-links">
                      <a href="<%= contributor[:github_url] %>" target="_blank" class="social-link github-link" title="GitHub">
                        <i class="fab fa-github"></i>
                      </a>
                      <% if contributor[:website].present? %>
                        <a href="<%= contributor[:website] %>" target="_blank" class="social-link website-link" title="Website">
                          <i class="fas fa-globe"></i>
                        </a>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="contributor-info">
                  <h3 class="contributor-name"><%= contributor[:name] %></h3>
                  <p class="contributor-role"><%= contributor[:role] %></p>
                  <div class="contributor-stats">
                    <span class="contributions-count">
                      <i class="fas fa-code-branch"></i>
                      <%= contributor[:contributions] %> contributions
                    </span>
                  </div>
                </div>
              </div>
              
              <!-- Back of card -->
              <div class="contributor-card-back">
                <div class="contributor-back-content">
                  <h4><%= contributor[:name] %></h4>
                  <p class="contributor-bio"><%= contributor[:bio] %></p>
                  <div class="contributor-details">
                    <div class="contributor-detail">
                      <i class="fas fa-map-marker-alt"></i>
                      <span><%= contributor[:location] %></span>
                    </div>
                    <div class="contributor-detail">
                      <i class="fab fa-github"></i>
                      <span>@<%= contributor[:username] %></span>
                    </div>
                  </div>
                  <div class="contributor-back-actions">
                    <a href="<%= contributor[:github_url] %>" target="_blank" class="btn contributor-btn">
                      <i class="fab fa-github"></i>
                      View GitHub
                    </a>
                    <% if contributor[:website].present? %>
                      <a href="<%= contributor[:website] %>" target="_blank" class="btn contributor-btn secondary">
                        <i class="fas fa-globe"></i>
                        Website
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <!-- All Contributors Section -->
      <div class="all-contributors-section">
        <h3 class="all-contributors-title">All Contributors</h3>
        <p class="all-contributors-description">
          CircuitVerse is built by the community. Thank you to all our contributors!
        </p>
        <div class="about-contributors-section" id="all-contributors-container">
          <!-- Dynamic contributors will be loaded here -->
        </div>
      </div>
    </div>
    
    <br>
    <div class="row center-row">
      <div class="col col-sm col-md col-lg text-center">
        <a class="btn primary-button about-primary-button" href="/contribute"><%= t("about.become_contributor") %></a>
      </div>
    </div>
</div>

<script type="text/javascript">
  async function getContributors(url){
    let apiData = await fetch(url);
    let contributorsData = await apiData.json();
    let contributorUsers = contributorsData.filter(function(user) { return (user.type == 'User') });
    let container = document.getElementById('all-contributors-container');
    
    for (let i=0; i<contributorUsers.length; i++){
      let contributorElement = document.createElement('div');
      let contributorElementAnchor = document.createElement('a');
      let contributorElementImage = document.createElement('img');
      let contributorElementName = document.createElement('span');
      
      contributorElement.classList.add('about-contributor');
      contributorElementAnchor.href = contributorUsers[i]['html_url'];
      contributorElementAnchor.target = '_blank';
      contributorElementAnchor.title = contributorUsers[i]['login'];
      contributorElementImage.src = contributorUsers[i]['avatar_url'];
      contributorElementImage.classList.add('about-contributor-image');
      contributorElementName.classList.add('contributor-username');
      contributorElementName.textContent = contributorUsers[i]['login'];
      
      contributorElementAnchor.appendChild(contributorElementImage);
      contributorElementAnchor.appendChild(contributorElementName);
      contributorElement.appendChild(contributorElementAnchor);
      container.appendChild(contributorElement);
    }
  }
  
  // Add card flip functionality
  document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.contributor-card');
    
    cards.forEach(card => {
      card.addEventListener('click', function() {
        this.classList.toggle('flipped');
      });
    });
  });
  
  getContributors('https://api.github.com/repos/CircuitVerse/CircuitVerse/contributors?per_page=100');
</script>
