<%= form_with(model: custom_mail, local: true, multipart: true, id:"mailsForm") do |form| %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field" id="description">
    <%= form.label :content %><br>
    <%= render :partial => 'editor/index', :locals => {:content => @mail.content} %>
  </div>

  <div class="actions" onclick="before_submit()">
    <%= form.submit() %>
  </div>
<% end %>

<script>
  function before_submit() {
  $('<input />').attr('type', 'hidden')
    .attr('name', 'custom_mail[content]')
    .attr('value', $("#trumbowyg-editor").cleanHtml())
    .appendTo('#mailsForm');
  }
</script>
