<link rel="stylesheet" href="/css/custom_mailer.css">
<div class="container">
  <div class="row center-row">
    <div class="col-xs col-sm col-md col-lg">
      <h1 class="submain-heading"><%= t("custom_mails.mail_preview") %></h1> <br>
    </div>
  </div>
  <div class="row center-row">
    <div class="col-xs col-sm col-md col-lg">
      <%= link_to t("edit"), edit_custom_mail_path(@mail), class: "btn primary-button" %>
      <%= link_to t("custom_mails.send"), send_custom_mail_path(@mail), class: "btn primary-button" %>
      <%= link_to t("custom_mails.send_to_self"), send_custom_mail_self_path(@mail), class: "btn primary-button" %>
    </div>
  </div>
  <div class="row center-row">
    <div class="col-xs col-sm col-md col-lg">
      <h6 class="custom-mail-status">(<%= @mail.sent? ? t("custom_mails.mail_sent") : t("custom_mails.mail_not_sent") %>)</h6>
    </div>
  </div>
</div>
<div class="custom-mail-container">
  <%= render file: "user_mailer/custom_email", layout: "layouts/mailer", mail: @mail, user: @user, is_preview: @is_preview %>
</div>
