
<% content_for :title, @target.printable_target_name + " - Notifications" %>

<div class="notification_wrapper">
  <div class="notification_header">
    <h1 class="pl-3">
      Notifications to <%= @target.printable_target_name %>
      <%= link_to open_all_notifications_path_for(@target, @index_options.slice(:routing_scope, :devise_default_routes)), method: :post, remote: true do %>
        <span class="notification_count" style="display: table-caption;"><span class="<%= "unopened" if @target.has_unopened_notifications?(@index_options) %>">
          <%= @target.unopened_notification_count(@index_options) %>
        </span></span>
      <% end %>
    </h1>
  </div>
  <div class="notifications">
    <% if @index_options[:with_group_members] %>
      <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default_without_grouping, with_group_members: true) %>
    <% else %>
      <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default) %>
      <%#= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :text) %>
    <% end %>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 150px;">
     Browser notifications are:&nbsp;<strong id="browser-notifications-status">disabled</strong>&nbsp;&nbsp;
    <button class="btn btn-success" id="browser-notifications-permission-request">Enable</button>
  </div>
</div>

<style>
  .notification_wrapper .notification_header h1 span span{
    color: #fff;
    background-color: #e5e5e5;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
  }
  .notification_wrapper .notification_header h1 span span.unopened{
    background-color: #f87880;
  }
</style>

<%= javascript_include_tag "webpush" %>
