<div class="container empty-div">
</div>
<div class="container-fluid container-fluid-footer">
  <div class="container container-footer">
    <div class="row text-white">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 column-footer">
        <div class="row">
          <a href="/">
            <%= image_tag("CircuitVerseNew.png", class: "logo-bottom", alt: "CircuitVerse logo") %>
          </a>
        </div>
        <div class="row">
          <p class="mt-3 mb-0 footer-social">Follow us on:</p>
        </div>
        <div class="row">
          <a class="" href="/facebook" target="_blank"><%= image_tag("logos/facebook-logo.png", class: "footer-social-icon pt-2", alt: "Facebook logo") %></a>
          <a class="" href="/twitter" target="_blank"><%= image_tag("logos/twitter-logo.png", class: "footer-social-icon pt-2", alt: "Twitter logo") %></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 column-footer">
        <div class="row text-left">
          <div class="col-5 footer-links">
            <h6>Circuits</h6>
            <a href="/simulator"><h6>Simulator</h6></a>
            <a href="/learn" target="_blank"><h6>Learn</h6></a>
            <a href="/examples"><h6>Examples</h6></a>
            <% if user_signed_in? %>
              <a href="<%= user_path(current_user) %>"><h6>My Circuits</h6></a>
            <% else %>
              <a href="/users/sign_in"><h6>Login</h6></a>
            <% end %>
          </div>
          <div class="col-6 footer-links">
            <h6>Info</h6>
            <a href="/docs" target="_blank"><h6>Documentation</h6></a>
            <a href="/contribute"><h6>Contribute</h6></a>
            <a href="/teachers"><h6>Teachers</h6></a>
            <a href="/about"><h6>About</h6></a>
            <% if Flipper.enabled?(:forum) %>
              <%= link_to "Forum", simple_discussion_path %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 column-footer">
        <div class="row">
          <div class="col-6">
            <small class="text-left footer-logo-text">Brought to you by:</small>
            <a href="https://www.iiitb.ac.in/" target="_blank">
              <%= image_tag("footer/iiitb.png", class: "footer-logo mb-2", alt: "iiitb Logo") %>
            </a>
          </div>
          <div class="col-6">
            <small class="text-left footer-logo-text">Hosting Sponsor:</small>
            <a href="http://digitalocean.com/" target="_blank">
              <%= image_tag("footer/DO.png", class: "footer-logo mb-2", alt: "DO Logo") %>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <small class="text-left footer-logo-text">Marketed by:</small>
            <a href="http://www.iiitb.org/" target="_blank">
                  <%= image_tag("footer/istudio.png", class: "footer-logo", alt: "istudio Logo") %>
                </a>
          </div>
          <div class="col-6">
            <small class="text-left footer-logo-text">Developed By:</small>
            <a href="http://zense.co.in/" target="_blank">
              <%= image_tag("footer/zense.png", class: "footer-logo", alt: "Zense Logo") %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-white text-left row-copyright">
        <p>Copyright &copy; <script type="text/javascript"> document.write(new Date().getFullYear()); </script> CircuitVerse, All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
