<nav class="navbar navbar-expand-lg bg-white">
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsed-navbar" aria-controls="collapsedNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <%= image_tag("CircuitVerse.png", class: "navbar-logo", alt: "CircuitVerse Logo") %>
  </a>
  <% if user_signed_in? %>
    <div class="small-screen-element mb-2">
      <%= link_to notifications_path(current_user), class:"btn" do %>
      <%= content_tag :i, "", class: "fas fa-bell notification-icon" %>
    <% end %>
    </div>
  <% else %>
    <div class="nav-item px-2 small-screen-element">
      <a class="btn navbar-login-button <%= request.path == '/users/sign_in' ? 'active' : '' %>" href="/users/sign_in"><%= t("login") %></a>
    </div>
  <% end %>

  <div class="collapse navbar-collapse" id="collapsed-navbar">
    <ul class="navbar-nav navigationBar-item ml-2">
      <div class="small-screen-element py-1">
        <%= render "circuitverse_assets/search_bar" %>
      </div>
      <div class="navbar-nav nav-item dropdown links">
        <div class="nav-item px-1">
          <a class="nav-link dropdown-toggle navbar-item navbar-text" id="navbar-dropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-label="getting started"><%= t("layout.getting_started_dropdown") %></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-1">
            <a class="dropdown-item" href="https://learn.circuitverse.org/" target="_blank"><%= t("layout.link_to_learn_more") %></a>
            <a class="dropdown-item" href="https://docs.circuitverse.org/" target="_blank"><%= t("layout.link_to_docs") %></a>
          </div>
        </div>
      </div>
      <div class="nav-item px-1 links">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/features' ? 'active' : '' %>" href="/#home-features-section"><%= t("layout.link_to_features") %></a>
      </div>
      <div class="nav-item px-1 links">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/teachers' ? 'active' : '' %>" href="/teachers"><%= t("layout.link_to_teachers") %></a>
      </div>
      <div class="nav-item px-1 links">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/contribute' ? 'active' : '' %>" href="/contribute"><%= t("layout.link_to_contribute") %></a>
      </div>
      <div class="nav-item px-1 links">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/blog' ? 'active' : '' %>" href="https://blog.circuitverse.org/" target="_blank"><%= t("layout.link_to_blog") %></a>
      </div>
      <div class="nav-item px-1 links">
        <a class="nav-link navbar-item navbar-text <%= request.path == '/about' ? 'active' : '' %>" href="/about"><%= t("layout.link_to_about") %></a>
      </div>
    </ul>
    <div class="large-screen-element ml-auto" id="large-screen-search">
      <%= render "circuitverse_assets/search_bar" %>
    </div>
      <div class="nav-item px-2">
        <a class="btn navbar-simulator-text" href="/simulator"><%= t("layout.link_to_simulator") %></a>
      </div>
      <div class="large-screen-element">
        <%= render "layouts/notifications" %>
      </div>
      <% if user_signed_in? %>
      <div class="navbar-nav nav-item dropdown px-2">
        <div class="nav-item">
          <a class="nav-link dropdown-toggle navbar-item navbar-text navbar-user-dropdown navbar-profile-section" id="navbar-dropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-label="user">
            <%= image_tag current_user.profile_picture.url(:medium), class: "navbar-profile-picture"%>
            <div class="navbar-username-truncate small-screen-element"><%= current_user.name %></div>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-1">
            <a class="dropdown-item" href="<%= user_path(current_user) %>"><%= t("layout.header.dashboard") %></a>
            <a class="dropdown-item" href="<%= user_groups_path(current_user) %>"><%= t("layout.header.my_groups") %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><%= t("sign_out") %></a>
          </div>
        </div>
      </div>
      <% else %>
        <div class="nav-item px-2 large-screen-element">
          <a class="btn navbar-login-button <%= request.path == '/users/sign_in' ? 'active' : '' %>" href="/users/sign_in"><%= t("login") %></a>
        </div>
      <% end %>
  </div>
</nav>

<script type="text/javascript">
  const form = document.getElementById("large-screen-search").children[0].children[0]
  const list = [form.children[0], form.children[1], form.children[2].children[0], form.children[0].children[0], form.children[0].children[1]]
  const toggle = form.children[3].children[0]

  document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', (e) => {
      const clickedElement = e.target

      if (clickedElement == toggle) {
        form.classList.add("whole-search-bar")
        form.classList.remove("hidden-search-bar")
      }
      else if (list.includes(clickedElement)){
        form.classList.add("whole-search-bar")
        form.classList.remove("hidden-search-bar")
      }
      else {
        form.classList.remove("whole-search-bar")
        form.classList.add("hidden-search-bar")
      }
    });
  });
</script>
