
<html>
  <head>
    <title>CircuitVerse - Digital Circuit Simulator online</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'simulator', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'simulator', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/img/favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
