
<html>
  <head>
    <title><%= t("layout.simulator.title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'simulator', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'simulator', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
