<html>
  <head>
    <title>CircuitVerse - Digital Circuit Simulator online</title>
    <%= csrf_meta_tags %>
    <script>window.locale = "<%= I18n.locale %>"</script>
    <script src="/js/pace.js"></script>
    <%= javascript_include_tag 'testbench', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'simulator', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'testbench', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render partial: "layouts/google_analytics" if Rails.env.production? %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
