<p><%= t("users.mailer.user_welcome_msg", email: @resource.email) %></p>

<p><%= t("users.mailer.reset_password_request_msg") %></p>

<p><%= link_to t("users.mailer.link_to_reset_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("users.mailer.reset_password_description1") %></p>
<p><%= t("users.mailer.reset_password_description2") %></p>
