

<div class="container">
  <div class="row feature">

    <div class="col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true ,class:"form-control", placeholder: 'Name'%>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,class:"form-control", placeholder: 'Email'%>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder: 'Password' %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"form-control", placeholder: 'Confirm Password'%>
          </div>

          <div class="actions">
            <%= f.submit "Sign up",class:"btn btn-outline-info" %>
          </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>


  </div>
  <br />

  <br />



</div>
