<div class="container-fluid">
  <div class="row">

    <div class="col-lg-6 col-md-6 middle-block">
      <%= image_tag "SVGs/signup.svg", alt: "signup-logo", :class => "signup-cover center-block"%>
      <div class="welcome-text">
        <label>
        	Get yourself registered to start away with saving circuits, building groups and much more!
        </label>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 middle-block">
      <div class="form-container">
      	<h1 class="pb-3">Sign Up</h1>

      	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        	<%= devise_error_messages! %>

	        <div class="field form-group">
	          <%= f.label :name, class:"label-text" %>
	          <div class="input-group">
	            <%= f.text_field :name, autofocus: true ,class:"form-control custom-input"%>
	          </div>
	        </div>

	        <div class="field form-group">
	          <%= f.label :email, class:"label-text"%>
	          <div class="input-group">
	            <%= f.email_field :email, autofocus: true,class:"form-control custom-input"%>
	          </div>
	        </div>

	        <div class="field form-group">
	          <%= f.label :password, class:"label-text" %>
	          <% if @minimum_password_length %>
	            <em>(<%= @minimum_password_length %> characters minimum)</em>
	          <% end %>
	          <div class="input-group">
	          	<%= f.password_field :password, autocomplete: "off", class:"form-control custom-input", id:"signup-psw"%>
	          	<div class="input-group-addon" onclick="toggleSignupPassword()">
	              <i  class="fa fa-eye-slash password-icon" aria-hidden="true" id="toggle-psw-icon"></i>
	            </div>
	          </div>
	        </div>

	        <div class="field form-group mt-5">
	          <div class="input-group center-block">
	            <%= f.submit "Sign up" ,class:"btn custom-submit"%>
	            <span class="help-text"> Already Registered? </span>
	            <%= link_to "Log In", new_session_path(resource_name) ,class:"link-text pl-2"%>
	          </div>
	        </div>

	        <div class="field form-group mt-3">
	          <%= render "users/shared/links" %>
	        </div>
      	<% end %>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/signup.js"></script>


