<script src="/js/registration.js"></script>

<div class="container">
  <div class="row feature">

    <div class="col-xs-10 col-lg-6 col-md-8 col-s-10 col-centered">
      <h2>Sign up</h2>

      <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true ,class:"form-control", placeholder: 'Name'%>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true,class:"form-control", placeholder: 'Email'%>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder: 'Password' %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" ,class:"form-control", placeholder: 'Confirm Password'%>
          </div>

          <div class="field form-group" id="divStudentTeacher">
            <input class="btn btn-outline-info" id="schlStud" type="button" onclick="chooseStatus(0)" value="School Student" >
            <input class="btn btn-outline-info" id="collegeStud" type="button" onclick="chooseStatus(1)" value="College Student" >
            <input class="btn btn-outline-info" id="teach" type="button" onclick="chooseStatus(2)" value="Teacher" >
            <input class="btn btn-outline-info" type="button" onclick="chooseStatus(-1)" value="Other">
          </div>

          <div class="field form-group" id="schoolStudentGrp" style="display: none;">
            <label for="classYear1">Class Year</label>
            <input class="form-control" id="classYear1" type="text" placeholder = "Class Year">
            <label for="schoolName">School Name</label>
            <input class="form-control" id="schoolName" type="text" placeholder = "School Name">
          </div>

          <div class="field form-group" id="collegeStudentGrp" style="display: none;">
            <label for="classYear2">Class Year</label>
            <input class="form-control" id="classYear2" type="text" placeholder = "Class Year">
            <label for="fieldOfStudy">Branch Of Study</label>
            <input class="form-control" id="fieldOfStudy" type="text" placeholder = "Branch of Study Details">
          </div>

          <div class="field form-group" id="teacherGrp" style="display: none;">
            <label for="highestQual">Your Highest Qualificaton</label>
            <input class="form-control" id="highestQual" type="text" placeholder = "Qualificaton">
          </div>

          <div class="actions">
            <%= f.submit "Sign up",class:"btn btn-outline-info" %>
          </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>


  </div>
  <br />

  <br />



</div>
